<h1>Capstone 2 - NHL Salaries: 02_data_wrangling

**Follow up:**
* try to use code only to create list of 'other' countries
* drop capfriendly['POS']?
* drop ELC because their values are limited by the collective bargaining agreement

<h2>Import Libraries

In [4392]:
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
import seaborn as sns

<h2>Load Data

Data was gathered from two sources.  
1. Salary information was scraped from www.capfriendly.com for the 2023-24 season.  It also includes player performance statistics and advanced metrics for player performance.  
<br>**Note:** capfriendly.com was recently purchased and will reportedly be shut down on or after July 5, 2024. https://puckpedia.com/ is the current best alternative source of salary cap information.  <br>
<br>
2. Official player performance statistics from www.nhl.com

<h3> Load capfriendly.com data

 Data includes all players with an NHL contract in the 2023-34 season reguardless of whether they played a game or not

Data Reference: https://www.capfriendly.com/browse/active/2025/salary?stats-season=2024&display=signing-team,country,weight,height,draft,waivers-exempt,signing-status,expiry-year,performance-bonus,signing-bonus,caphit-percent,aav,length,minors-salary,base-salary,skater-individual-advanced-stats,skater-on-ice-advanced-stats,goalie-advanced-stats,arbitration-eligible,type,signing-age,signing-date,arbitration,extension

In [4393]:
capfriendly = pd.read_csv(r'/Users/ness/Desktop/Springboard/Projects/-Capstone 2/NHL Salaries/raw_data/23_24_capfriendly_extended_data.csv')

<h3>Load and combine NHL.com data

Data include only includes skaters (goalies excluded) who played in at least one game in the NHL during the 2023-24 season

In [4394]:
# specifying the path to .xlsx files
path = "/Users/ness/Desktop/Springboard/Projects/-Capstone 2/NHL Salaries/raw_data/"
 
# .xlsx files in the path
file_list = glob.glob(path + "/*.xlsx")
 
# list of excel files we want to merge.
excl_list = []
 
for file in file_list:
    excl_list.append(pd.read_excel(file))
 
# concatenate all DataFrames in the list
nhl_official_merged = pd.concat(excl_list, ignore_index=True)
nhl_official_merged.shape

(924, 24)

**Export merged NHL.com data to .csv**

In [4395]:
#nhl_official_merged.to_csv('/Users/ness/Desktop/Springboard/Projects/-Capstone 2/NHL Salaries/raw_data/nhl_official_merged.csv', index=False)

**change name of nhl_official_merged for ease of use**

In [4396]:
nhl = nhl_official_merged

#confirm same shape
nhl.shape

(924, 24)

<h2>Explore capfriendly.com data

Capfriendly Features with description:  
https://docs.google.com/document/d/1F8UDKo5p10ED4UygCGKGzrnNQBuGPRt0FqkQwN16b9M/edit?usp=sharing

Features from both datasets with current types and needed modifications:  
https://docs.google.com/document/d/1jo5o9vj3ags7nBWPP4MO-qoZKUys22-ipBtEQ6aPsE8/edit?usp=sharing

In [4397]:
capfriendly.head()

,PLAYER,TEAM,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,...,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,CAP HIT,CAP HIT %,AAV,SALARY
0,1. Nathan MacKinnon,COL,27,Canada,200,"6'0""",C,Right,82,51,...,27,NMC,8,UFA,UFA,2031,"$12,600,000",15.3%,"$12,600,000","$16,500,000"
1,2. Connor McDavid,EDM,26,Canada,193,"6'1""",C,Left,76,32,...,21,NMC,8,RFA,UFA,2026,"$12,500,000",16.7%,"$12,500,000","$11,000,000"
2,3. Artemi Panarin,NYR,31,Russia,170,"5'11""",LW,Right,82,49,...,27,NMC,7,UFA,UFA,2026,"$11,642,857",14.3%,"$11,642,857","$11,000,000"
3,4. Auston Matthews,TOR,25,United States,215,"6'3""",C,Left,81,69,...,21,NMC,5,RFA,UFA,2024,"$11,640,250",14.6%,"$11,640,250","$7,975,000"
4,5. Erik Karlsson,PIT,33,Sweden,190,"6'0""",RD,Right,82,11,...,29,NMC,8,UFA,UFA,2027,"$11,500,000",14.5%,"$11,500,000","$11,500,000"

In [4398]:
capfriendly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1571 entries, 0 to 1570
Data columns (total 58 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PLAYER        1571 non-null   object
 1   TEAM          1571 non-null   object
 2   AGE           1571 non-null   int64
 3   COUNTRY       1571 non-null   object
 4   WEIGHT        1571 non-null   int64
 5   HEIGHT        1571 non-null   object
 6   POS           1571 non-null   object
 7   HANDED        1571 non-null   object
 8   GP            1571 non-null   int64
 9   G             1571 non-null   object
 10  A             1571 non-null   object
 11  P             1571 non-null   object
 12  P/GP          1571 non-null   object
 13  +/-           1571 non-null   object
 14  Sh            1571 non-null   object
 15  Sh%           1571 non-null   object
 16  TOI           1095 non-null   object
 17  ixG           1571 non-null   object
 18  iSh           1571 non-null   object
 19  iCF           1571 non-null   object
 20  iFF           1571 non-null   object
 21  ixG60         1571 non-null   object
 22  iSh60         1571 non-null   object
 23  iCF60         1571 non-null   object
 24  iFF60         1571 non-null   object
 25  SF            1092 non-null   object
 26  SA            1092 non-null   object
 27  SF%           1571 non-null   object
 28  CF            1092 non-null   object
 29  CA            1092 non-null   object
 30  CF%           1571 non-null   object
 31  FF            1092 non-null   object
 32  FA            1092 non-null   object
 33  FF%           1571 non-null   object
 34  xGF           1571 non-null   object
 35  xGA           1571 non-null   object
 36  xGF%          1571 non-null   object
 37  W             1571 non-null   object
 38  L             1571 non-null   object
 39  SO            1571 non-null   object
 40  GAA           1571 non-null   object
 41  Sv%           1571 non-null   object
 42  GA60          1571 non-null   object
 43  xGA60         1571 non-null   object
 44  GSAx60        1571 non-null   object
 45  SIGNING TEAM  1571 non-null   object
 46  EXTENSION     419 non-null    object
 47  SIGNING DATE  1571 non-null   object
 48  SIGNING AGE   1571 non-null   int64
 49  CLAUSE        245 non-null    object
 50  LENGTH        1571 non-null   int64
 51  SIGNING       1571 non-null   object
 52  EXPIRY        1571 non-null   object
 53  EXP. YEAR     1571 non-null   int64
 54  CAP HIT       1571 non-null   object
 55  CAP HIT %     1571 non-null   object
 56  AAV           1571 non-null   object
 57  SALARY        1571 non-null   object
dtypes: int64(6), object(52)
memory usage: 712.0+ KB

In [4399]:
#save origional column names to list
capfriendly_orig_columns=capfriendly.columns.tolist()

In [4400]:
capfriendly_orig_columns

['PLAYER',
 'TEAM',
 'AGE',
 'COUNTRY',
 'WEIGHT',
 'HEIGHT',
 'POS',
 'HANDED',
 'GP',
 'G',
 'A',
 'P',
 'P/GP',
 '+/-',
 'Sh',
 'Sh%',
 'TOI',
 'ixG',
 'iSh',
 'iCF',
 'iFF',
 'ixG60',
 'iSh60',
 'iCF60',
 'iFF60',
 'SF',
 'SA',
 'SF%',
 'CF',
 'CA',
 'CF%',
 'FF',
 'FA',
 'FF%',
 'xGF',
 'xGA',
 'xGF%',
 'W',
 'L',
 'SO',
 'GAA',
 'Sv%',
 'GA60',
 'xGA60',
 'GSAx60',
 'SIGNING TEAM',
 'EXTENSION',
 'SIGNING DATE',
 'SIGNING AGE',
 'CLAUSE',
 'LENGTH',
 'SIGNING',
 'EXPIRY',
 'EXP. YEAR',
 'CAP HIT',
 'CAP HIT %',
 'AAV',
 'SALARY']

<h3> Drop irrelivant data

<h4>Limit capfriendly.com data to only skaters

In [4401]:
capfriendly.shape

(1571, 58)

In [4402]:
capfriendly = capfriendly[capfriendly['POS']!='G']
capfriendly.shape

(1400, 58)

<h4>Drop unnecessary columns

* The team that signed the player ('SIGNING TEAM') will affect salary number not the team they currently play for ('TEAM') so the current 'TEAM' will be dropped.
* 'W', 'L', 'SO', 'GAA', 'Sv%', 'GA60', 'xGA60', and 'GSAx60' are all statistics for goalies which are not included in this project
* 'CAP HIT', and  'CAP HIT %' are what the player's current team has against the salary cap for that player.  It includes any portion of the AAV held back by the previous team after a trade and therefore does not show the whole picture.
* salary is only a portion of the AAV calculation and can be front loaded or backloaded to a contract and therefore does not show the whole picture.

In [4403]:
drop = ['TEAM','W','L','SO','GAA','Sv%','GA60','xGA60','GSAx60','CAP HIT','CAP HIT %','SALARY']

capfriendly.drop(columns=drop, inplace=True)

In [4404]:
capfriendly.shape

(1400, 46)

In [4405]:
capfriendly_orig_columns_after_drop = capfriendly.columns.tolist()
capfriendly_orig_columns_after_drop

['PLAYER',
 'AGE',
 'COUNTRY',
 'WEIGHT',
 'HEIGHT',
 'POS',
 'HANDED',
 'GP',
 'G',
 'A',
 'P',
 'P/GP',
 '+/-',
 'Sh',
 'Sh%',
 'TOI',
 'ixG',
 'iSh',
 'iCF',
 'iFF',
 'ixG60',
 'iSh60',
 'iCF60',
 'iFF60',
 'SF',
 'SA',
 'SF%',
 'CF',
 'CA',
 'CF%',
 'FF',
 'FA',
 'FF%',
 'xGF',
 'xGA',
 'xGF%',
 'SIGNING TEAM',
 'EXTENSION',
 'SIGNING DATE',
 'SIGNING AGE',
 'CLAUSE',
 'LENGTH',
 'SIGNING',
 'EXPIRY',
 'EXP. YEAR',
 'AAV']

<h3><ins>Categorical data<ins>

In [4406]:
categorical=['COUNTRY', 'SIGNING TEAM', 'CLAUSE', 'SIGNING', 'EXPIRY','POS', 'HANDED']
capfriendly[categorical].head(10)

          COUNTRY SIGNING TEAM CLAUSE SIGNING EXPIRY     POS HANDED
0          Canada          COL    NMC     UFA    UFA       C  Right
1          Canada          EDM    NMC     RFA    UFA       C   Left
2          Russia          NYR    NMC     UFA    UFA      LW  Right
3   United States          TOR    NMC     RFA    UFA       C   Left
4          Sweden          SJS    NMC     UFA    UFA      RD  Right
5  Czech Republic          BOS    NMC     UFA    UFA      RW  Right
6          Canada          LAK  M-NTC     UFA    UFA      RD  Right
7          Canada          TOR    NMC     UFA    UFA   C, LW   Left
8          Canada          TOR    NMC     RFA    UFA      RW  Right
9          Canada          CGY    NMC     UFA    UFA  LW, RW   Left

**Country Data**  
countries with less than 5% of representation will be grouped into "Other" for the 'COUNTRY' category

In [4407]:
capfriendly['COUNTRY'].unique()

array(['Canada', 'Russia', 'United States', 'Sweden', 'Czech Republic',
       'Finland', 'Slovenia', 'Switzerland', 'Germany', 'Norway',
       'Denmark', 'Austria', 'Slovakia', 'Belarus', 'Latvia',
       'Netherlands', 'France', 'Uzbekistan', 'Poland', 'United Kingdom',
       'Australia', 'Belgium'], dtype=object)

**THIS IS A STEP I WANT TO FIGURE OUT HOW TO DO ONLY WITH CODE**
want: create filtering mask to then be able to change 'COUNTRY' values not in list to 'Other'

In [4408]:
#filtering mask? -- need to figure out
capfriendly['COUNTRY'].astype('category').value_counts(normalize=True)>0.05

COUNTRY
Canada             True
United States      True
Sweden             True
Russia             True
Finland            True
Czech Republic    False
Slovakia          False
Switzerland       False
Belarus           False
Germany           False
Norway            False
France            False
Denmark           False
Austria           False
Latvia            False
United Kingdom    False
Australia         False
Netherlands       False
Slovenia          False
Poland            False
Belgium           False
Uzbekistan        False
Name: proportion, dtype: bool

In [4409]:
# Manual work around for above
#create a list of countries representing > 5% of countries,
non_other = ['Canada', 'United States', 'Sweden', 'Russia', 'Finland']

In [4410]:
#replace countries not representing at least 5% with "Other"
capfriendly.loc[~capfriendly["COUNTRY"].isin(non_other), "COUNTRY"] = "Other"

In [4411]:
capfriendly['COUNTRY'].value_counts(normalize=True)

COUNTRY
Canada           0.438571
United States    0.277857
Sweden           0.092857
Other            0.085000
Russia           0.055000
Finland          0.050714
Name: proportion, dtype: float64

In [4412]:
#change data type to category
capfriendly['COUNTRY'] = capfriendly['COUNTRY'].astype('category')
capfriendly['COUNTRY'].dtype

CategoricalDtype(categories=['Canada', 'Finland', 'Other', 'Russia', 'Sweden',
                  'United States'],
, ordered=False)

<h4>Explore Signing Team

In [4413]:
#number of unique teams
len(capfriendly['SIGNING TEAM'].unique())

32

In [4414]:
#unique teams
capfriendly['SIGNING TEAM'].unique()

array(['COL', 'EDM', 'NYR', 'TOR', 'SJS', 'BOS', 'LAK', 'CGY', 'FLA',
       'BUF', 'DAL', 'CBJ', 'TBL', 'WSH', 'CHI', 'VGK', 'NYI', 'NSH',
       'MIN', 'NJD', 'DET', 'PIT', 'WPG', 'CAR', 'OTT', 'PHI', 'STL',
       'VAN', 'MTL', 'SEA', 'ARI', 'ANA'], dtype=object)

In [4415]:
#convert to category and ensure no whitespace
capfriendly['SIGNING TEAM']=capfriendly['SIGNING TEAM'].str.strip().astype('category')
capfriendly['SIGNING TEAM'].dtype

CategoricalDtype(categories=['ANA', 'ARI', 'BOS', 'BUF', 'CAR', 'CBJ', 'CGY', 'CHI',
                  'COL', 'DAL', 'DET', 'EDM', 'FLA', 'LAK', 'MIN', 'MTL',
                  'NJD', 'NSH', 'NYI', 'NYR', 'OTT', 'PHI', 'PIT', 'SEA',
                  'SJS', 'STL', 'TBL', 'TOR', 'VAN', 'VGK', 'WPG', 'WSH'],
, ordered=False)

<h4>Explore 'CLAUSE'

* 'CLAUSE' represents trade or movenment clauses in player contracts.  
    * 'NMC' means No Movement Clause
    * 'NTC' means No Trade Clause. 
    * A 'M-' in front of either means it is modified or limited to n teams. When it includes both it means it transfers from one to the other.  
* 'CLAUSE' can be a trade off for length or money in a contract negotiation

In [4416]:
#unique teams
capfriendly['CLAUSE'].unique()

array(['NMC', 'M-NTC', nan, 'M-NTC, NMC', 'NTC', 'NTC, NMC'], dtype=object)

In [4417]:
# Replace NaN values with 'None'
capfriendly.loc[capfriendly["CLAUSE"].isna(), "CLAUSE"] = 'None'

In [4418]:
#convert to category and ensure no whitespace
capfriendly['CLAUSE'] = capfriendly['CLAUSE'].str.strip().astype('category')
capfriendly['CLAUSE'].unique()

['NMC', 'M-NTC', 'None', 'M-NTC, NMC', 'NTC', 'NTC, NMC']
Categories (6, object): ['M-NTC', 'M-NTC, NMC', 'NMC', 'NTC', 'NTC, NMC', 'None']

<h4>Explore 'SIGNING' - Contract type @ signing

* 'SIGNING' represents free agent status at time of signing 
* 'UFA' means Unrestricted Free Agent, 'RFA' means Restricted Free Agent, and 'ELC' means Entry Level Contract
    * 'UFA' can sign with any team 
    * 'RFA' can only sign with current team or under certain situations can sign with another team but current team receives compensation in terms of future draft picks
    * 'ELC' is a specific type of contract for players entering the league and have strict regiulations especially reguarding salary and length.

In [4419]:
capfriendly['SIGNING'].value_counts()

SIGNING
UFA    535
ELC    511
RFA    354
Name: count, dtype: int64

In [4420]:
#convert to category and ensure no whitespace
capfriendly['SIGNING'] = capfriendly['SIGNING'].str.strip().astype('category')

In [4421]:
capfriendly['SIGNING'].unique()

['UFA', 'RFA', 'ELC']
Categories (3, object): ['ELC', 'RFA', 'UFA']

<h4>Explore 'EXPIRY' - Contract type @ expiration of contract

* 'EXPIRY' represents free agent status at time of contract expiration
* 'unrestricted' will include: 'UFA', 'UFANo QO' means Unrestricted Free Agent no Qualifing Offer and 'UFAGroup 6' which is UFA who has met age and experience requitements to become an UFA 
* 'restricted' will include: 'RFA' and '10.2(c)' which is a type of RFA who has not met age and experience requitements to become an UFA and therfore can only sign with their current organization
* Contracts explained: https://afpanalytics.com/nhl-business-statistic-glossary/#:~:text=Player%20Contracts,minimum%20salary%20%2B%20%24375%2C000).

In [4422]:
capfriendly['EXPIRY'].value_counts()

EXPIRY
UFA           660
RFA           583
UFANo QO       80
UFAGroup 6     52
10.2(c)        25
Name: count, dtype: int64

In [4423]:
#convert contract types to 'unrestricted' or 'restricted'
capfriendly.loc[capfriendly["EXPIRY"].isin(['UFA', 'UFANo QO', 'UFAGroup 6' ]), "EXPIRY"] = 'unrestricted'
capfriendly.loc[capfriendly["EXPIRY"].isin(['RFA', '10.2(c)' ]), "EXPIRY"] = 'restricted'

In [4424]:
# convert to category
capfriendly['EXPIRY'] = capfriendly['EXPIRY'].astype('category')

In [4425]:
capfriendly['EXPIRY'].unique()

['unrestricted', 'restricted']
Categories (2, object): ['restricted', 'unrestricted']

<h4>Explore 'POS' - Position

* Players cam play multiple positions: 'C' center, 'LW' left wing, 'RW' right wing, 'LD' left defence, 'RD' right defence

In [4426]:
#capfriendly positions: all positions they may play
capfriendly['POS'].unique()

array(['C', 'LW', 'RD', 'RW', 'C, LW', 'LW, RW', 'C, RW', 'LD', 'LW, C',
       'RW, C', 'C, RW, LW', 'LD/RD', 'RW, LW', 'C, LW, RW', 'LW, RW, C',
       'RW, C, LW', 'LW, C, RW', 'LD/RD, LW', 'D', 'RW, LW, C', 'LW, LD'],
      dtype=object)

In [4427]:
#explore position for ELC contract at signing 
capfriendly['POS'].loc[capfriendly['SIGNING']=='ELC'].value_counts(normalize=True)

POS
C            0.221135
LD           0.209393
LW           0.127202
RD           0.127202
RW           0.123288
LW, RW       0.037182
C, LW        0.029354
LW, C        0.027397
RW, C        0.025440
RW, LW       0.025440
LD/RD        0.015656
C, RW        0.013699
C, LW, RW    0.009785
LW, C, RW    0.001957
C, RW, LW    0.001957
D            0.001957
RW, LW, C    0.001957
Name: proportion, dtype: float64

In [4428]:
#explore position for ELC or RFA contract at signing 
capfriendly['POS'].loc[capfriendly['SIGNING'].isin(['RFA'])].value_counts(normalize=True)

POS
LD           0.138418
RD           0.138418
C            0.121469
LW, RW       0.104520
RW           0.096045
LD/RD        0.079096
RW, LW       0.076271
C, LW        0.056497
LW           0.053672
C, RW        0.042373
LW, C        0.036723
RW, C        0.025424
LW, RW, C    0.008475
C, LW, RW    0.008475
LW, C, RW    0.005650
C, RW, LW    0.002825
RW, C, LW    0.002825
LD/RD, LW    0.002825
Name: proportion, dtype: float64

In [4429]:
#primary position as listed  in oficial listed NHL stats
nhl['Pos'].value_counts()

Pos
D    315
C    297
L    171
R    141
Name: count, dtype: int64

**Reasoning to drop capfriendly['POS']:** Just because they play multiple positions doesnt mean it is a 50:50 split per position.  There is no way to tell if they play 50:50 at eack or 99:1 from the data.

**create list for follow up on when joined: capfriendly_follow_up**

In [4430]:
capfriendly_follow_up = [{'POS':'drop after join?  too many positions'}]

In [4431]:
# Defer to official NHL listed positions and drop capfriendly['POS']
#capfriendly.drop(columns='POS', inplace=True)

In [4432]:
#capfriendly.columns

<h4>Explore 'HANDED'

In [4433]:
capfriendly['HANDED'].value_counts()

HANDED
Left     858
Right    542
Name: count, dtype: int64

In [4434]:
#convert to category and ensure no whitespace
capfriendly['HANDED'] = capfriendly['HANDED'].str.strip().astype('category')

In [4435]:
capfriendly['HANDED'].unique()

['Right', 'Left']
Categories (2, object): ['Left', 'Right']

<h3><ins>Integer data<ins>

In [4436]:
# features needing to convert to 'int'
to_int = ['AGE', 'WEIGHT', 'HEIGHT', 'GP', 'G', 'A', 'P', '+/-', 'Sh', 'iSh', 'iCF', 'iFF', 'SF', 'SA', 'CF', 'CA', 'FF', 'FA', 'AAV']
capfriendly[to_int].head()

,AGE,WEIGHT,HEIGHT,GP,G,A,P,+/-,Sh,iSh,iCF,iFF,SF,SA,CF,CA,FF,FA,AAV
0,27,200,"6'0""",82,51,89,140,35,405,404,690,525,1331,787,2562,1516,1882,1115,"$12,600,000"
1,26,193,"6'1""",76,32,100,132,35,263,263,452,354,1195,683,2240,1238,1673,934,"$12,500,000"
2,31,170,"5'11""",82,49,71,120,18,302,303,651,431,1161,707,2342,1308,1723,987,"$11,642,857"
3,25,215,"6'3""",81,69,38,107,31,369,368,694,534,1127,673,2240,1473,1642,1025,"$11,640,250"
4,33,190,"6'0""",82,11,45,56,4,213,214,550,311,1291,881,2601,1749,1840,1332,"$11,500,000"

In [4437]:
#check data types and nulls
capfriendly[to_int].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400 entries, 0 to 1570
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     1400 non-null   int64
 1   WEIGHT  1400 non-null   int64
 2   HEIGHT  1400 non-null   object
 3   GP      1400 non-null   int64
 4   G       1400 non-null   object
 5   A       1400 non-null   object
 6   P       1400 non-null   object
 7   +/-     1400 non-null   object
 8   Sh      1400 non-null   object
 9   iSh     1400 non-null   object
 10  iCF     1400 non-null   object
 11  iFF     1400 non-null   object
 12  SF      921 non-null    object
 13  SA      921 non-null    object
 14  CF      921 non-null    object
 15  CA      921 non-null    object
 16  FF      921 non-null    object
 17  FA      921 non-null    object
 18  AAV     1400 non-null   object
dtypes: int64(3), object(16)
memory usage: 218.8+ KB

<h4>Convert features with no null values and that don't need modification before changing to 'int'

In [4438]:
to_int_basic = ['AGE', 'WEIGHT', 'GP', 'G', 'A', 'P', '+/-', 'Sh', 'iSh', 'iCF', 'iFF']
capfriendly[to_int_basic] = capfriendly[to_int_basic].astype('int')
capfriendly[to_int_basic].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400 entries, 0 to 1570
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     1400 non-null   int64
 1   WEIGHT  1400 non-null   int64
 2   GP      1400 non-null   int64
 3   G       1400 non-null   int64
 4   A       1400 non-null   int64
 5   P       1400 non-null   int64
 6   +/-     1400 non-null   int64
 7   Sh      1400 non-null   int64
 8   iSh     1400 non-null   int64
 9   iCF     1400 non-null   int64
 10  iFF     1400 non-null   int64
dtypes: int64(11)
memory usage: 131.2 KB

In [4439]:
#subset integer list to ones that need modifying
int_modify = [x for x in to_int if x not in to_int_basic]
capfriendly[int_modify].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400 entries, 0 to 1570
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HEIGHT  1400 non-null   object
 1   SF      921 non-null    object
 2   SA      921 non-null    object
 3   CF      921 non-null    object
 4   CA      921 non-null    object
 5   FF      921 non-null    object
 6   FA      921 non-null    object
 7   AAV     1400 non-null   object
dtypes: object(8)
memory usage: 98.4+ KB

<h4>Explore 'HEIGHT'

* change from foot, inches to inches

In [4440]:
#remove " from HEIGHT
capfriendly['HEIGHT'] = capfriendly['HEIGHT'].astype(str).str.replace('"', '')

In [4441]:
# convert to inches
capfriendly["HEIGHT_in"] = (capfriendly.HEIGHT.str.split("'").str[0].astype(int) * 12) + (
    capfriendly.HEIGHT.str.split("'").str[1].astype(int))
capfriendly["HEIGHT_in"].head()

0    72
1    73
2    71
3    75
4    72
Name: HEIGHT_in, dtype: int64

In [4442]:
#replace HEIGHT in lists
to_int[2] = 'HEIGHT_in'
int_modify[0]="HEIGHT_in"
f"{to_int}, {int_modify}"

"['AGE', 'WEIGHT', 'HEIGHT_in', 'GP', 'G', 'A', 'P', '+/-', 'Sh', 'iSh', 'iCF', 'iFF', 'SF', 'SA', 'CF', 'CA', 'FF', 'FA', 'AAV'], ['HEIGHT_in', 'SF', 'SA', 'CF', 'CA', 'FF', 'FA', 'AAV']"

<h4>Explore integer advanced stats - 'SF', 'SA', 'CF', 'CA', 'FF', 'FA'

In [4443]:
capfriendly[int_modify].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400 entries, 0 to 1570
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   HEIGHT_in  1400 non-null   int64
 1   SF         921 non-null    object
 2   SA         921 non-null    object
 3   CF         921 non-null    object
 4   CA         921 non-null    object
 5   FF         921 non-null    object
 6   FA         921 non-null    object
 7   AAV        1400 non-null   object
dtypes: int64(1), object(7)
memory usage: 98.4+ KB

<h4>Explore Nan

In [4444]:
capfriendly.loc[capfriendly['SF'].isna()].T

,53,72,94,98,122,159,177,401,418,498,...,1542,1543,1549,1550,1552,1557,1558,1559,1560,1561
PLAYER,54. Jakub Voracek,73. Shea Weber,95. Gabriel Landeskog,99. Brent Seabrook,123. Ryan Ellis,160. Jake Muzzin,178. Bryan Little,402. Tucker Poolman,419. Radim Simek,499. Riley Stillman,...,1543. Sheldon Dries,1544. Matt Kiersted,1550. Brad Malone,1551. Chris Wideman,1553. Taylor Fedun,1558. Matthew Peca,1559. Markus Niemeläinen,1560. Kyle Clifford,1561. Billy Sweezey,1562. Seth Griffith
AGE,33,37,30,38,32,34,35,30,30,25,...,29,25,34,33,35,30,25,32,27,30
COUNTRY,Other,Canada,Sweden,Canada,Canada,Canada,Canada,United States,Other,Canada,...,United States,United States,Canada,United States,Canada,Canada,Finland,Canada,United States,Canada
WEIGHT,214,230,215,220,180,217,191,199,200,196,...,180,181,217,183,200,182,190,217,205,191
HEIGHT,6'2,6'4,6'1,6'3,5'10,6'3,6'0,6'2,5'11,6'1,...,5'9,6'0,6'2,5'10,6'1,5'9,6'6,6'2,6'2,5'9
POS,"RW, LW",RD,"LW, C",RD,RD,LD,"C, RW",RD,LD/RD,LD,...,C,LD,"C, LW",RD,RD,"LW, C",LD,LW,RD,"RW, C"
HANDED,Left,Right,Left,Right,Right,Left,Right,Right,Left,Left,...,Left,Left,Left,Right,Right,Left,Left,Left,Right,Right
GP,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
G,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P/GP,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
+/-,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Sh,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Sh%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
TOI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ixG,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
iSh,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
iCF,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
iFF,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ixG60,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
iSh60,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
iCF60,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
iFF60,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
SF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SF%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
CF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CF%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
FF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FF%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
xGF,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
xGA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
xGF%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
SIGNING TEAM,PHI,NSH,COL,CHI,NSH,TOR,WPG,VAN,SJS,CHI,...,VAN,FLA,EDM,MTL,PIT,STL,EDM,TOR,CBJ,EDM
EXTENSION,✔,NaN,✔,✔,✔,✔,✔,NaN,✔,✔,...,✔,✔,✔,✔,✔,✔,✔,✔,NaN,✔
SIGNING DATE,"Jul. 30, 2015","Jul. 24, 2012","Jul. 27, 2021","Sep. 26, 2015","Aug. 14, 2018","Feb. 24, 2020","Sep. 14, 2017","Jul. 28, 2021","Mar. 3, 2020","Apr. 25, 2021",...,"Jun. 27, 2022","Jun. 27, 2022","Jun. 13, 2022","Jun. 6, 2022","May 25, 2022","Mar. 23, 2022","Mar. 10, 2022","Mar. 9, 2022","Mar. 7, 2022","Mar. 3, 2022"
SIGNING AGE,25,26,28,31,28,31,30,28,27,23,...,28,24,33,32,34,29,24,31,26,29
CLAUSE,None,None,NMC,M-NTC,None,M-NTC,M-NTC,None,None,None,...,None,None,None,None,None,None,None,None,None,None
LENGTH,8,14,8,8,8,4,6,4,4,3,...,2,2,2,2,2,2,2,2,2,2
SIGNING,UFA,RFA,UFA,UFA,UFA,UFA,UFA,UFA,UFA,RFA,...,UFA,RFA,UFA,UFA,UFA,UFA,RFA,UFA,UFA,UFA
EXPIRY,unrestricted,unrestricted,unrestricted,unrestricted,unrestricted,unrestricted,unrestricted,unrestricted,unrestricted,unrestricted,...,unrestricted,unrestricted,unrestricted,unrestricted,unrestricted,unrestricted,unrestricted,unrestricted,unrestricted,unrestricted
EXP. YEAR,2024,2026,2029,2024,2027,2024,2024,2025,2024,2024,...,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024
AAV,"$8,250,000","$7,857,143","$7,000,000","$6,875,000","$6,250,000","$5,625,000","$5,291,667","$2,500,000","$2,250,000","$1,350,000",...,"$762,500","$762,500","$762,500","$762,500","$762,500","$762,500","$762,500","$762,500","$762,500","$762,500"
HEIGHT_in,74,76,73,75,70,75,72,74,71,73,...,69,72,74,70,73,69,78,74,74,69

**replace nan integer advanced stats with with 0**
* the three players with NaN values only played 1 game and all of the other advanced stats are 0
    *advanced stats are pulled from a seperate company and included in the capfriendly data

In [4445]:
capfriendly.update(capfriendly[['SF', 'SA', 'CF', 'CA', 'FF', 'FA']].fillna(0))
capfriendly[['SF', 'SA', 'CF', 'CA', 'FF', 'FA']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400 entries, 0 to 1570
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SF      1400 non-null   object
 1   SA      1400 non-null   object
 2   CF      1400 non-null   object
 3   CA      1400 non-null   object
 4   FF      1400 non-null   object
 5   FA      1400 non-null   object
dtypes: object(6)
memory usage: 76.6+ KB

**Convert advanced stats to int**

In [4446]:
for i in ['SF', 'SA', 'CF', 'CA', 'FF', 'FA']:
    capfriendly[i] = capfriendly[i].astype('int')

#confirm
capfriendly[['SF', 'SA', 'CF', 'CA', 'FF', 'FA']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400 entries, 0 to 1570
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SF      1400 non-null   int64
 1   SA      1400 non-null   int64
 2   CF      1400 non-null   int64
 3   CA      1400 non-null   int64
 4   FF      1400 non-null   int64
 5   FA      1400 non-null   int64
dtypes: int64(6)
memory usage: 76.6 KB

<h4>Explore AAV

In [4447]:
capfriendly['AAV'].head()

0    $12,600,000
1    $12,500,000
2    $11,642,857
3    $11,640,250
4    $11,500,000
Name: AAV, dtype: object

In [4448]:
#drop '$' and ',' then convert to int 
capfriendly['AAV'] = capfriendly['AAV'].str.strip("$").str.replace(',', '').astype('int')
capfriendly['AAV'].head()

0    12600000
1    12500000
2    11642857
3    11640250
4    11500000
Name: AAV, dtype: int64

<h4>Convert remaining int_modify to int

In [4449]:
capfriendly[to_int].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400 entries, 0 to 1570
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AGE        1400 non-null   int64
 1   WEIGHT     1400 non-null   int64
 2   HEIGHT_in  1400 non-null   int64
 3   GP         1400 non-null   int64
 4   G          1400 non-null   int64
 5   A          1400 non-null   int64
 6   P          1400 non-null   int64
 7   +/-        1400 non-null   int64
 8   Sh         1400 non-null   int64
 9   iSh        1400 non-null   int64
 10  iCF        1400 non-null   int64
 11  iFF        1400 non-null   int64
 12  SF         1400 non-null   int64
 13  SA         1400 non-null   int64
 14  CF         1400 non-null   int64
 15  CA         1400 non-null   int64
 16  FF         1400 non-null   int64
 17  FA         1400 non-null   int64
 18  AAV        1400 non-null   int64
dtypes: int64(19)
memory usage: 218.8 KB

<h3><ins>Float<ins>

In [4450]:
#explore
to_float = ['P/GP', 'TOI', 'Sh%', 'ixG', 'ixG60', 'iSh60', 'iCF60', 'iFF60', 'SF%', 'CF%', 'FF%', 'xGF', 'xGA', 'xGF%']
capfriendly[to_float].head()

,P/GP,TOI,Sh%,ixG,ixG60,iSh60,iCF60,iFF60,SF%,CF%,FF%,xGF,xGA,xGF%
0,1.71,22:48,0.13,38.35,1.24,13.08,22.34,17.00,62.84,62.82,62.80,154.32,83.13,64.98
1,1.74,21:21,0.12,34.08,1.26,9.72,16.71,13.08,63.63,64.40,64.17,157.57,74.52,67.89
2,1.46,20:07,0.16,32.07,1.17,11.02,23.68,15.68,62.15,64.16,63.58,143.38,77.31,64.97
3,1.32,20:57,0.19,50.16,1.77,13.00,24.52,18.87,62.61,60.33,61.57,147.28,80.43,64.68
4,0.68,24:16,0.05,12.27,0.37,6.45,16.57,9.38,59.44,59.79,58.01,156.87,99.90,61.09

In [4451]:
capfriendly[to_float].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400 entries, 0 to 1570
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   P/GP    1400 non-null   object
 1   TOI     924 non-null    object
 2   Sh%     1400 non-null   object
 3   ixG     1400 non-null   object
 4   ixG60   1400 non-null   object
 5   iSh60   1400 non-null   object
 6   iCF60   1400 non-null   object
 7   iFF60   1400 non-null   object
 8   SF%     1400 non-null   object
 9   CF%     1400 non-null   object
 10  FF%     1400 non-null   object
 11  xGF     1400 non-null   object
 12  xGA     1400 non-null   object
 13  xGF%    1400 non-null   object
dtypes: object(14)
memory usage: 164.1+ KB

<h4>Explore 'TOI' - Average Time On Ice per game

* capfriendly includes all players with a contract whereas NHL official data is only for players that have played during the season
* a NaN number in capfriendly['TOI'] means the player has not played in the NHL during the season

In [4452]:
#check if length of nhl equal to length of capfriendly with no nan
f"len(nhl) == sum(capfriendly['TOI'].notna()): {len(nhl) == sum(capfriendly['TOI'].notna())}"

"len(nhl) == sum(capfriendly['TOI'].notna()): True"

**drop players who didn't play in the NHL during the season: drop nan**

In [4453]:
#drop nan in TOI
capfriendly = capfriendly.dropna(subset=['TOI']).reset_index(drop=True)
capfriendly

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,EXTENSION,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in
0,1. Nathan MacKinnon,27,Canada,200,6'0,C,Right,82,51,89,...,✔,"Sep. 20, 2022",27,NMC,8,UFA,unrestricted,2031,12600000,72
1,2. Connor McDavid,26,Canada,193,6'1,C,Left,76,32,100,...,✔,"Jul. 5, 2017",21,NMC,8,RFA,unrestricted,2026,12500000,73
2,3. Artemi Panarin,31,Russia,170,5'11,LW,Right,82,49,71,...,NaN,"Jul. 1, 2019",27,NMC,7,UFA,unrestricted,2026,11642857,71
3,4. Auston Matthews,25,United States,215,6'3,C,Left,81,69,38,...,✔,"Feb. 5, 2019",21,NMC,5,RFA,unrestricted,2024,11640250,75
4,5. Erik Karlsson,33,Sweden,190,6'0,RD,Right,82,11,45,...,✔,"Jun. 17, 2019",29,NMC,8,UFA,unrestricted,2027,11500000,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,1566. Jalen Chatfield,27,United States,188,6'1,RD,Right,72,8,14,...,✔,"Jan. 21, 2022",26,None,2,RFA,unrestricted,2024,762500,73
920,1567. Parker Kelly,24,Canada,188,6'0,LW,Left,80,8,10,...,✔,"Oct. 12, 2021",23,None,2,RFA,unrestricted,2024,762500,72
921,1569. Boris Katchouk,25,Canada,179,6'1,LW,Left,59,7,6,...,NaN,"Jul. 31, 2021",23,None,3,RFA,unrestricted,2024,758333,73
922,1570. Taylor Raddysh,25,Canada,198,6'2,RW,Right,73,5,9,...,NaN,"Jul. 30, 2021",23,None,3,RFA,unrestricted,2024,758333,74
923,1571. Alex Barré-Boulet,26,Canada,168,5'9,"RW, LW",Left,36,6,3,...,NaN,"Jul. 30, 2021",24,None,3,RFA,unrestricted,2024,758333,69

In [4454]:
capfriendly
#confirm
#f"nhl: {len(nhl)} capfrienly: {len(capfriendly)}"

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,EXTENSION,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in
0,1. Nathan MacKinnon,27,Canada,200,6'0,C,Right,82,51,89,...,✔,"Sep. 20, 2022",27,NMC,8,UFA,unrestricted,2031,12600000,72
1,2. Connor McDavid,26,Canada,193,6'1,C,Left,76,32,100,...,✔,"Jul. 5, 2017",21,NMC,8,RFA,unrestricted,2026,12500000,73
2,3. Artemi Panarin,31,Russia,170,5'11,LW,Right,82,49,71,...,NaN,"Jul. 1, 2019",27,NMC,7,UFA,unrestricted,2026,11642857,71
3,4. Auston Matthews,25,United States,215,6'3,C,Left,81,69,38,...,✔,"Feb. 5, 2019",21,NMC,5,RFA,unrestricted,2024,11640250,75
4,5. Erik Karlsson,33,Sweden,190,6'0,RD,Right,82,11,45,...,✔,"Jun. 17, 2019",29,NMC,8,UFA,unrestricted,2027,11500000,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,1566. Jalen Chatfield,27,United States,188,6'1,RD,Right,72,8,14,...,✔,"Jan. 21, 2022",26,None,2,RFA,unrestricted,2024,762500,73
920,1567. Parker Kelly,24,Canada,188,6'0,LW,Left,80,8,10,...,✔,"Oct. 12, 2021",23,None,2,RFA,unrestricted,2024,762500,72
921,1569. Boris Katchouk,25,Canada,179,6'1,LW,Left,59,7,6,...,NaN,"Jul. 31, 2021",23,None,3,RFA,unrestricted,2024,758333,73
922,1570. Taylor Raddysh,25,Canada,198,6'2,RW,Right,73,5,9,...,NaN,"Jul. 30, 2021",23,None,3,RFA,unrestricted,2024,758333,74
923,1571. Alex Barré-Boulet,26,Canada,168,5'9,"RW, LW",Left,36,6,3,...,NaN,"Jul. 30, 2021",24,None,3,RFA,unrestricted,2024,758333,69

**convert TOI from MM:SS to minutes as float**

In [4455]:
capfriendly['TOI'][0]

'22:48'

In [4456]:
22+48/60

22.8

In [4457]:
capfriendly['TOI_min']=capfriendly.TOI.str.split(":").str[0].astype(float) + (capfriendly.TOI.str.split(":").str[1].astype(float)/60)

capfriendly['TOI_min'].head()

0    22.800000
1    21.350000
2    20.116667
3    20.950000
4    24.266667
Name: TOI_min, dtype: float64

<h4>Convert to_float to float

In [4458]:
#swap TOI with TOI_min
to_float_mod = ['P/GP', 'TOI_min', 'Sh%', 'ixG', 'ixG60', 'iSh60', 'iCF60', 'iFF60', 'SF%', 'CF%', 'FF%', 'xGF', 'xGA', 'xGF%']

In [4459]:
# convert to float and round to 2 decimal places
capfriendly[to_float_mod] = round(capfriendly[to_float_mod].astype(float),2)
capfriendly[to_float_mod].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924 entries, 0 to 923
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   P/GP     924 non-null    float64
 1   TOI_min  924 non-null    float64
 2   Sh%      924 non-null    float64
 3   ixG      924 non-null    float64
 4   ixG60    924 non-null    float64
 5   iSh60    924 non-null    float64
 6   iCF60    924 non-null    float64
 7   iFF60    924 non-null    float64
 8   SF%      924 non-null    float64
 9   CF%      924 non-null    float64
 10  FF%      924 non-null    float64
 11  xGF      924 non-null    float64
 12  xGA      924 non-null    float64
 13  xGF%     924 non-null    float64
dtypes: float64(14)
memory usage: 101.2 KB

<h3><ins>Boolean<ins>

<h4> Explore 'EXTENSION'

* 'EXTENSION' represents whether the current contract was signed as an extention with signing team
    * Contracts signed as an extension have different regulations than those signed as a free agent.  The biggest difference is 'LENGTH' can be 8 years for an extension vs 7 years for a free agent.
    * '✔' will be replaced with 'True' and nan will be replaced with 'False'

In [4460]:
capfriendly['EXTENSION'].value_counts()

EXTENSION
✔    320
Name: count, dtype: int64

In [4461]:
capfriendly['EXTENSION'].head()

0      ✔
1      ✔
2    NaN
3      ✔
4      ✔
Name: EXTENSION, dtype: object

**Replace '✔' with True and nan with False**

In [4462]:
#replace
capfriendly.loc[~capfriendly['EXTENSION'].isna(),'EXTENSION'] = True
capfriendly.loc[capfriendly['EXTENSION'].isna(),'EXTENSION'] = False

#check
capfriendly['EXTENSION'].value_counts()

EXTENSION
False    604
True     320
Name: count, dtype: int64

In [4463]:
capfriendly['EXTENSION'].head()

0     True
1     True
2    False
3     True
4     True
Name: EXTENSION, dtype: object

<h3><ins>Datetime<ins>

<h4>Explore 'SIGNING DATE'

In [4464]:
capfriendly['SIGNING DATE'].head()

0    Sep. 20, 2022
1     Jul. 5, 2017
2     Jul. 1, 2019
3     Feb. 5, 2019
4    Jun. 17, 2019
Name: SIGNING DATE, dtype: object

In [4465]:
capfriendly['SIGNING DATE'].describe()

count              924
unique             479
top       Jul. 1, 2023
freq               104
Name: SIGNING DATE, dtype: object

In [4466]:
#remove '.' from signing date before converting to datetime
capfriendly['SIGNING DATE'] = capfriendly['SIGNING DATE'].str.replace('.', '')

In [4467]:
# convert to datetime using pd.to_datetime with predefined format
capfriendly['SIGNING DATE'] = pd.to_datetime(capfriendly['SIGNING DATE'], format='%b %d, %Y')
capfriendly['SIGNING DATE'].head()

0   2022-09-20
1   2017-07-05
2   2019-07-01
3   2019-02-05
4   2019-06-17
Name: SIGNING DATE, dtype: datetime64[ns]

In [4468]:
capfriendly['SIGNING DATE']

0     2022-09-20
1     2017-07-05
2     2019-07-01
3     2019-02-05
4     2019-06-17
         ...
919   2022-01-21
920   2021-10-12
921   2021-07-31
922   2021-07-30
923   2021-07-30
Name: SIGNING DATE, Length: 924, dtype: datetime64[ns]

<h3><ins>String data<ins>

<h4>Remove list numbering from name in 'PLAYER'

In [4469]:
capfriendly['PLAYER'].head()

0    1. Nathan MacKinnon
1      2. Connor McDavid
2      3. Artemi Panarin
3     4. Auston Matthews
4       5. Erik Karlsson
Name: PLAYER, dtype: object

In [4470]:
capfriendly['PLAYER']=capfriendly['PLAYER'].str.lstrip('1234567890.')
capfriendly['PLAYER']=capfriendly['PLAYER'].astype('str')
capfriendly['PLAYER']

0        Nathan MacKinnon
1          Connor McDavid
2          Artemi Panarin
3         Auston Matthews
4           Erik Karlsson
              ...
919       Jalen Chatfield
920          Parker Kelly
921        Boris Katchouk
922        Taylor Raddysh
923     Alex Barré-Boulet
Name: PLAYER, Length: 924, dtype: object

**Remove white spaces**

In [4471]:
capfriendly['PLAYER'] = capfriendly['PLAYER'].str.strip()

In [4472]:
# count of players names
capfriendly['PLAYER'].value_counts()

PLAYER
Corey Perry          2
Sebastian Aho        2
Nathan MacKinnon     1
Tyson Foerster       1
Jayden Struble       1
                    ..
Scott Laughton       1
Dylan DeMelo         1
Mathieu Joseph       1
Alex Newhook         1
Alex Barré-Boulet    1
Name: count, Length: 922, dtype: int64

**Show Duplicated players**
* There are two players named 'Sebastian Aho'.  One is a Defenseman for NYI and the other is a Center for CAR
* Corey Perry had his contract terminated early in the season (CHI for 16 games) and signed with a different team later in the same season (EDM for 38 games)

In [4473]:
players= capfriendly['PLAYER']
capfriendly[players.isin(players[players.duplicated()])].sort_values('PLAYER')

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
243,Corey Perry,38,Canada,205,6'3,RW,Right,54,12,10,...,2023-06-30,38,None,1,UFA,unrestricted,2024,4000000,75,13.37
759,Corey Perry,38,Canada,205,6'3,RW,Right,54,12,10,...,2024-01-22,38,None,1,UFA,unrestricted,2024,1100000,75,13.37
46,Sebastian Aho,25,Finland,176,6'0,C,Left,78,36,53,...,2019-07-01,21,None,5,RFA,unrestricted,2024,8460250,72,19.62
694,Sebastian Aho,27,Sweden,176,5'10,LD,Left,58,2,7,...,2022-07-09,26,None,2,UFA,unrestricted,2024,825000,70,16.38

**'Corey Perry' duplicate**
* Corey Perry had his contract terminated early in the season (CHI for 16 games) and signed with a different team later in the same season (EDM for 38 games)

In [4474]:
capfriendly[players.isin(['Corey Perry'])].T

                              243                  759
PLAYER                Corey Perry          Corey Perry
AGE                            38                   38
COUNTRY                    Canada               Canada
WEIGHT                        205                  205
HEIGHT                        6'3                  6'3
POS                            RW                   RW
HANDED                      Right                Right
GP                             54                   54
G                              12                   12
A                              10                   10
P                              22                   22
P/GP                         0.41                 0.41
+/-                            -6                   -6
Sh                             82                   82
Sh%                          0.15                 0.15
TOI                         13:22                13:22
ixG                         13.56                13.56
iSh                            82                   82
iCF                           143                  143
iFF                           120                  120
ixG60                        1.14                 1.14
iSh60                        6.97                 6.97
iCF60                       12.15                12.15
iFF60                       10.19                10.19
SF                            347                  347
SA                            308                  308
SF%                         52.98                52.98
CF                            730                  730
CA                            597                  597
CF%                         55.01                55.01
FF                            510                  510
FA                            452                  452
FF%                         53.01                53.01
xGF                         42.14                42.14
xGA                         29.57                29.57
xGF%                        58.76                58.76
SIGNING TEAM                  CHI                  EDM
EXTENSION                    True                False
SIGNING DATE  2023-06-30 00:00:00  2024-01-22 00:00:00
SIGNING AGE                    38                   38
CLAUSE                       None                 None
LENGTH                          1                    1
SIGNING                       UFA                  UFA
EXPIRY               unrestricted         unrestricted
EXP. YEAR                    2024                 2024
AAV                       4000000              1100000
HEIGHT_in                      75                   75
TOI_min                     13.37                13.37

**Drop duplicate**  
Based on knowledge of Corey Perry's previous contracts and the value of the contract he signed with EDM for the 2024-25 season, I will drop the duplicate at index 243 representing his first contract with CHI.

In [4475]:
#confirm index
capfriendly.iloc[[243]]

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
243,Corey Perry,38,Canada,205,6'3,RW,Right,54,12,10,...,2023-06-30,38,None,1,UFA,unrestricted,2024,4000000,75,13.37

In [4476]:
#Drop row  inplace
capfriendly.drop(243, inplace=True)

In [4477]:
#reset index
capfriendly.reset_index(drop=True, inplace=True)

In [4478]:
#confirm
capfriendly.iloc[[243]]

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
243,Nick Foligno,35,United States,208,6'0,"LW, C, RW",Left,74,17,20,...,2023-06-27,35,None,1,UFA,unrestricted,2024,4000000,72,17.75

**'Sebastian Aho' duplicate**
* There are two players named 'Sebastian Aho'.  One is a Defenseman for NYI and the other is a Center for CAR

In [4479]:
capfriendly[capfriendly['PLAYER']=='Sebastian Aho']

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
46,Sebastian Aho,25,Finland,176,6'0,C,Left,78,36,53,...,2019-07-01,21,None,5,RFA,unrestricted,2024,8460250,72,19.62
693,Sebastian Aho,27,Sweden,176,5'10,LD,Left,58,2,7,...,2022-07-09,26,None,2,UFA,unrestricted,2024,825000,70,16.38

In [4480]:
#Modify name of Sebastian Aho who plays center
capfriendly.iloc[[46],[0]] = 'Sebastian Aho (C)'
capfriendly.iloc[[46],[0]]

               PLAYER
46  Sebastian Aho (C)

In [4481]:
#Modify name of Sebastian Aho who plays dedense
capfriendly.iloc[[693],[0]] = 'Sebastian Aho (D)'
capfriendly.iloc[[693],[0]]

                PLAYER
693  Sebastian Aho (D)

In [4482]:
#confirm
capfriendly[capfriendly['PLAYER'].str.contains('Sebastian Aho')]

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
46,Sebastian Aho (C),25,Finland,176,6'0,C,Left,78,36,53,...,2019-07-01,21,None,5,RFA,unrestricted,2024,8460250,72,19.62
693,Sebastian Aho (D),27,Sweden,176,5'10,LD,Left,58,2,7,...,2022-07-09,26,None,2,UFA,unrestricted,2024,825000,70,16.38

In [4483]:
#follow up note
nhl_follow_up =[{'Player':'ensure change to Sebastian Aho (C) or Sebastian Aho (D)'}]

In [4484]:
#follow up note
capfriendly_follow_up.append({'PLAYER': 'revisit to change player names after cleaning NHL official data'})

<H3>Verify all dtype changes and create list of new columns

In [4485]:
#verify dtype
capfriendly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 48 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PLAYER        923 non-null    object
 1   AGE           923 non-null    int64
 2   COUNTRY       923 non-null    category
 3   WEIGHT        923 non-null    int64
 4   HEIGHT        923 non-null    object
 5   POS           923 non-null    object
 6   HANDED        923 non-null    category
 7   GP            923 non-null    int64
 8   G             923 non-null    int64
 9   A             923 non-null    int64
 10  P             923 non-null    int64
 11  P/GP          923 non-null    float64
 12  +/-           923 non-null    int64
 13  Sh            923 non-null    int64
 14  Sh%           923 non-null    float64
 15  TOI           923 non-null    object
 16  ixG           923 non-null    float64
 17  iSh           923 non-null    int64
 18  iCF           923 non-null    int64
 19  iFF           923 non-null    int64
 20  ixG60         923 non-null    float64
 21  iSh60         923 non-null    float64
 22  iCF60         923 non-null    float64
 23  iFF60         923 non-null    float64
 24  SF            923 non-null    int64
 25  SA            923 non-null    int64
 26  SF%           923 non-null    float64
 27  CF            923 non-null    int64
 28  CA            923 non-null    int64
 29  CF%           923 non-null    float64
 30  FF            923 non-null    int64
 31  FA            923 non-null    int64
 32  FF%           923 non-null    float64
 33  xGF           923 non-null    float64
 34  xGA           923 non-null    float64
 35  xGF%          923 non-null    float64
 36  SIGNING TEAM  923 non-null    category
 37  EXTENSION     923 non-null    object
 38  SIGNING DATE  923 non-null    datetime64[ns]
 39  SIGNING AGE   923 non-null    int64
 40  CLAUSE        923 non-null    category
 41  LENGTH        923 non-null    int64
 42  SIGNING       923 non-null    category
 43  EXPIRY        923 non-null    category
 44  EXP. YEAR     923 non-null    int64
 45  AAV           923 non-null    int64
 46  HEIGHT_in     923 non-null    int64
 47  TOI_min       923 non-null    float64
dtypes: category(6), datetime64[ns](1), float64(14), int64(22), object(5)
memory usage: 310.5+ KB

In [4486]:
#compare columns to capfriendly_orig_columns_after_drop
capfriendly.columns.isin(capfriendly_orig_columns_after_drop)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False])

**Update column list in order to subset cleaned data**

In [4487]:
#replace 'HEIGHT' and 'TOI' with new versions in cleaned column list
"""I cant imaging this is the most efficient method for this but I realized i made a mistake early in my code.
I've updated the earlier code but I'm leaving this here for now because it works and will update it at a leter time"""
#clone
capfriendly_clean_columns = []
i=0
while i<len(capfriendly_orig_columns_after_drop):
    
    capfriendly_clean_columns.append(capfriendly_orig_columns_after_drop[i])
    i+=1 

#replace
for x in range(len(capfriendly_clean_columns)):
    
    if capfriendly_clean_columns[x]=='HEIGHT':
        capfriendly_clean_columns[x]='HEIGHT_in'
    
    if capfriendly_clean_columns[x]=='TOI':
        capfriendly_clean_columns[x]='TOI_min'

In [4488]:
#verify
capfriendly_clean_columns

['PLAYER',
 'AGE',
 'COUNTRY',
 'WEIGHT',
 'HEIGHT_in',
 'POS',
 'HANDED',
 'GP',
 'G',
 'A',
 'P',
 'P/GP',
 '+/-',
 'Sh',
 'Sh%',
 'TOI_min',
 'ixG',
 'iSh',
 'iCF',
 'iFF',
 'ixG60',
 'iSh60',
 'iCF60',
 'iFF60',
 'SF',
 'SA',
 'SF%',
 'CF',
 'CA',
 'CF%',
 'FF',
 'FA',
 'FF%',
 'xGF',
 'xGA',
 'xGF%',
 'SIGNING TEAM',
 'EXTENSION',
 'SIGNING DATE',
 'SIGNING AGE',
 'CLAUSE',
 'LENGTH',
 'SIGNING',
 'EXPIRY',
 'EXP. YEAR',
 'AAV']

In [4489]:
#FOLLOW UP NOTE
capfriendly_follow_up.append({'capfriendly_clean_columns': 'create cleaned df after fixing player data to match nhl data'})

In [4490]:
capfriendly_follow_up

[{'POS': 'drop after join?  too many positions'},
 {'PLAYER': 'revisit to change player names after cleaning NHL official data'},
 {'capfriendly_clean_columns': 'create cleaned df after fixing player data to match nhl data'}]

<h2>Explore nhl.com data

In [4491]:
nhl.shape

(924, 24)

In [4492]:
nhl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924 entries, 0 to 923
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  924 non-null    object
 1   Season  924 non-null    int64
 2   Team    924 non-null    object
 3   S/C     924 non-null    object
 4   Pos     924 non-null    object
 5   GP      924 non-null    int64
 6   G       924 non-null    int64
 7   A       924 non-null    int64
 8   P       924 non-null    int64
 9   +/-     924 non-null    int64
 10  PIM     924 non-null    int64
 11  P/GP    924 non-null    float64
 12  EVG     924 non-null    int64
 13  EVP     924 non-null    int64
 14  PPG     924 non-null    int64
 15  PPP     924 non-null    int64
 16  SHG     924 non-null    int64
 17  SHP     924 non-null    int64
 18  OTG     924 non-null    int64
 19  GWG     924 non-null    int64
 20  S       924 non-null    int64
 21  S%      924 non-null    object
 22  TOI/GP  924 non-null    object
 23  FOW%    924 non-null    object
dtypes: float64(1), int64(16), object(7)
memory usage: 173.4+ KB

In [4493]:
#save origional columns to list
nhl_orig_columns = nhl.columns.tolist()

<h3> Explore 'Player'

In [4494]:
# remove whitespace
nhl['Player'] = nhl['Player'].str.strip()

In [4495]:
nhl['Player'].value_counts()

Player
Sebastian Aho      2
Mikael Backlund    1
Jacob Bryson       1
William Carrier    1
Matt Martin        1
                  ..
Rasmus Kupari      1
Jan Jenik          1
Ruslan Iskhakov    1
Jack St. Ivany     1
Patrik Koch        1
Name: count, Length: 923, dtype: int64

<h4>Update Sebastian Aho to C or D

In [4496]:
nhl[nhl.Player.str.contains('Sebastian Aho')]

,Player,Season,Team,S/C,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI/GP,FOW%
798,Sebastian Aho,20232024,NYI,L,D,58,2,7,9,-7,...,0,2,0,0,0,0,48,4.2,16:23,--
817,Sebastian Aho,20232024,CAR,L,C,78,36,53,89,34,...,11,32,1,2,2,10,216,16.7,19:38,54.1

In [4497]:
#Modify name of Sebastian Aho who plays defense
nhl.iloc[[798],[0]] = 'Sebastian Aho (D)'
nhl.iloc[[798],[0]]

                Player
798  Sebastian Aho (D)

In [4498]:
#Modify name of Sebastian Aho who plays center
nhl.iloc[[817],[0]] = 'Sebastian Aho (C)'

nhl.iloc[[817],[0]]

                Player
817  Sebastian Aho (C)

In [4499]:
#confirm
nhl[nhl.Player.str.contains('Sebastian Aho')]

,Player,Season,Team,S/C,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI/GP,FOW%
798,Sebastian Aho (D),20232024,NYI,L,D,58,2,7,9,-7,...,0,2,0,0,0,0,48,4.2,16:23,--
817,Sebastian Aho (C),20232024,CAR,L,C,78,36,53,89,34,...,11,32,1,2,2,10,216,16.7,19:38,54.1

<h4>Create list of names in nhl['Player'] and capfriendly['PLAYER'] to compare later

In [4500]:
capfriendly['PLAYER'].sort_values()

900             AJ Greer
77          Aaron Ekblad
581         Adam Beckman
336         Adam Boqvist
664         Adam Edström
             ...
712      Zachary Sanford
15      Zachary Werenski
797         Zack MacEwen
694       Zack Ostapchuk
341    Zemgus Girgensons
Name: PLAYER, Length: 923, dtype: object

In [4501]:
nhl_player_names = nhl['Player'].sort_values()
capfriendly_player_names = capfriendly['PLAYER'].sort_values()

<h3>'Season' - dropped

* all data is from the 2023-24 season. This is an unnecessary column.

In [4502]:
#drop
nhl.drop(columns='Season', inplace = True)

In [4503]:
#confirm and save nhl_columns_after_drop
nhl_columns_after_drop = nhl.columns.tolist()
nhl_columns_after_drop

['Player',
 'Team',
 'S/C',
 'Pos',
 'GP',
 'G',
 'A',
 'P',
 '+/-',
 'PIM',
 'P/GP',
 'EVG',
 'EVP',
 'PPG',
 'PPP',
 'SHG',
 'SHP',
 'OTG',
 'GWG',
 'S',
 'S%',
 'TOI/GP',
 'FOW%']

<h3> 'Team' to category and split

In [4504]:
nhl.Team.unique()

array(['CGY', 'PHI', 'FLA', 'ANA', 'STL', 'WPG', 'SJS,VGK', 'BOS', 'OTT',
       'NYI', 'CHI', 'PIT', 'SEA', 'CAR', 'VAN', 'CBJ', 'WSH', 'ARI',
       'NJD', 'NSH', 'TOR', 'COL', 'MTL', 'DET', 'TBL', 'BUF', 'VGK',
       'ARI,NSH', 'EDM', 'CBJ,NYR', 'NYR', 'MIN', 'SEA,NYR', 'COL,BUF',
       'PHI,COL', 'LAK', 'BUF,COL', 'NJD,WPG', 'OTT,FLA', 'CAR,PIT',
       'DAL', 'ANA,EDM', 'CGY,VGK', 'VAN,CGY', 'SJS', 'WSH,VGK',
       'CGY,VAN', 'SJS,TBL', 'MIN,TOR', 'CGY,DAL', 'NSH,COL',
       'VAN,CHI,NSH', 'MIN,SJS', 'CBJ,PIT', 'MIN,BOS', 'PIT,CBJ',
       'DET,SJS', 'STL,NYI', 'PIT,MTL', 'LAK,VGK,FLA', 'TBL,SJS',
       'PIT,NYR', 'LAK,NSH', 'TOR,ANA', 'COL,NJD', 'COL,ANA', 'CBJ,NSH',
       'NSH,PHI', 'VAN,SJS', 'NSH,LAK', 'COL,SEA', 'WSH,CAR', 'FLA,NYI',
       'CHI,EDM', 'BUF,FLA', 'SJS,CGY', 'ANA,TOR', 'VGK,CGY', 'CGY,NJD',
       'ARI,EDM', 'BUF,PHI', 'WSH,TOR', 'ARI,CHI', 'DAL,CGY',
       'WSH,PIT,WSH', 'TBL,MIN', 'CHI,OTT', 'MIN,COL', 'ARI,TBL',
       'MTL,ANA', 'CBJ,BUF', 'ANA,PHI', 'CBJ,BOS', 'CGY,ARI', 'WPG,MIN',
       'PIT,CAR', 'MTL,WPG'], dtype=object)

<h4>explore value counts of 'Team"

In [4505]:
nhl['Team'].value_counts()

Team
CHI        31
CBJ        31
SEA        30
ARI        30
BOS        30
           ..
TBL,SJS     1
PIT,NYR     1
LAK,NSH     1
TOR,ANA     1
MTL,WPG     1
Name: count, Length: 97, dtype: int64

In [4506]:
# 23 is the roster size for a NHL team. Anything less will represent players with multiple teams
value_counts = nhl['Team'].value_counts()
value_counts[value_counts < 23]

Team
CGY,VAN    2
NJD,WPG    2
VGK,CGY    2
ANA,EDM    2
WSH,TOR    1
          ..
TBL,SJS    1
PIT,NYR    1
LAK,NSH    1
TOR,ANA    1
MTL,WPG    1
Name: count, Length: 65, dtype: int64

In [4507]:
#find number of players with multiple teams
value_counts[value_counts < 23].sum()

69

In [4508]:
#calculate percentage of trades before halfway mark of season
40/59

0.6779661016949152

* Players who were traded in the season and played a game with both teams will have multiple teams. Same is true for players aquired via wavers.
NHL official trades of 23-24 season: https://www.nhl.com/news/2023-24-nhl-trades-344953916
    * there were 60 trades during the season, often involving multiple players.
    * 40 of the 59 (~70%) trades occured within a 3 days of the trade deadline which represents aproximately the 70% mark of the season.

**Given that the vast majority of trades occured near the deadline, the team the player started the season with should be given more weight.  But, I will break them out into first team and last team for cases with more then 1 team. Players with only one team will have the same team for both start and end.**

**'Team_start'**

In [4509]:
#add 'Team_start' based on the team the player started the season with (first team listed)
nhl['Team_start'] = nhl['Team'].str.split(',').str.get(0)
nhl
nhl['Team_start'].head()

0    CGY
1    PHI
2    FLA
3    FLA
4    CGY
Name: Team_start, dtype: object

In [4510]:
#confirm
value_counts_start = nhl['Team_start'].value_counts()
value_counts_start[value_counts_start < 23]

Series([], Name: count, dtype: int64)

In [4511]:
#strip whitespace and convert to category
nhl['Team_start'] = nhl['Team_start'].str.strip().astype('category')
nhl['Team_start'].unique()

['CGY', 'PHI', 'FLA', 'ANA', 'STL', ..., 'EDM', 'NYR', 'MIN', 'LAK', 'DAL']
Length: 32
Categories (32, object): ['ANA', 'ARI', 'BOS', 'BUF', ..., 'VAN', 'VGK', 'WPG', 'WSH']

**'Team_end'**

In [4512]:
#add 'Team_start' based on the team the player started the season with (first team listed)
nhl['Team_end'] = nhl['Team'].str.split(',').str.get(-1)
nhl['Team_end'].head()

0    CGY
1    PHI
2    FLA
3    FLA
4    CGY
Name: Team_end, dtype: object

In [4513]:
#confirm
value_counts_start = nhl['Team_end'].value_counts()
value_counts_start[value_counts_start < 23]

Series([], Name: count, dtype: int64)

In [4514]:
#strip whitespace and convert to category
nhl['Team_end'] = nhl['Team_end'].str.strip().astype('category')
nhl['Team_end'].unique()

['CGY', 'PHI', 'FLA', 'ANA', 'STL', ..., 'NYR', 'MIN', 'LAK', 'DAL', 'SJS']
Length: 32
Categories (32, object): ['ANA', 'ARI', 'BOS', 'BUF', ..., 'VAN', 'VGK', 'WPG', 'WSH']

<h3> 'S/C' - Player Shoots / Goalie Catches - rename and to category

In [4515]:
nhl['S/C'].unique()

array(['L', 'R'], dtype=object)

In [4516]:
nhl['S/C'].value_counts()

S/C
L    570
R    354
Name: count, dtype: int64

**Rename from 'SC' to 'Shoots'**  
* rename for clarity and because there is no goalie data to consider

In [4517]:
nhl= nhl.rename(columns={'S/C':'Shoots'})
nhl.columns

Index(['Player', 'Team', 'Shoots', 'Pos', 'GP', 'G', 'A', 'P', '+/-', 'PIM',
       'P/GP', 'EVG', 'EVP', 'PPG', 'PPP', 'SHG', 'SHP', 'OTG', 'GWG', 'S',
       'S%', 'TOI/GP', 'FOW%', 'Team_start', 'Team_end'],
      dtype='object')

In [4518]:
#strip whitespace and convert to category
nhl['Shoots'] = nhl['Shoots'].str.strip().astype('category')

In [4519]:
#confirm
nhl.Shoots.unique()

['L', 'R']
Categories (2, object): ['L', 'R']

<h3>'Pos' - to category

In [4520]:
#check unique values
nhl.Pos.unique()

array(['C', 'D', 'L', 'R'], dtype=object)

In [4521]:
nhl.Pos.value_counts()

Pos
D    315
C    297
L    171
R    141
Name: count, dtype: int64

In [4522]:
#strip whitespace and convert to category

In [4523]:
nhl['Pos'] = nhl['Pos'].str.strip().astype('category')

In [4524]:
#confirm
nhl.Pos.unique()

['C', 'D', 'L', 'R']
Categories (4, object): ['C', 'D', 'L', 'R']

<h3> Explore remaining numeric columns

In [4525]:
nhl.columns

Index(['Player', 'Team', 'Shoots', 'Pos', 'GP', 'G', 'A', 'P', '+/-', 'PIM',
       'P/GP', 'EVG', 'EVP', 'PPG', 'PPP', 'SHG', 'SHP', 'OTG', 'GWG', 'S',
       'S%', 'TOI/GP', 'FOW%', 'Team_start', 'Team_end'],
      dtype='object')

In [4526]:
nhl_numeric= ['GP', 'G', 'A', 'P', '+/-', 'PIM', 'P/GP', 'EVG', 'EVP', 'PPG', 'PPP', 'SHG', 'SHP', 'OTG', 'GWG', 'S', 'S%', 'TOI/GP', 'FOW%']

In [4527]:
nhl[nhl_numeric].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924 entries, 0 to 923
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GP      924 non-null    int64
 1   G       924 non-null    int64
 2   A       924 non-null    int64
 3   P       924 non-null    int64
 4   +/-     924 non-null    int64
 5   PIM     924 non-null    int64
 6   P/GP    924 non-null    float64
 7   EVG     924 non-null    int64
 8   EVP     924 non-null    int64
 9   PPG     924 non-null    int64
 10  PPP     924 non-null    int64
 11  SHG     924 non-null    int64
 12  SHP     924 non-null    int64
 13  OTG     924 non-null    int64
 14  GWG     924 non-null    int64
 15  S       924 non-null    int64
 16  S%      924 non-null    object
 17  TOI/GP  924 non-null    object
 18  FOW%    924 non-null    object
dtypes: float64(1), int64(15), object(3)
memory usage: 137.3+ KB

<h4> Explore 'S%' - shot percent

In [4528]:
nhl['S%'].dtype

dtype('O')

In [4529]:
#find number of Nan
nhl[nhl['S%'] == nhl['S%'].isna()]['G'].value_counts()

G
0    144
Name: count, dtype: int64

In [4530]:
nhl[nhl['S%'] == nhl['S%'].isna()]['G'].value_counts()

G
0    144
Name: count, dtype: int64

**change 'S%' - Nan to 0**
* Formula for 'S%' is 'G'/'S'
    * players who score no goals have a nan

In [4531]:
#replace nan with 0
nhl.loc[nhl['S%'].isna(), 'S%'] = 0

#confirm
nhl[nhl['S%'].isna()]

Empty DataFrame
Columns: [Player, Team, Shoots, Pos, GP, G, A, P, +/-, PIM, P/GP, EVG, EVP, PPG, PPP, SHG, SHP, OTG, GWG, S, S%, TOI/GP, FOW%, Team_start, Team_end]
Index: []

[0 rows x 25 columns]

**Convert 'S%' - '--' to 0**
* Formula for 'S%' is 'G'/'S'
    * players who have no shots ('S') have a '--' value

In [4532]:
#check remaining iunique values in 'S%'
nhl['S%'].unique()

array([7.2, 7.8, 6.5, 6.3, 5.7, 4.6, 2.5, 18.6, 13.4, 13.7, 10.8, 11.6,
       9.1, 11.3, 12.6, 4.0, 20.0, 18.8, 12.4, 14.3, 11.5, 14.2, 17.5,
       10.7, 14.9, 10.3, 13.0, 10.1, 8.9, 10.6, 12.7, 15.5, 17.7, 15.6,
       12.0, 13.3, 10.0, 11.9, 12.9, 10.9, 7.1, 4.8, 5.9, 5.6, 3.4, 2.8,
       21.4, 9.3, 9.5, 8.3, 5.5, 7.3, 4.7, 3.3, 15.2, 10.4, 9.7, 10.2,
       7.5, 7.7, 3.6, 13.9, 11.1, 8.1, 11.0, 9.8, 11.2, 7.6, 3.8, 1.5,
       18.9, 14.6, 8.5, 13.1, 6.7, 5.3, 5.4, 7.4, 14.0, 9.9, 9.4, 11.4,
       11.8, 15.0, 5.2, 14.4, 14.8, 13.8, 15.7, 14.1, 17.6, 14.7, 13.5,
       16.2, 9.6, 13.2, 8.4, 17.1, 16.5, 6.1, 12.1, 13.6, 9.0, 7.0, 7.9,
       6.6, 18.2, 9.2, 15.9, 12.5, 6.2, 20.4, 8.7, 6.9, 18.1, 11.7, 10.5,
       8.6, 3.9, 1.4, 16.1, 5.8, 4.1, 2.7, 6.8, 3.1, 2.3, 1.3, 8.8, 3.2,
       2.0, 2.9, 1.1, 0.0, 8.2, 6.0, 4.9, 12.2, 15.3, 8.0, 1.9, 4.2, 5.1,
       '--', 2.2, 16.7, 5.0, 3.7, 28.6, 100.0, 3.5, 25.0, 33.3, 50.0, 4.4,
       3.0, 20.8, 30.0, 17.9, 19.7, 12.8, 12.3, 2.4, 6.4, 1.6, 1.2, 15.4,
       16.3, 1.0, 18.4, 2.6, 21.7, 18.7, 19.1, 16.6, 24.5, 15.1, 20.3,
       16.4, 17.8, 14.5, 19.6, 19.0, 15.8, 16.0, 17.0, 17.3], dtype=object)

In [4533]:
#preview
nhl[nhl['S%']=='--'].head(10)

,Player,Team,Shoots,Pos,GP,G,A,P,+/-,PIM,...,SHG,SHP,OTG,GWG,S,S%,TOI/GP,FOW%,Team_start,Team_end
308,Cal Foote,NJD,R,D,4,0,1,1,3,16,...,0,0,0,0,0,--,14:46,--,NJD,NJD
315,Aku Raty,ARI,R,R,1,0,1,1,0,0,...,0,0,0,0,0,--,11:45,--,ARI,ARI
329,Max McCormick,SEA,L,L,1,0,0,0,0,0,...,0,0,0,0,0,--,5:38,--,SEA,SEA
332,Jayson Megna,BOS,R,C,1,0,0,0,0,0,...,0,0,0,0,0,--,11:45,--,BOS,BOS
337,Gustav Olofsson,SEA,L,D,1,0,0,0,0,0,...,0,0,0,0,0,--,14:57,--,SEA,SEA
339,Oskar Lindblom,SJS,L,L,1,0,0,0,-1,0,...,0,0,0,0,0,--,11:56,--,SJS,SJS
342,Glenn Gawdin,ANA,R,C,1,0,0,0,-1,2,...,0,0,0,0,0,--,7:35,40,ANA,ANA
343,Adam Gaudette,STL,R,C,2,0,0,0,0,4,...,0,0,0,0,0,--,9:48,--,STL,STL
345,Samuel Laberge,NJD,L,L,2,0,0,0,0,0,...,0,0,0,0,0,--,3:06,--,NJD,NJD
347,Andrew Poturalski,SEA,R,C,2,0,0,0,-1,0,...,0,0,0,0,0,--,6:53,100,SEA,SEA

In [4534]:
#check 'S' for players with 'S%' == '--'
nhl[nhl['S%'] == '--']['S'].value_counts()

S
0    32
Name: count, dtype: int64

In [4535]:
#replace '--' with 0
nhl.loc[nhl['S%']=='--', 'S%'] = 0

#confirm
nhl[nhl['S%']=='--']

Empty DataFrame
Columns: [Player, Team, Shoots, Pos, GP, G, A, P, +/-, PIM, P/GP, EVG, EVP, PPG, PPP, SHG, SHP, OTG, GWG, S, S%, TOI/GP, FOW%, Team_start, Team_end]
Index: []

[0 rows x 25 columns]

**convert 'S%' to float**

In [4536]:
#convert
nhl['S%'] = nhl['S%'].astype('float')

#confirm
nhl['S%'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 924 entries, 0 to 923
Series name: S%
Non-Null Count  Dtype
--------------  -----
924 non-null    float64
dtypes: float64(1)
memory usage: 7.3 KB

<h4> Explore 'TOI/GP' - average Time On Ice per Game Played - to 'TOI_min'

In [4537]:
nhl['TOI/GP'].head()

0    19:14
1    15:39
2    15:10
3    22:09
4    23:50
Name: TOI/GP, dtype: object

**change 'TOI/GP' from MM:SS to minutes saved as 'TOI_min' and as float type**

In [4538]:
# convert MM:SS to minutes and save as 'TOI_min'
nhl['TOI_min'] = round((nhl['TOI/GP'].str.split(':').str[0].astype('float') + (nhl['TOI/GP'].str.split(':').str[-1].astype('float') / 60)),2)

#confirm
nhl['TOI_min'].head()

0    19.23
1    15.65
2    15.17
3    22.15
4    23.83
Name: TOI_min, dtype: float64

<h4> Explore 'FOW%' - Face Off Win percentage

In [4539]:
nhl['FOW%'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 924 entries, 0 to 923
Series name: FOW%
Non-Null Count  Dtype
--------------  -----
924 non-null    object
dtypes: object(1)
memory usage: 7.3+ KB

In [4540]:
nhl['FOW%'].unique()

array([50.3, 48.9, 50, '--', 37.9, 37.6, 57.5, 47.6, 53.5, 100, 43.2,
       52.4, 23.1, 47.4, 42.2, 36.3, 45.8, 35.9, 38.7, 52.9, 54.3, 36.7,
       20.7, 54.8, 52.6, 0, 54.9, 49, 33.3, 45.6, 27.3, 46.5, 44, 44.9,
       42.4, 46.7, 53.6, 48.3, 55.4, 47.8, 58.3, 47.2, 39.4, 50.5, 46.3,
       44.4, 41.2, 52.3, 23.5, 27.6, 42.9, 52.2, 57.1, 44.1, 31.6, 50.8,
       18.8, 29.4, 58.1, 30.8, 7.1, 49.3, 57, 34.8, 40.4, 29.6, 48, 49.2,
       29.8, 29.2, 25.8, 47.1, 37.5, 43.3, 25, 51.8, 38, 30.4, 38.2, 46.4,
       28.6, 34.1, 56.3, 48.4, 53.3, 20, 44.8, 51.9, 41.9, 49.4, 47, 42.5,
       31.3, 32.9, 56.4, 66.7, 37, 31.1, 51.7, 45.5, 34.3, 46.8, 49.5,
       46.1, 44.7, 45.4, 51.6, 49.7, 26.3, 56.5, 65, 45.1, 50.9, 37.1, 34,
       54.4, 33.1, 43.8, 50.2, 48.1, 40, 23.9, 44.6, 45, 51.3, 53.4, 42.6,
       35.5, 30, 43.4, 62.5, 40.5, 51.4, 53.1, 46.9, 38.4, 49.9, 43.7,
       36.4, 47.7, 35.7, 64.7, 21.4, 35.3, 31.4, 31.8, 22.2, 14.3, 41.7,
       75, 16.7, 26.8, 52, 55.6, 61.8, 50.6, 87.5, 40.7, 45.3, 39.9, 47.9,
       55.7, 51.5, 43.6, 32, 55.3, 39.1, 43.9, 48.5, 31.7, 45.2, 27.9,
       46.2, 48.8, 49.1, 60, 42.1, 22.1, 53.9, 53.2, 41.5, 38.9, 34.2,
       61.3, 15.8, 46, 54.5, 54.6, 26.7, 51, 46.6, 38.5, 17.7, 22.7, 60.1,
       45.7, 55.8, 54, 57.2, 42.7, 56, 52.8, 30.2, 49.8, 57.8, 39.7, 51.1,
       10, 56.9, 53.8, 44.2, 58.2, 54.1, 57.3, 43, 26.1, 58.7, 36.5, 41,
       37.2, 55.1, 40.2, 48.6, 56.6, 40.9, 56.2, 59.3, 58, 37.4, 61.2, 39,
       32.1, 48.7], dtype=object)

**Convert 'FOW%' - '--' to 0**
* Formula for 'FOW%' is Face-offs won / Face-offs taken
    * players who have taken no face-offs will have a '--' value

In [4541]:
#convert '--' to 0
nhl.loc[nhl['FOW%'] == '--', 'FOW%'] = 0

#confirm
nhl[nhl['FOW%'] == '--']

Empty DataFrame
Columns: [Player, Team, Shoots, Pos, GP, G, A, P, +/-, PIM, P/GP, EVG, EVP, PPG, PPP, SHG, SHP, OTG, GWG, S, S%, TOI/GP, FOW%, Team_start, Team_end, TOI_min]
Index: []

[0 rows x 26 columns]

In [4542]:
#convert to float
nhl['FOW%'] = nhl['FOW%'].astype('float')

#confirm
nhl['FOW%'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 924 entries, 0 to 923
Series name: FOW%
Non-Null Count  Dtype
--------------  -----
924 non-null    float64
dtypes: float64(1)
memory usage: 7.3 KB

<h3>Confirm Changes and create cleand columns list

In [4543]:
nhl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924 entries, 0 to 923
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Player      924 non-null    object
 1   Team        924 non-null    object
 2   Shoots      924 non-null    category
 3   Pos         924 non-null    category
 4   GP          924 non-null    int64
 5   G           924 non-null    int64
 6   A           924 non-null    int64
 7   P           924 non-null    int64
 8   +/-         924 non-null    int64
 9   PIM         924 non-null    int64
 10  P/GP        924 non-null    float64
 11  EVG         924 non-null    int64
 12  EVP         924 non-null    int64
 13  PPG         924 non-null    int64
 14  PPP         924 non-null    int64
 15  SHG         924 non-null    int64
 16  SHP         924 non-null    int64
 17  OTG         924 non-null    int64
 18  GWG         924 non-null    int64
 19  S           924 non-null    int64
 20  S%          924 non-null    float64
 21  TOI/GP      924 non-null    object
 22  FOW%        924 non-null    float64
 23  Team_start  924 non-null    category
 24  Team_end    924 non-null    category
 25  TOI_min     924 non-null    float64
dtypes: category(4), float64(4), int64(15), object(3)
memory usage: 165.5+ KB

**nhl cleaned columns list**
* replace 'Team' with 'Team_start' and 'Team_end'
* change 'S/C' to 'Shoots'
* replace 'TOI/GP' = 'TOI_min'

In [4544]:
#cleaned columns
nhl_cleaned_columns = []

for i in range(len(nhl_columns_after_drop)):
    
    #adjust modified columns
    if nhl_columns_after_drop[i] == 'Team':
        nhl_cleaned_columns.append('Team_start')
        nhl_cleaned_columns.append('Team_end')
    
    elif nhl_columns_after_drop[i] == 'S/C':
        nhl_cleaned_columns.append('Shoots')
    
    elif nhl_columns_after_drop[i] == 'TOI/GP':
        nhl_cleaned_columns.append('TOI_min')
    
    #add unchanged columns to nhl_cleaned_columns
    else: nhl_cleaned_columns.append(nhl_columns_after_drop[i])

In [4545]:
#confirm
nhl_cleaned_columns

['Player',
 'Team_start',
 'Team_end',
 'Shoots',
 'Pos',
 'GP',
 'G',
 'A',
 'P',
 '+/-',
 'PIM',
 'P/GP',
 'EVG',
 'EVP',
 'PPG',
 'PPP',
 'SHG',
 'SHP',
 'OTG',
 'GWG',
 'S',
 'S%',
 'TOI_min',
 'FOW%']

<h3> Create nhl_cleaned for the cleaned database and export to .csv

In [4546]:
#create new cleaned nhl database
nhl_cleaned = nhl[nhl_cleaned_columns]

#confirm
nhl_cleaned.T

,0,1,2,3,4,5,6,7,8,9,...,914,915,916,917,918,919,920,921,922,923
Player,Mikael Backlund,Scott Laughton,Evan Rodrigues,Gustav Forsling,Rasmus Andersson,Cam Fowler,Torey Krug,Jake Neighbours,Cole Perfetti,Tomas Hertl,...,Pavol Regenda,Maksymilian Szuber,Pierrick Dube,Gavin Brindley,Bradly Nadeau,Akito Hirose,Ondrej Pavel,Cole McWard,Nikolas Matinpalo,Patrik Koch
Team_start,CGY,PHI,FLA,FLA,CGY,ANA,STL,STL,WPG,SJS,...,ANA,ARI,WSH,CBJ,CAR,VAN,COL,VAN,OTT,ARI
Team_end,CGY,PHI,FLA,FLA,CGY,ANA,STL,STL,WPG,VGK,...,ANA,ARI,WSH,CBJ,CAR,VAN,COL,VAN,OTT,ARI
Shoots,L,L,R,L,R,L,L,L,L,L,...,L,L,R,R,R,L,L,R,R,L
Pos,C,C,C,D,D,D,D,L,C,C,...,L,D,R,C,L,D,C,D,D,D
GP,82,82,80,79,78,81,77,77,71,54,...,5,1,3,1,1,3,2,1,4,1
G,15,13,12,10,9,5,4,27,19,17,...,0,0,0,0,0,0,0,0,0,0
A,24,26,27,29,30,34,35,11,19,21,...,0,0,0,0,0,0,0,0,0,0
P,39,39,39,39,39,39,39,38,38,38,...,0,0,0,0,0,0,0,0,0,0
+/-,-4,-9,26,56,-11,-36,-31,-16,13,-28,...,-1,-1,1,0,-3,1,-1,0,1,0
PIM,24,69,34,43,47,24,32,21,12,22,...,2,2,2,0,0,0,2,0,0,10
P/GP,0.48,0.48,0.49,0.49,0.5,0.48,0.51,0.49,0.54,0.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
EVG,12,10,9,9,8,3,4,19,14,10,...,0,0,0,0,0,0,0,0,0,0
EVP,34,26,29,37,30,20,26,24,27,26,...,0,0,0,0,0,0,0,0,0,0
PPG,2,1,3,1,0,2,0,8,5,6,...,0,0,0,0,0,0,0,0,0,0
PPP,3,5,10,2,8,18,13,14,11,11,...,0,0,0,0,0,0,0,0,0,0
SHG,1,2,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
SHP,2,8,0,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
OTG,0,0,0,1,1,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
GWG,2,2,1,1,3,0,2,4,3,2,...,0,0,0,0,0,0,0,0,0,0
S,209,167,186,160,159,109,162,145,142,124,...,7,1,3,0,3,0,3,1,2,1
S%,7.2,7.8,6.5,6.3,5.7,4.6,2.5,18.6,13.4,13.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TOI_min,19.23,15.65,15.17,22.15,23.83,24.42,21.97,15.7,13.58,20.48,...,11.57,16.98,9.33,12.33,19.13,12.1,6.1,9.08,7.0,9.33
FOW%,50.3,48.9,50.0,0.0,0.0,0.0,0.0,37.9,37.6,57.5,...,16.7,0.0,0.0,0.0,0.0,0.0,33.3,0.0,0.0,0.0

<h4> Export cleaned nhl df to .csv

In [4547]:
#Save nhl_cleaned to nhl_cleaned.csv
#comment out after saving to not save multiples

#create path
cleaned_path = "/Users/ness/Desktop/Springboard/Projects/-Capstone 2/NHL Salaries/clean_data/nhl_cleaned.csv"

#save
#nhl_cleaned.to_csv(cleaned_path, index=False)

<h2>Match capfriendly['PLAYER'] to nhl_cleaned['Player']

In [4548]:
#save capfriendly players
capfriendly_players = capfriendly['PLAYER']

#save nhl_cleaned['Player']
nhl_players = nhl_cleaned['Player']

**Create unmatched list for manual changes**

In [4549]:
#find players in nhl that are not in capfriendly
unmatched_nhl=nhl_cleaned[~nhl_players.isin(capfriendly['PLAYER'])]

# of players
len(unmatched_nhl)

86

In [4550]:
#find players in capfriendly that are not in nhl_cleaned
unmatched_cap = capfriendly[~capfriendly_players.isin(nhl_cleaned['Player'])]

# of players
len(unmatched_cap)

85

<h3>Define functions to streamline name changes

**function to find nhl official name at given index**

In [4551]:
def name(unmatched_index):
    '''Function to return the name of player from unmatched_nhl at the given index'''
    
    #identify NHL official name at provided index
    nhl_player_name = unmatched_nhl.iloc[unmatched_index,0]

    return nhl_player_name

**function to find nhl official name  and stats at given index**

In [4552]:
def unmatched_name(unmatched_index):
    '''Function to return the name of player from unmatched_nhl at the given index'''
    
    #identify NHL official name at provided index
    nhl_player_name = unmatched_nhl.iloc[[unmatched_index]]

    return nhl_player_name

**function to return possible matches to name in unmatched_nhl at the given index**

In [4553]:
def unmatched_matches(unmatched_index):
    '''Function to return possible matches to name in unmatched_nhl at the given index'''
    
    #identify NHL official name at provided index
    nhl_player_name = unmatched_nhl.iloc[unmatched_index,0]
    '------------------------'
    #DEFINE FIRST name from NHL official name
    first_name = nhl_player_name.split(' ')[0]
    
    #possible MATCHES from FIRST name
    first_name_matches = capfriendly[capfriendly.PLAYER.str.contains(first_name)]
    '------------------------'
    #DEFINE LAST name from NHL official name
    last_name = nhl_player_name.split(' ')[-1]
    
    #possible MATCHES from LAST name
    last_name_matches = capfriendly[capfriendly.PLAYER.str.contains(last_name)]
    '------------------------'
    #CREATE possible_matches DF 
    possible_matches = pd.concat([last_name_matches, first_name_matches],  ignore_index = False)

    return possible_matches

**Function to replace name in capfriendly with name in nhl_cleaned at given index**

In [4554]:
def replace(unmatched_index, capfriendly_index):
    '''Function to replace name in capfriendly @ capfriendly_index with name in nhl_cleaned @ unmatched_index'''
    #change name to match nhl_cleaned
    capfriendly.iloc[[capfriendly_index],[0]]= name(unmatched_index)
    
    return capfriendly.iloc[[capfriendly_index]]

<h3> Change Names

**upgrades to process**  
**Note**: This process could be mostly automated but I currently do not have the skill to do it *efficiently*. If this were a personal project and not for a bootcamp I would invest the time.  But because of the time constraints of the bootcamp, I feel like my time is better spent moving through the material.  
  
The process would be:  
1) Create function that:
    * moves through a loop to to return 'unmatched_index' for the above functions based on len(unmatched_nhl). then for each for each 'unmatched_index' in loop:
    * takes dataframes returned from unmatched_names() and unmatched_maches() and matches player based on exact values for the 'GP', 'G', 'A' and 'P' . 
     find and save the index of the df returned from unmatched_maches() for the matched player
    * use saved index as the 'capfriendly_index' in replace()
    * return list of players that do not have matches in capfriendly to be explored further
2) Manually explore returned list of players with no matches

**find length of unmatched list**

In [4555]:
#this is number of manual changes that need to be made
len(unmatched_nhl)

86

**Index 0**

In [4556]:
unmatched_name(0)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
16,Matty Beniers,SEA,SEA,L,C,77,15,22,37,-11,...,6,13,0,0,0,1,133,11.3,17.97,47.4

In [4557]:
unmatched_matches(0)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
563,Matthew Beniers,20,United States,175,6'2,C,Left,77,15,22,...,2022-04-10,18,None,3,ELC,restricted,2024,1850000,74,17.95

In [4558]:
replace(0,563)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
563,Matty Beniers,20,United States,175,6'2,C,Left,77,15,22,...,2022-04-10,18,None,3,ELC,restricted,2024,1850000,74,17.95

**Index 1**

In [4559]:
unmatched_name(1)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
20,Nils Hoglander,VAN,VAN,L,L,80,24,12,36,23,...,0,0,0,0,0,5,120,20.0,12.1,0.0

In [4560]:
unmatched_matches(1)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
451,Nils Höglander,22,Sweden,185,5'9,"LW, RW",Left,80,24,12,...,2023-07-09,22,None,2,RFA,restricted,2025,1100000,69,12.10
529,Nils Lundkvist,22,Sweden,187,5'11,RD,Right,59,2,17,...,2021-06-03,20,None,3,ELC,unrestricted,2024,1775000,71,14.10
586,Nils Åman,23,Sweden,179,6'2,C,Left,43,3,4,...,2022-06-07,22,None,2,ELC,restricted,2024,925000,74,10.33

In [4561]:
replace(1,451)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
451,Nils Hoglander,22,Sweden,185,5'9,"LW, RW",Left,80,24,12,...,2023-07-09,22,None,2,RFA,restricted,2025,1100000,69,12.1

**Index 2**

In [4562]:
unmatched_name(2)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
71,Josh Norris,OTT,OTT,L,C,50,16,14,30,-6,...,5,12,0,1,0,3,115,13.9,17.63,52.2

In [4563]:
unmatched_matches(2)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
62,Joshua Norris,24,United States,199,6'1,C,Left,50,16,14,...,2022-07-14,23,None,8,RFA,unrestricted,2030,7950000,73,17.63
62,Joshua Norris,24,United States,199,6'1,C,Left,50,16,14,...,2022-07-14,23,None,8,RFA,unrestricted,2030,7950000,73,17.63
112,Joshua Morrissey,28,Canada,195,6'0,LD,Left,81,10,59,...,2019-09-12,25,NMC,8,RFA,unrestricted,2028,6250000,72,24.17
151,Josh Anderson,29,Canada,227,6'3,"RW, LW",Right,78,9,11,...,2020-10-08,26,M-NTC,7,RFA,unrestricted,2027,5500000,75,15.45
212,Josh Manson,31,United States,218,6'3,RD,Right,76,8,17,...,2022-07-13,30,NTC,4,UFA,unrestricted,2026,4500000,75,17.77
438,Joshua Brown,29,Canada,217,6'5,RD,Right,51,3,7,...,2022-07-13,28,None,2,UFA,unrestricted,2024,1275000,77,14.75
512,Josh Doan,21,United States,183,6'1,RW,Right,11,5,4,...,2023-03-16,21,None,3,ELC,restricted,2026,925000,73,12.30
514,Josh Mahura,25,Canada,190,6'0,LD/RD,Left,30,0,9,...,2023-02-10,25,None,1,RFA,unrestricted,2024,925000,72,12.58
671,Joshua Roy,19,Canada,190,6'0,"LW, RW",Left,23,4,5,...,2022-03-30,18,None,3,ELC,restricted,2026,881667,72,12.13
691,Dakota Joshua,27,United States,183,6'2,LW,Left,63,18,14,...,2022-07-13,26,None,2,UFA,unrestricted,2024,825000,74,14.38

In [4564]:
replace(2,62)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
62,Josh Norris,24,United States,199,6'1,C,Left,50,16,14,...,2022-07-14,23,None,8,RFA,unrestricted,2030,7950000,73,17.63

**Index 3**

In [4565]:
unmatched_name(3)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
96,Joe Veleno,DET,DET,L,C,80,12,16,28,-16,...,3,5,0,1,0,1,86,14.0,13.95,49.0

In [4566]:
unmatched_matches(3)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
683,Joseph Veleno,23,Canada,191,6'1,C,Left,80,12,16,...,2023-08-22,23,None,1,RFA,restricted,2024,825000,73,13.95
161,Joel Eriksson Ek,26,Sweden,210,6'1,C,Left,77,30,34,...,2021-07-02,24,None,8,RFA,unrestricted,2029,5250000,73,20.52
181,Joel Farabee,23,United States,164,6'0,"LW, RW",Left,82,22,28,...,2021-09-02,22,None,6,RFA,unrestricted,2028,5000000,72,16.18
267,Joe Pavelski,38,United States,195,5'11,RW,Right,82,27,40,...,2023-01-01,38,NMC,1,UFA,unrestricted,2024,5500000,71,16.80
270,Joel Edmundson,30,Canada,224,6'5,LD/RD,Left,53,1,5,...,2020-09-16,27,M-NTC,4,UFA,unrestricted,2024,3500000,77,16.67
277,Joel Armia,30,Finland,218,6'4,"RW, LW",Right,66,17,8,...,2021-07-27,28,None,4,UFA,unrestricted,2025,3400000,76,15.55
723,Joey Anderson,25,United States,190,5'11,RW,Right,55,5,12,...,2023-06-22,25,None,1,RFA,unrestricted,2024,800000,71,13.53
734,Joe Snively,27,United States,165,5'9,LW,Left,3,0,0,...,2022-03-16,26,None,2,UFA,unrestricted,2024,800000,69,8.33
751,Joel Hanley,32,Canada,190,5'11,LD/RD,Left,42,1,4,...,2023-07-01,32,None,2,UFA,unrestricted,2025,787500,71,13.88
762,Joel Kiviranta,27,Finland,175,5'10,"RW, LW",Left,56,3,6,...,2023-11-12,27,None,1,UFA,unrestricted,2024,775000,70,9.83

In [4567]:
replace(3,683)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
683,Joe Veleno,23,Canada,191,6'1,C,Left,80,12,16,...,2023-08-22,23,None,1,RFA,restricted,2024,825000,73,13.95

**Index 4**

In [4568]:
unmatched_name(4)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
104,Zach Werenski,CBJ,CBJ,L,D,70,11,46,57,0,...,2,12,0,0,0,0,202,5.5,24.45,0.0

In [4569]:
unmatched_matches(4)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
15,Zachary Werenski,25,United States,212,6'2,LD,Left,70,11,46,...,2021-07-29,24,NMC,6,RFA,unrestricted,2028,9583333,74,24.45
15,Zachary Werenski,25,United States,212,6'2,LD,Left,70,11,46,...,2021-07-29,24,NMC,6,RFA,unrestricted,2028,9583333,74,24.45
150,Zach Hyman,31,Canada,211,6'1,"RW, LW",Right,80,54,23,...,2021-07-28,29,NMC,7,UFA,unrestricted,2028,5500000,73,19.50
196,Pavel Zacha,26,Other,210,6'3,"C, LW",Left,78,21,38,...,2023-01-14,26,M-NTC,4,UFA,unrestricted,2027,4750000,75,18.10
325,Zach Whitecloud,26,Canada,209,6'2,RD,Right,61,2,12,...,2021-10-28,25,None,6,RFA,unrestricted,2028,2750000,74,17.58
489,Zach Benson,18,Canada,170,5'10,LW,Left,71,11,19,...,2023-07-28,18,None,3,ELC,restricted,2026,1600000,70,14.52
608,Zachary Bolduc,20,Canada,175,6'1,LW,Left,25,5,4,...,2021-08-24,18,None,3,ELC,restricted,2026,1275833,73,12.00
643,Zach Dean,20,Canada,176,6'0,C,Left,9,0,0,...,2021-12-02,18,None,3,ELC,restricted,2026,863333,72,10.55
659,Zach Bogosian,32,United States,226,6'3,RD,Right,65,3,11,...,2021-07-28,30,M-NTC,3,UFA,unrestricted,2024,850000,75,17.88
681,Zach Parise,38,United States,195,5'11,LW,Left,30,5,5,...,2024-01-26,38,None,1,UFA,unrestricted,2024,825000,71,12.97
704,Zachary Jones,22,United States,175,5'11,LD,Left,31,2,7,...,2023-06-16,22,None,2,RFA,restricted,2025,812500,71,14.62
712,Zachary Sanford,28,United States,207,6'4,"LW, RW",Left,29,0,6,...,2023-07-14,28,None,1,UFA,unrestricted,2024,800000,76,10.83
767,Zach Aston-Reese,28,United States,204,6'0,"LW, RW",Left,3,0,0,...,2023-10-08,28,None,1,UFA,unrestricted,2024,775000,72,5.15

In [4570]:
replace(4,15)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
15,Zach Werenski,25,United States,212,6'2,LD,Left,70,11,46,...,2021-07-29,24,NMC,6,RFA,unrestricted,2028,9583333,74,24.45

**Index 5**

In [4571]:
unmatched_name(5)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
121,Teuvo Teravainen,CAR,CAR,L,L,76,25,28,53,15,...,9,17,1,4,0,4,142,17.6,16.4,47.1

In [4572]:
unmatched_matches(5)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
155,Teuvo Teräväinen,28,Finland,191,5'11,"LW, RW",Left,76,25,28,...,2019-01-21,24,M-NTC,5,RFA,unrestricted,2024,5400000,71,16.4

In [4573]:
replace(5,155)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
155,Teuvo Teravainen,28,Finland,191,5'11,"LW, RW",Left,76,25,28,...,2019-01-21,24,M-NTC,5,RFA,unrestricted,2024,5400000,71,16.4

**Index 6**

In [4574]:
unmatched_name(6)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
134,JJ Peterka,BUF,BUF,L,R,82,28,22,50,10,...,3,7,0,0,0,5,226,12.4,16.4,20.0

In [4575]:
unmatched_matches(6)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
637,John-Jason Peterka,21,Other,192,5'11,"LW, RW",Left,82,28,22,...,2021-06-11,19,None,3,ELC,restricted,2025,894167,71,16.38

In [4576]:
replace(6,637)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
637,JJ Peterka,21,Other,192,5'11,"LW, RW",Left,82,28,22,...,2021-06-11,19,None,3,ELC,restricted,2025,894167,71,16.38

**Index 7**

In [4577]:
unmatched_name(7)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
162,Tommy Novak,NSH,NSH,L,C,71,18,27,45,-3,...,6,12,0,0,0,1,113,15.9,14.2,42.2

In [4578]:
unmatched_matches(7)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
728,Thomas Novak,26,United States,179,6'1,C,Left,71,18,27,...,2023-02-08,26,None,1,RFA,unrestricted,2024,800000,73,14.2

In [4579]:
replace(7,728)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
728,Tommy Novak,26,United States,179,6'1,C,Left,71,18,27,...,2023-02-08,26,None,1,RFA,unrestricted,2024,800000,73,14.2

**Index 8**

In [4580]:
unmatched_name(8)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
164,Alex Kerfoot,ARI,ARI,L,C,82,13,32,45,-15,...,2,12,2,3,0,3,103,12.6,17.43,47.8

In [4581]:
unmatched_matches(8)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
265,Alexander Kerfoot,28,Canada,185,5'10,"LW, C, RW",Left,82,13,32,...,2023-07-01,28,M-NTC,2,UFA,unrestricted,2025,3500000,70,17.43
20,Alex Ovechkin,37,Russia,236,6'3,LW,Right,79,31,34,...,2021-07-27,35,"M-NTC, NMC",5,UFA,unrestricted,2026,9500000,75,19.22
35,Alex Pietrangelo,33,Canada,210,6'3,RD,Right,64,4,29,...,2020-10-12,30,NMC,7,UFA,unrestricted,2027,8800000,75,23.55
63,Alex DeBrincat,25,United States,165,5'7,"LW, RW",Right,82,27,40,...,2023-07-09,25,None,4,RFA,unrestricted,2027,7875000,67,17.88
105,Alex Killorn,33,Canada,199,6'1,"RW, LW",Left,63,18,18,...,2023-07-01,33,NTC,4,UFA,unrestricted,2027,6250000,73,18.72
201,Alex Tuch,27,United States,220,6'4,"RW, LW",Right,75,22,37,...,2018-10-19,23,M-NTC,7,RFA,unrestricted,2026,4750000,76,19.50
215,Alexander Wennberg,28,Sweden,197,6'2,C,Left,79,10,20,...,2021-07-28,26,M-NTC,3,UFA,unrestricted,2024,4500000,74,17.98
253,Alex Iafallo,29,United States,188,6'0,"LW, RW",Left,82,11,16,...,2021-04-12,27,None,4,UFA,unrestricted,2025,4000000,72,15.30
265,Alexander Kerfoot,28,Canada,185,5'10,"LW, C, RW",Left,82,13,32,...,2023-07-01,28,M-NTC,2,UFA,unrestricted,2025,3500000,70,17.43
314,Alex Newhook,22,Canada,199,5'11,"C, LW",Left,55,15,19,...,2023-07-11,22,None,4,RFA,restricted,2027,2900000,71,16.92
337,Alexandre Carrier,26,Canada,174,5'11,RD,Right,73,4,16,...,2023-07-01,26,None,1,RFA,unrestricted,2024,2500000,71,18.80
344,Alexander Romanov,23,Russia,209,6'1,LD,Left,81,7,15,...,2022-08-22,22,None,3,RFA,restricted,2025,2500000,73,20.83
348,Alexander Barabanov,29,Russia,192,5'10,"RW, LW",Left,46,4,9,...,2022-05-09,28,M-NTC,2,UFA,unrestricted,2024,2500000,70,15.87
359,Alexis Lafrenière,21,Canada,193,6'1,"LW, RW",Left,82,28,29,...,2023-08-23,21,None,2,RFA,restricted,2025,2325000,73,17.27
388,Alex Goligoski,37,United States,185,5'11,LD/RD,Left,36,0,10,...,2022-03-30,36,NMC,2,UFA,unrestricted,2024,2000000,71,14.80
411,Alexandre Texier,23,Other,192,6'1,"LW, C, RW",Left,78,12,18,...,2021-07-28,21,None,3,RFA,restricted,2024,1525000,73,15.17
439,Alexey Toropchenko,24,Russia,187,6'3,"LW, RW",Left,82,14,7,...,2023-07-16,24,None,2,RFA,restricted,2025,1250000,75,12.52
552,Alex Vlasic,22,United States,200,6'6,LD,Left,76,2,14,...,2022-03-15,20,None,3,ELC,restricted,2024,1491667,78,21.47
574,Alexander Holtz,21,Sweden,192,6'0,"RW, LW",Right,82,16,12,...,2021-04-19,19,None,3,ELC,restricted,2025,1744167,72,11.63
582,Alex Turcotte,22,United States,185,5'11,C,Left,20,1,3,...,2020-03-11,19,None,3,ELC,restricted,2024,2444167,71,9.27
591,Alex Laferriere,21,United States,173,6'0,RW,Right,81,12,11,...,2023-04-09,20,None,3,ELC,restricted,2025,875000,72,13.22
672,Alex Steeves,23,United States,185,5'11,"LW, RW",Left,1,0,0,...,2021-03-29,21,None,3,ELC,restricted,2024,834167,71,10.23
688,Alexander Alexeyev,23,Russia,196,6'4,LD/RD,Left,39,1,2,...,2023-05-02,23,None,2,RFA,restricted,2025,825000,76,13.68
700,Nikita Alexandrov,22,Other,190,6'0,C,Left,23,0,2,...,2019-08-01,18,None,3,ELC,restricted,2024,880000,72,8.52
863,Alex Petrovic,31,Canada,216,6'4,RD,Right,1,0,0,...,2023-06-07,31,None,1,UFA,unrestricted,2024,775000,76,12.87
869,Alexander Nylander,25,Canada,192,6'1,"RW, LW",Right,28,11,4,...,2023-04-29,25,None,1,RFA,unrestricted,2024,775000,73,16.23
922,Alex Barré-Boulet,26,Canada,168,5'9,"RW, LW",Left,36,6,3,...,2021-07-30,24,None,3,RFA,unrestricted,2024,758333,69,11.18

In [4582]:
replace(8,265)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
265,Alex Kerfoot,28,Canada,185,5'10,"LW, C, RW",Left,82,13,32,...,2023-07-01,28,M-NTC,2,UFA,unrestricted,2025,3500000,70,17.43

**Index 9**

In [4583]:
unmatched_name(9)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
202,Erik Brannstrom,OTT,OTT,L,D,76,3,17,20,5,...,0,0,0,1,0,0,77,3.9,16.58,0.0

In [4584]:
unmatched_matches(9)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
4,Erik Karlsson,33,Sweden,190,6'0,RD,Right,82,11,45,...,2019-06-17,29,NMC,8,UFA,unrestricted,2027,11500000,72,24.27
161,Joel Eriksson Ek,26,Sweden,210,6'1,C,Left,77,30,34,...,2021-07-02,24,None,8,RFA,unrestricted,2029,5250000,73,20.52
165,Erik Cernak,26,Other,233,6'3,RD,Right,69,2,11,...,2022-07-13,26,None,8,RFA,unrestricted,2031,5200000,75,19.18
246,Erik Gudbranson,31,Canada,217,6'5,RD,Right,78,6,20,...,2022-07-13,30,M-NTC,4,UFA,unrestricted,2026,4000000,77,19.65
282,Erik Johnson,35,United States,225,6'4,RD,Right,67,5,1,...,2023-07-01,35,None,1,UFA,unrestricted,2024,3250000,76,14.47
291,Erik Haula,32,Finland,193,6'0,"C, LW",Left,76,16,19,...,2023-06-23,32,NTC,3,UFA,unrestricted,2026,3150000,72,16.87
383,Erik Brännström,23,Sweden,185,5'10,"LD/RD, LW",Left,76,3,17,...,2023-07-01,23,None,1,RFA,unrestricted,2024,2000000,70,16.58
686,Erik Gustafsson,31,Sweden,197,6'0,LD,Left,76,6,25,...,2023-07-01,31,None,1,UFA,unrestricted,2024,825000,72,17.38

In [4585]:
replace(9,383)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
383,Erik Brannstrom,23,Sweden,185,5'10,"LD/RD, LW",Left,76,3,17,...,2023-07-01,23,None,1,RFA,unrestricted,2024,2000000,70,16.58

**Index 10**

In [4586]:
unmatched_name(10)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
209,David Kampf,TOR,TOR,L,C,78,8,11,19,-4,...,0,0,0,0,0,1,79,10.1,13.48,50.9

In [4587]:
unmatched_matches(10)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
1,Connor McDavid,26,Canada,193,6'1,C,Left,76,32,100,...,2017-07-05,21,NMC,8,RFA,unrestricted,2026,12500000,73,21.35
5,David Pastrnak,27,Other,194,6'0,RW,Right,82,47,63,...,2023-03-02,27,NMC,8,UFA,unrestricted,2031,11250000,72,19.92
197,David Perron,35,Canada,200,6'0,"RW, LW",Right,76,17,30,...,2022-07-13,34,M-NTC,2,UFA,unrestricted,2024,4750000,72,15.62
268,David Savard,32,Canada,234,6'2,RD,Right,60,6,18,...,2021-07-28,30,None,4,UFA,unrestricted,2025,3500000,74,20.23
356,David Kämpf,28,Other,190,6'2,C,Left,78,8,11,...,2023-06-28,28,M-NTC,4,UFA,unrestricted,2027,2400000,74,13.48
546,David Jiricek,19,Other,189,6'3,RD,Right,43,1,9,...,2022-07-13,18,None,3,ELC,restricted,2026,1918333,75,14.58
879,David Gustafsson,23,Sweden,196,6'2,"LW, C",Left,39,3,4,...,2022-08-10,22,None,2,RFA,restricted,2024,775000,74,9.25

In [4588]:
replace(10,356)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
356,David Kampf,28,Other,190,6'2,C,Left,78,8,11,...,2023-06-28,28,M-NTC,4,UFA,unrestricted,2027,2400000,74,13.48

**Index 11**

In [4589]:
unmatched_name(11)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
221,Chris Tanev,CGY,DAL,R,D,75,2,17,19,22,...,0,0,0,0,0,0,56,3.6,19.68,0.0

In [4590]:
unmatched_matches(11)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
217,Christopher Tanev,33,Canada,197,6'2,RD,Right,75,2,17,...,2020-10-09,30,M-NTC,4,UFA,unrestricted,2024,4500000,74,19.68
271,Brandon Tanev,31,Canada,180,6'0,"LW, RW",Left,66,7,9,...,2019-07-01,27,M-NTC,6,UFA,unrestricted,2025,3500000,72,14.58
101,Chris Kreider,32,United States,217,6'3,LW,Left,82,39,36,...,2020-02-24,29,NMC,7,UFA,unrestricted,2027,6500000,75,18.78
217,Christopher Tanev,33,Canada,197,6'2,RD,Right,75,2,17,...,2020-10-09,30,M-NTC,4,UFA,unrestricted,2024,4500000,74,19.68
219,Christian Dvorak,27,United States,200,6'1,C,Left,30,5,4,...,2018-08-09,23,M-NTC,6,RFA,unrestricted,2025,4450000,73,15.52
447,Christian Fischer,26,United States,214,6'2,"RW, LW",Right,79,5,14,...,2023-07-02,26,None,1,UFA,unrestricted,2024,1125000,74,11.40
784,Chris Tierney,29,Canada,195,6'1,C,Left,52,4,8,...,2023-07-14,28,None,1,UFA,unrestricted,2024,775000,73,9.02
818,Chris Wagner,32,United States,198,6'0,"RW, C",Right,13,1,1,...,2023-07-01,32,None,1,UFA,unrestricted,2024,775000,72,7.45
864,Jake Christiansen,23,Canada,195,6'1,LD/RD,Left,12,0,2,...,2023-06-05,23,None,1,RFA,restricted,2024,775000,73,13.22

In [4591]:
replace(11,217)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
217,Chris Tanev,33,Canada,197,6'2,RD,Right,75,2,17,...,2020-10-09,30,M-NTC,4,UFA,unrestricted,2024,4500000,74,19.68

**Index 12**

In [4592]:
unmatched_name(12)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
232,Olli Maatta,DET,DET,L,D,72,4,14,18,14,...,0,0,0,0,0,0,48,8.3,16.05,0.0

In [4593]:
unmatched_matches(12)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
303,Olli Määttä,28,Finland,206,6'2,LD,Left,72,4,14,...,2023-02-16,28,None,2,UFA,unrestricted,2025,3000000,74,16.05

In [4594]:
replace(12,303)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
303,Olli Maatta,28,Finland,206,6'2,LD,Left,72,4,14,...,2023-02-16,28,None,2,UFA,unrestricted,2025,3000000,74,16.05

**Index 13**

In [4595]:
unmatched_name(13)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
236,Mikey Anderson,LAK,LAK,L,D,74,2,16,18,22,...,0,0,0,1,0,0,89,2.3,20.63,0.0

In [4596]:
unmatched_matches(13)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
151,Josh Anderson,29,Canada,227,6'3,"RW, LW",Right,78,9,11,...,2020-10-08,26,M-NTC,7,RFA,unrestricted,2027,5500000,75,15.45
235,Michael Anderson,24,United States,194,5'11,LD,Left,74,2,16,...,2023-02-15,24,None,8,RFA,unrestricted,2031,4125000,71,20.62
723,Joey Anderson,25,United States,190,5'11,RW,Right,55,5,12,...,2023-06-22,25,None,1,RFA,unrestricted,2024,800000,71,13.53
844,Jaret Anderson-Dolan,23,Canada,188,5'11,"C, LW, RW",Left,31,1,3,...,2023-07-01,23,None,1,UFA,unrestricted,2024,775000,71,11.03

In [4597]:
replace(13,235)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
235,Mikey Anderson,24,United States,194,5'11,LD,Left,74,2,16,...,2023-02-15,24,None,8,RFA,unrestricted,2031,4125000,71,20.62

**Index 14**

In [4598]:
unmatched_name(14)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
248,Juuso Valimaki,ARI,ARI,L,D,68,2,15,17,12,...,0,4,0,0,0,0,69,2.9,19.1,0.0

In [4599]:
unmatched_matches(14)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
479,Juuso Välimäki,24,Finland,212,6'2,LD,Left,68,2,15,...,2023-01-24,24,None,1,RFA,restricted,2024,1000000,74,19.08
645,Juuso Pärssinen,22,Finland,203,6'2,C,Left,44,8,4,...,2021-05-28,20,None,3,ELC,restricted,2024,925000,74,14.58

In [4600]:
replace(14,479)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
479,Juuso Valimaki,24,Finland,212,6'2,LD,Left,68,2,15,...,2023-01-24,24,None,1,RFA,restricted,2024,1000000,74,19.08

**Index 15**

In [4601]:
unmatched_name(15)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
255,Emil Bemstrom,CBJ,PIT,R,C,56,8,8,16,-5,...,4,5,0,0,0,1,83,9.6,11.13,37.5

In [4602]:
unmatched_matches(15)

/Users/ness/anaconda3/lib/python3.11/site-packages/IPython/core/displayhook.py:281: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
556,Emil Andrae,21,Sweden,181,5'9,LD,Left,4,0,0,...,2023-03-27,21,None,3,ELC,restricted,2026,925000,69,13.00
560,Emil Bemström,24,Sweden,190,6'0,"RW, LW",Right,56,8,8,...,2022-08-03,23,None,2,RFA,unrestricted,2024,900000,72,11.13
564,Emil Heineman,21,Sweden,185,6'1,"LW, RW",Left,4,0,0,...,2022-04-04,20,None,3,ELC,restricted,2025,925000,73,9.95
596,Emil Martinsen Lilleberg,22,Other,185,6'2,LD,Left,37,0,5,...,2023-06-05,22,None,2,ELC,restricted,2025,950000,74,16.20

In [4603]:
replace(15,560)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
560,Emil Bemstrom,24,Sweden,190,6'0,"RW, LW",Right,56,8,8,...,2022-08-03,23,None,2,RFA,unrestricted,2024,900000,72,11.13

**Index 16**

In [4604]:
unmatched_name(16)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
256,Andre Burakovsky,SEA,SEA,L,L,49,7,9,16,-15,...,5,9,0,0,0,1,92,7.6,14.57,50.0

In [4605]:
unmatched_matches(16)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
146,André Burakovsky,28,Other,201,6'3,"RW, LW",Left,49,7,9,...,2022-07-13,27,M-NTC,5,UFA,unrestricted,2027,5500000,75,14.55
74,Andrei Svechnikov,23,Russia,195,6'2,"LW, RW",Left,59,19,33,...,2021-08-26,21,None,8,RFA,unrestricted,2029,7750000,74,16.97
135,Andrew Mangiapane,27,Canada,184,5'10,"RW, LW",Left,75,14,26,...,2022-08-02,26,M-NTC,3,RFA,unrestricted,2025,5800000,70,15.98
142,Andrew Copp,28,United States,206,6'1,"C, LW, RW",Left,79,13,20,...,2022-07-13,27,M-NTC,5,UFA,unrestricted,2027,5625000,73,16.27
145,Andrei Kuzmenko,27,Russia,194,5'11,"LW, RW",Right,72,22,24,...,2023-01-26,27,M-NTC,2,UFA,unrestricted,2025,5500000,71,14.88
227,Andreas Athanasiou,28,Canada,188,6'2,"LW, RW",Left,28,2,7,...,2023-06-07,28,None,2,UFA,unrestricted,2025,4250000,74,13.08
257,K'Andre Miller,23,United States,210,6'5,LD,Left,80,8,22,...,2023-07-11,23,None,2,RFA,restricted,2025,3872000,77,21.55
320,Andrew Peeke,25,United States,194,6'3,RD,Right,38,1,9,...,2022-09-28,25,None,3,RFA,unrestricted,2026,2750000,75,16.38
471,Andreas Englund,27,Sweden,189,6'3,LD,Left,82,1,9,...,2023-07-01,27,None,2,UFA,unrestricted,2025,1000000,75,13.22
685,Andrew Cogliano,36,Canada,175,5'10,LW,Left,75,6,13,...,2023-07-01,36,None,1,UFA,unrestricted,2024,825000,70,10.60
899,Andrew Poturalski,29,United States,190,5'10,C,Right,2,0,0,...,2022-07-13,28,None,2,UFA,unrestricted,2024,762500,70,6.87

In [4606]:
replace(16,146)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
146,Andre Burakovsky,28,Other,201,6'3,"RW, LW",Left,49,7,9,...,2022-07-13,27,M-NTC,5,UFA,unrestricted,2027,5500000,75,14.55

**Index 17**

In [4607]:
unmatched_name(17)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
259,Nicolas Aube-Kubel,WSH,WSH,R,R,60,6,10,16,4,...,0,0,0,0,0,0,58,10.3,12.2,33.3

In [4608]:
unmatched_matches(17)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
305,Nicolas Roy,26,Canada,200,6'4,"C, RW",Right,70,13,28,...,2022-08-08,25,None,5,RFA,unrestricted,2027,3000000,76,15.45
363,Nicolas Hague,24,Canada,221,6'6,LD,Left,73,2,10,...,2022-10-10,23,None,3,RFA,restricted,2025,2294150,78,18.55
398,Nicolas Deslauriers,32,Canada,219,6'3,"LW, RW",Left,60,1,3,...,2022-07-13,31,M-NTC,4,UFA,unrestricted,2026,1750000,75,8.13
443,Nicolas Aubé-Kubel,27,Canada,187,5'11,RW,Right,60,6,10,...,2023-03-03,27,None,1,UFA,unrestricted,2024,1225000,71,12.20
897,Nicolas Petan,28,Canada,175,5'9,"C, LW, RW",Left,6,0,2,...,2022-07-13,27,None,2,UFA,unrestricted,2024,762500,69,10.83

In [4609]:
replace(17,443)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
443,Nicolas Aube-Kubel,27,Canada,187,5'11,RW,Right,60,6,10,...,2023-03-03,27,None,1,UFA,unrestricted,2024,1225000,71,12.2

**Index 18**

In [4610]:
unmatched_name(18)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
263,Pat Maroon,MIN,BOS,L,L,51,4,12,16,-11,...,0,1,0,0,0,0,56,7.1,12.85,37.5

In [4611]:
unmatched_matches(18)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
481,Patrick Maroon,35,United States,236,6'2,"LW, RW",Left,51,4,12,...,2022-02-08,34,M-NTC,2,UFA,unrestricted,2024,1000000,74,12.83
37,Patrik Laine,25,Finland,206,6'5,"C, RW, LW",Right,18,6,3,...,2022-07-22,24,M-NTC,4,RFA,unrestricted,2026,8700000,77,15.22
318,Patrick Kane,34,United States,177,5'10,RW,Left,50,20,27,...,2023-11-28,34,NTC,1,UFA,unrestricted,2024,2750000,70,18.37
481,Patrick Maroon,35,United States,236,6'2,"LW, RW",Left,51,4,12,...,2022-02-08,34,M-NTC,2,UFA,unrestricted,2024,1000000,74,12.83
661,Patrik Koch,26,Other,190,6'1,D,Left,1,0,0,...,2023-06-05,26,None,1,ELC,unrestricted,2024,847500,73,9.33
718,Patrick Brown,31,United States,214,5'11,"C, RW",Right,11,0,1,...,2023-07-01,31,None,2,UFA,unrestricted,2025,800000,71,8.82

In [4612]:
replace(18,481)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
481,Pat Maroon,35,United States,236,6'2,"LW, RW",Left,51,4,12,...,2022-02-08,34,M-NTC,2,UFA,unrestricted,2024,1000000,74,12.83

**Index 19**

In [4613]:
unmatched_name(19)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
266,Martin Fehervary,WSH,WSH,L,D,66,3,13,16,-7,...,0,0,0,1,0,0,61,4.9,19.63,0.0

In [4614]:
unmatched_matches(19)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
160,Alec Martinez,35,United States,209,6'1,LD,Left,55,4,13,...,2021-07-28,33,M-NTC,3,UFA,unrestricted,2024,5250000,73,19.03
304,Martin Necas,24,Other,189,6'2,RW,Right,77,24,29,...,2022-08-09,23,None,2,RFA,restricted,2024,3000000,74,17.35
330,Martin Fehérváry,23,Other,200,6'2,LD/RD,Left,66,3,13,...,2023-07-04,23,None,3,RFA,restricted,2026,2675000,74,19.62
396,Jordan Martinook,30,Canada,196,6'0,"LW, RW",Left,82,14,18,...,2021-07-28,28,None,3,UFA,unrestricted,2024,1800000,72,14.63
418,Matt Martin,34,Canada,220,6'3,"LW, RW",Left,57,4,4,...,2021-01-11,31,None,4,UFA,unrestricted,2024,1500000,75,9.30
596,Emil Martinsen Lilleberg,22,Other,185,6'2,LD,Left,37,0,5,...,2023-06-05,22,None,2,ELC,restricted,2025,950000,74,16.20
809,Martin Pospisil,23,Other,181,6'2,RW,Left,63,8,16,...,2023-07-02,23,None,1,RFA,restricted,2024,775000,74,12.72

In [4615]:
replace(19,330)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
330,Martin Fehervary,23,Other,200,6'2,LD/RD,Left,66,3,13,...,2023-07-04,23,None,3,RFA,restricted,2026,2675000,74,19.62

**Index 20**

In [4616]:
unmatched_name(20)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
272,Alex Nylander,PIT,CBJ,R,L,28,11,4,15,-1,...,2,2,0,0,0,2,72,15.3,16.25,47.4

In [4617]:
unmatched_matches(20)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
91,William Nylander,27,Canada,202,6'0,RW,Right,82,40,58,...,2018-12-01,22,NMC,6,RFA,unrestricted,2024,6962366,72,19.90
869,Alexander Nylander,25,Canada,192,6'1,"RW, LW",Right,28,11,4,...,2023-04-29,25,None,1,RFA,unrestricted,2024,775000,73,16.23
20,Alex Ovechkin,37,Russia,236,6'3,LW,Right,79,31,34,...,2021-07-27,35,"M-NTC, NMC",5,UFA,unrestricted,2026,9500000,75,19.22
35,Alex Pietrangelo,33,Canada,210,6'3,RD,Right,64,4,29,...,2020-10-12,30,NMC,7,UFA,unrestricted,2027,8800000,75,23.55
63,Alex DeBrincat,25,United States,165,5'7,"LW, RW",Right,82,27,40,...,2023-07-09,25,None,4,RFA,unrestricted,2027,7875000,67,17.88
105,Alex Killorn,33,Canada,199,6'1,"RW, LW",Left,63,18,18,...,2023-07-01,33,NTC,4,UFA,unrestricted,2027,6250000,73,18.72
201,Alex Tuch,27,United States,220,6'4,"RW, LW",Right,75,22,37,...,2018-10-19,23,M-NTC,7,RFA,unrestricted,2026,4750000,76,19.50
215,Alexander Wennberg,28,Sweden,197,6'2,C,Left,79,10,20,...,2021-07-28,26,M-NTC,3,UFA,unrestricted,2024,4500000,74,17.98
253,Alex Iafallo,29,United States,188,6'0,"LW, RW",Left,82,11,16,...,2021-04-12,27,None,4,UFA,unrestricted,2025,4000000,72,15.30
265,Alex Kerfoot,28,Canada,185,5'10,"LW, C, RW",Left,82,13,32,...,2023-07-01,28,M-NTC,2,UFA,unrestricted,2025,3500000,70,17.43
314,Alex Newhook,22,Canada,199,5'11,"C, LW",Left,55,15,19,...,2023-07-11,22,None,4,RFA,restricted,2027,2900000,71,16.92
337,Alexandre Carrier,26,Canada,174,5'11,RD,Right,73,4,16,...,2023-07-01,26,None,1,RFA,unrestricted,2024,2500000,71,18.80
344,Alexander Romanov,23,Russia,209,6'1,LD,Left,81,7,15,...,2022-08-22,22,None,3,RFA,restricted,2025,2500000,73,20.83
348,Alexander Barabanov,29,Russia,192,5'10,"RW, LW",Left,46,4,9,...,2022-05-09,28,M-NTC,2,UFA,unrestricted,2024,2500000,70,15.87
359,Alexis Lafrenière,21,Canada,193,6'1,"LW, RW",Left,82,28,29,...,2023-08-23,21,None,2,RFA,restricted,2025,2325000,73,17.27
388,Alex Goligoski,37,United States,185,5'11,LD/RD,Left,36,0,10,...,2022-03-30,36,NMC,2,UFA,unrestricted,2024,2000000,71,14.80
411,Alexandre Texier,23,Other,192,6'1,"LW, C, RW",Left,78,12,18,...,2021-07-28,21,None,3,RFA,restricted,2024,1525000,73,15.17
439,Alexey Toropchenko,24,Russia,187,6'3,"LW, RW",Left,82,14,7,...,2023-07-16,24,None,2,RFA,restricted,2025,1250000,75,12.52
552,Alex Vlasic,22,United States,200,6'6,LD,Left,76,2,14,...,2022-03-15,20,None,3,ELC,restricted,2024,1491667,78,21.47
574,Alexander Holtz,21,Sweden,192,6'0,"RW, LW",Right,82,16,12,...,2021-04-19,19,None,3,ELC,restricted,2025,1744167,72,11.63
582,Alex Turcotte,22,United States,185,5'11,C,Left,20,1,3,...,2020-03-11,19,None,3,ELC,restricted,2024,2444167,71,9.27
591,Alex Laferriere,21,United States,173,6'0,RW,Right,81,12,11,...,2023-04-09,20,None,3,ELC,restricted,2025,875000,72,13.22
672,Alex Steeves,23,United States,185,5'11,"LW, RW",Left,1,0,0,...,2021-03-29,21,None,3,ELC,restricted,2024,834167,71,10.23
688,Alexander Alexeyev,23,Russia,196,6'4,LD/RD,Left,39,1,2,...,2023-05-02,23,None,2,RFA,restricted,2025,825000,76,13.68
700,Nikita Alexandrov,22,Other,190,6'0,C,Left,23,0,2,...,2019-08-01,18,None,3,ELC,restricted,2024,880000,72,8.52
863,Alex Petrovic,31,Canada,216,6'4,RD,Right,1,0,0,...,2023-06-07,31,None,1,UFA,unrestricted,2024,775000,76,12.87
869,Alexander Nylander,25,Canada,192,6'1,"RW, LW",Right,28,11,4,...,2023-04-29,25,None,1,RFA,unrestricted,2024,775000,73,16.23
922,Alex Barré-Boulet,26,Canada,168,5'9,"RW, LW",Left,36,6,3,...,2021-07-30,24,None,3,RFA,unrestricted,2024,758333,69,11.18

In [4618]:
replace(20,869)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
869,Alex Nylander,25,Canada,192,6'1,"RW, LW",Right,28,11,4,...,2023-04-29,25,None,1,RFA,unrestricted,2024,775000,73,16.23

**Index 21**

In [4619]:
unmatched_name(21)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
281,Frederick Gaudreau,MIN,MIN,R,C,67,5,10,15,-23,...,2,7,0,0,0,1,105,4.8,13.95,49.9

In [4620]:
unmatched_matches(21)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
14,Johnny Gaudreau,29,United States,165,5'9,LW,Left,81,12,48,...,2022-07-13,28,NMC,7,UFA,unrestricted,2029,9750000,69,18.80
371,Frédérick Gaudreau,30,Canada,179,6'0,"C, LW",Right,67,5,10,...,2023-04-13,30,M-NTC,5,UFA,unrestricted,2028,2100000,72,13.93

In [4621]:
replace(21,371)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
371,Frederick Gaudreau,30,Canada,179,6'0,"C, LW",Right,67,5,10,...,2023-04-13,30,M-NTC,5,UFA,unrestricted,2028,2100000,72,13.93

**Index 22**

In [4622]:
unmatched_name(22)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
291,Jeremy Lauzon,NSH,NSH,L,D,79,6,8,14,-3,...,0,0,0,0,0,0,103,5.8,18.62,0.0

In [4623]:
unmatched_matches(22)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
387,Jérémy Lauzon,26,Canada,204,6'1,LD/RD,Left,79,6,8,...,2022-06-13,25,None,4,RFA,unrestricted,2026,2000000,73,18.6

In [4624]:
replace(22,387)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
387,Jeremy Lauzon,26,Canada,204,6'1,LD/RD,Left,79,6,8,...,2022-06-13,25,None,4,RFA,unrestricted,2026,2000000,73,18.6

**Index 23**

In [4625]:
unmatched_name(23)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
303,Max Lajoie,TOR,TOR,L,D,7,0,1,1,1,...,0,1,0,0,0,0,1,0.0,12.72,0.0

In [4626]:
unmatched_matches(23)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
823,Maxime Lajoie,25,Canada,196,6'1,LD,Left,7,0,1,...,2023-07-01,25,None,1,UFA,unrestricted,2024,775000,73,12.72
297,Max Domi,28,Canada,208,5'10,"C, RW",Left,80,9,38,...,2023-07-02,28,M-NTC,1,UFA,unrestricted,2024,3000000,70,13.78
380,Max Pacioretty,34,United States,215,6'2,LW,Left,47,4,19,...,2023-07-01,34,NMC,1,UFA,unrestricted,2024,4000000,74,14.43
437,Max Jones,25,United States,220,6'3,"LW, RW",Left,52,5,10,...,2021-08-09,23,None,3,RFA,unrestricted,2024,1295000,75,12.05
606,Maxwell Crozier,23,Canada,192,6'2,RD,Right,13,0,2,...,2023-03-21,23,None,2,ELC,restricted,2025,925000,74,12.93
703,Maxence Guénette,22,Canada,196,6'3,RD,Right,7,0,0,...,2021-04-03,20,None,3,ELC,restricted,2024,813333,75,13.78
754,Maxime Comtois,24,Canada,214,6'2,LW,Left,1,0,1,...,2024-03-05,24,None,1,UFA,unrestricted,2024,775000,74,13.07
769,Max Willman,28,United States,198,6'1,LW,Left,18,3,1,...,2023-10-07,28,None,1,UFA,unrestricted,2024,775000,73,8.32
823,Maxime Lajoie,25,Canada,196,6'1,LD,Left,7,0,1,...,2023-07-01,25,None,1,UFA,unrestricted,2024,775000,73,12.72
913,Max McCormick,31,United States,188,5'11,LW,Left,1,0,0,...,2022-05-09,30,None,2,UFA,unrestricted,2024,762500,71,5.63

In [4627]:
replace(23,823)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
823,Max Lajoie,25,Canada,196,6'1,LD,Left,7,0,1,...,2023-07-01,25,None,1,UFA,unrestricted,2024,775000,73,12.72

**Index 24**

In [4628]:
unmatched_name(24)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
307,Hardy Haman Aktell,WSH,WSH,L,D,6,0,1,1,-2,...,0,0,0,0,0,0,5,0.0,10.63,0.0

In [4629]:
unmatched_matches(24)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
600,Hardy Häman Aktell,24,Sweden,198,6'3,LD,Left,6,0,1,...,2023-04-27,24,None,1,ELC,restricted,2024,950000,75,10.62
600,Hardy Häman Aktell,24,Sweden,198,6'3,LD,Left,6,0,1,...,2023-04-27,24,None,1,ELC,restricted,2024,950000,75,10.62

In [4630]:
replace(24,600)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
600,Hardy Haman Aktell,24,Sweden,198,6'3,LD,Left,6,0,1,...,2023-04-27,24,None,1,ELC,restricted,2024,950000,75,10.62

**Index 25**

In [4631]:
unmatched_name(25)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
310,Calle Rosen,STL,STL,L,D,6,0,1,1,-1,...,0,0,0,0,0,0,5,0.0,12.67,0.0

In [4632]:
unmatched_matches(25)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
373,Calle Järnkrok,31,Sweden,190,6'0,"RW, C, LW",Right,52,10,11,...,2022-07-15,30,M-NTC,4,UFA,unrestricted,2026,2100000,72,15.25
911,Calle Rosén,29,Sweden,186,6'1,LD,Left,6,0,1,...,2022-06-01,28,None,2,UFA,unrestricted,2024,762500,73,12.65

In [4633]:
replace(25,911)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
911,Calle Rosen,29,Sweden,186,6'1,LD,Left,6,0,1,...,2022-06-01,28,None,2,UFA,unrestricted,2024,762500,73,12.65

**Index 26**

In [4634]:
unmatched_name(26)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
312,Jan Jenik,ARI,ARI,L,R,5,0,1,1,-1,...,0,0,0,0,0,0,2,0.0,8.38,46.7

In [4635]:
unmatched_matches(26)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
322,Jan Rutta,32,Other,204,6'2,LD/RD,Right,69,5,14,...,2022-07-13,31,None,3,UFA,unrestricted,2025,2750000,74,19.72
417,Jani Hakanpää,31,Finland,218,6'5,RD,Right,64,2,10,...,2021-07-29,29,None,3,UFA,unrestricted,2024,1500000,77,18.63
477,Mattias Janmark,30,Sweden,195,6'1,"LW, RW",Left,71,4,8,...,2023-06-30,30,None,1,UFA,unrestricted,2024,1000000,73,11.88
656,Jansen Harkins,26,Canada,183,6'1,LW,Left,45,0,4,...,2022-07-16,25,None,2,RFA,unrestricted,2024,850000,73,8.20
770,Jan Jeník,22,Other,171,6'1,C,Left,5,0,1,...,2023-09-20,22,None,1,RFA,restricted,2024,775000,73,8.37
875,Mark Jankowski,28,Canada,212,6'4,"C, LW",Left,32,7,8,...,2023-03-13,28,None,1,UFA,unrestricted,2024,775000,76,12.67

In [4636]:
replace(26,770)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
770,Jan Jenik,22,Other,171,6'1,C,Left,5,0,1,...,2023-09-20,22,None,1,RFA,restricted,2024,775000,73,8.37

**Index 27**

In [4637]:
unmatched_name(27)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
315,Aku Raty,ARI,ARI,R,R,1,0,1,1,0,...,0,0,0,0,0,0,0,0.0,11.75,0.0

In [4638]:
unmatched_matches(27)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
566,Aku Räty,21,Finland,165,6'0,C,Right,1,0,1,...,2023-05-03,22,None,2,ELC,restricted,2025,925000,72,11.75

In [4639]:
replace(27,566)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
566,Aku Raty,21,Finland,165,6'0,C,Right,1,0,1,...,2023-05-03,22,None,2,ELC,restricted,2025,925000,72,11.75

**Index 28**

In [4640]:
unmatched_name(28)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
320,Roby Jarventie,OTT,OTT,L,L,7,0,1,1,-5,...,0,0,0,0,0,0,5,0.0,7.52,31.4

In [4641]:
unmatched_matches(28)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
573,Roby Järventie,20,Finland,213,6'3,LW,Left,7,0,1,...,2021-04-27,18,None,3,ELC,restricted,2025,894167,75,7.52

In [4642]:
replace(28,573)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
573,Roby Jarventie,20,Finland,213,6'3,LW,Left,7,0,1,...,2021-04-27,18,None,3,ELC,restricted,2025,894167,75,7.52

**Index 29**

In [4643]:
unmatched_name(29)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
328,Alexander Petrovic,DAL,DAL,R,D,1,0,0,0,-1,...,0,0,0,0,0,0,2,0.0,12.87,0.0

In [4644]:
unmatched_matches(29)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
863,Alex Petrovic,31,Canada,216,6'4,RD,Right,1,0,0,...,2023-06-07,31,None,1,UFA,unrestricted,2024,775000,76,12.87
215,Alexander Wennberg,28,Sweden,197,6'2,C,Left,79,10,20,...,2021-07-28,26,M-NTC,3,UFA,unrestricted,2024,4500000,74,17.98
344,Alexander Romanov,23,Russia,209,6'1,LD,Left,81,7,15,...,2022-08-22,22,None,3,RFA,restricted,2025,2500000,73,20.83
348,Alexander Barabanov,29,Russia,192,5'10,"RW, LW",Left,46,4,9,...,2022-05-09,28,M-NTC,2,UFA,unrestricted,2024,2500000,70,15.87
574,Alexander Holtz,21,Sweden,192,6'0,"RW, LW",Right,82,16,12,...,2021-04-19,19,None,3,ELC,restricted,2025,1744167,72,11.63
688,Alexander Alexeyev,23,Russia,196,6'4,LD/RD,Left,39,1,2,...,2023-05-02,23,None,2,RFA,restricted,2025,825000,76,13.68

In [4645]:
replace(29,863)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
863,Alexander Petrovic,31,Canada,216,6'4,RD,Right,1,0,0,...,2023-06-07,31,None,1,UFA,unrestricted,2024,775000,76,12.87

**Index 30**

In [4646]:
unmatched_name(30)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
336,Robert Hagg,ANA,ANA,L,D,5,0,0,0,-4,...,0,0,0,0,0,0,6,0.0,12.78,0.0

In [4647]:
unmatched_matches(30)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
53,Robert Thomas,23,Canada,188,6'0,"C, RW",Right,82,26,60,...,2022-07-13,23,None,8,RFA,unrestricted,2031,8125000,72,20.95
72,Jason Robertson,23,United States,194,6'2,"LW, RW",Left,82,29,51,...,2022-10-06,22,None,4,RFA,restricted,2026,7750000,74,18.32
498,Robert Bortuzzo,34,Canada,216,6'4,RD,Right,27,0,0,...,2022-02-08,33,None,2,UFA,unrestricted,2024,950000,76,13.72
739,Nicholas Robertson,21,United States,178,5'9,"LW, RW",Left,56,14,13,...,2019-09-19,17,None,3,ELC,restricted,2024,796667,69,11.37
802,Robert Hägg,28,Sweden,204,6'2,LD,Left,5,0,0,...,2023-07-04,28,None,1,UFA,unrestricted,2024,775000,74,12.78

In [4648]:
replace(30,802)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
802,Robert Hagg,28,Sweden,204,6'2,LD,Left,5,0,0,...,2023-07-04,28,None,1,UFA,unrestricted,2024,775000,74,12.78

**Index 31**

In [4649]:
unmatched_name(31)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
361,Marián Studenic,SEA,SEA,L,R,2,0,0,0,-1,...,0,0,0,0,0,0,1,0.0,8.12,0.0

In [4650]:
unmatched_matches(31)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
835,Marian Studenic,24,Other,165,6'0,"LW, RW",Left,2,0,0,...,2023-07-01,24,None,1,UFA,unrestricted,2024,775000,72,8.1

In [4651]:
replace(31,835)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
835,Marián Studenic,24,Other,165,6'0,"LW, RW",Left,2,0,0,...,2023-07-01,24,None,1,UFA,unrestricted,2024,775000,72,8.1

**Index 32**

In [4652]:
unmatched_name(32)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
362,Sammy Walker,MIN,MIN,R,C,4,0,0,0,-3,...,0,0,0,0,0,0,3,0.0,9.37,0.0

In [4653]:
unmatched_matches(32)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
334,Sean Walker,28,Canada,196,5'11,LD/RD,Right,81,10,19,...,2020-09-11,25,None,4,RFA,unrestricted,2024,2650000,71,19.22
639,Samuel Walker,24,United States,180,5'11,"RW, LW",Right,4,0,0,...,2022-08-18,23,None,2,ELC,restricted,2024,925000,71,9.35
689,Walker Duehr,25,United States,210,6'2,RW,Right,40,2,5,...,2023-04-24,25,None,2,RFA,unrestricted,2025,825000,74,8.12
880,Nathan Walker,29,Other,186,5'9,LW,Left,45,7,6,...,2022-07-14,29,None,1,UFA,unrestricted,2024,775000,69,10.80

In [4654]:
replace(32,639)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
639,Sammy Walker,24,United States,180,5'11,"RW, LW",Right,4,0,0,...,2022-08-18,23,None,2,ELC,restricted,2024,925000,71,9.35

**Index 33**

In [4655]:
unmatched_name(33)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
372,Sam Poulin,PIT,PIT,L,R,3,0,0,0,-1,...,0,0,0,0,0,0,2,0.0,7.78,41.7

In [4656]:
unmatched_matches(33)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
624,Samuel Poulin,22,Canada,208,6'1,"C, LW",Left,3,0,0,...,2019-09-22,18,None,3,ELC,restricted,2024,863333,73,7.78
98,Sam Reinhart,27,Canada,194,6'1,RW,Right,82,57,37,...,2021-08-11,25,None,3,RFA,unrestricted,2024,6500000,73,20.28
186,Samuel Girard,25,Canada,170,5'10,LD/RD,Left,59,3,15,...,2019-07-31,22,None,7,RFA,unrestricted,2027,5000000,70,19.37
221,Sam Bennett,27,Canada,195,6'1,C,Left,69,20,21,...,2021-07-26,25,None,4,RFA,unrestricted,2025,4425000,73,16.60
226,Mattias Samuelsson,23,United States,218,6'4,LD,Left,41,1,6,...,2022-10-12,23,None,7,RFA,unrestricted,2030,4285714,76,20.50
422,Dylan Samberg,24,United States,190,6'3,LD,Left,78,1,17,...,2023-07-05,24,None,2,RFA,restricted,2025,1400000,75,15.62
446,Sam Lafferty,28,United States,205,6'2,"RW, C, LW",Right,79,13,11,...,2022-04-29,27,None,2,UFA,unrestricted,2024,1150000,74,11.87
478,Samuel Blais,27,Canada,205,6'2,"LW, RW",Left,53,1,6,...,2023-03-02,27,None,1,UFA,unrestricted,2024,1000000,74,9.68
499,Sam Colangelo,21,United States,205,6'2,RW,Right,3,1,0,...,2024-04-11,21,None,2,ELC,restricted,2025,1300000,74,12.55
505,Mackie Samoskevich,20,United States,190,5'11,RW,Right,7,0,0,...,2023-05-08,19,None,3,ELC,restricted,2025,925000,71,12.03
624,Samuel Poulin,22,Canada,208,6'1,"C, LW",Left,3,0,0,...,2019-09-22,18,None,3,ELC,restricted,2024,863333,73,7.78
639,Sammy Walker,24,United States,180,5'11,"RW, LW",Right,4,0,0,...,2022-08-18,23,None,2,ELC,restricted,2024,925000,71,9.35
653,Sam Steel,25,Canada,189,5'11,"C, LW",Left,77,9,15,...,2023-07-01,25,None,1,UFA,unrestricted,2024,850000,71,13.23
654,Sam Malinski,24,United States,190,5'11,RD,Right,23,3,7,...,2023-03-30,24,None,2,UFA,restricted,2025,850000,71,14.22
657,Sam Carrick,31,Canada,197,6'0,"C, RW",Right,77,10,6,...,2022-04-26,30,None,2,UFA,unrestricted,2024,850000,72,12.22
724,Samuel Bolduc,22,Canada,210,6'4,LD,Left,34,2,3,...,2023-06-20,22,None,2,RFA,restricted,2025,800000,76,13.13
761,Samuel Laberge,26,Canada,205,6'2,C,Left,2,0,0,...,2023-11-25,26,None,1,UFA,unrestricted,2024,775000,74,3.08
763,Sam Gagner,33,Canada,200,5'11,"RW, C",Right,28,5,5,...,2023-10-31,33,None,1,UFA,unrestricted,2024,775000,71,10.20
796,Samuel Fagemo,23,Sweden,190,6'0,"LW, RW",Right,8,1,0,...,2023-07-06,23,None,1,RFA,restricted,2024,775000,72,9.18

In [4657]:
replace(33,624)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
624,Sam Poulin,22,Canada,208,6'1,"C, LW",Left,3,0,0,...,2019-09-22,18,None,3,ELC,restricted,2024,863333,73,7.78

**Index 34**

In [4658]:
unmatched_name(34)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
373,Victor Soderstrom,ARI,ARI,R,D,3,0,0,0,-1,...,0,0,0,0,0,0,1,0.0,15.18,0.0

In [4659]:
unmatched_matches(34)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
67,Victor Hedman,32,Sweden,229,6'6,LD,Left,78,13,63,...,2016-07-01,25,M-NTC,8,UFA,unrestricted,2025,7875000,78,24.80
200,Victor Olofsson,27,Sweden,183,5'11,"RW, LW",Left,51,7,8,...,2022-07-13,26,None,2,RFA,unrestricted,2024,4750000,71,11.57
628,Victor Söderström,22,Sweden,182,6'0,RD,Right,3,0,0,...,2019-07-07,18,None,3,ELC,restricted,2024,1523333,72,15.18
799,Victor Mete,25,Canada,187,5'9,LD/RD,Left,1,0,0,...,2023-07-05,25,None,1,UFA,unrestricted,2024,775000,69,10.87

In [4660]:
replace(34,628)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
628,Victor Soderstrom,22,Sweden,182,6'0,RD,Right,3,0,0,...,2019-07-07,18,None,3,ELC,restricted,2024,1523333,72,15.18

**Index 35**

In [4661]:
unmatched_name(35)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
374,Tobias Bjornfot,LAK,FLA,L,D,4,0,0,0,-2,...,0,0,0,0,0,0,1,0.0,13.82,0.0

In [4662]:
unmatched_matches(35)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
793,Tobias Björnfot,22,Sweden,202,6'0,LD,Left,4,0,0,...,2023-07-07,22,None,2,RFA,restricted,2025,775000,72,13.8

In [4663]:
replace(35,793)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
793,Tobias Bjornfot,22,Sweden,202,6'0,LD,Left,4,0,0,...,2023-07-07,22,None,2,RFA,restricted,2025,775000,72,13.8

**Index 36**

In [4664]:
unmatched_name(36)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
376,Maxence Guenette,OTT,OTT,R,D,7,0,0,0,-1,...,0,0,0,0,0,0,6,0.0,13.78,0.0

In [4665]:
unmatched_matches(36)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
703,Maxence Guénette,22,Canada,196,6'3,RD,Right,7,0,0,...,2021-04-03,20,None,3,ELC,restricted,2024,813333,75,13.78

In [4666]:
replace(36,703)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
703,Maxence Guenette,22,Canada,196,6'3,RD,Right,7,0,0,...,2021-04-03,20,None,3,ELC,restricted,2024,813333,75,13.78

**Index 37**

In [4667]:
unmatched_name(37)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
394,Isak Rosen,BUF,BUF,L,R,7,0,0,0,-3,...,0,0,0,0,0,0,8,0.0,8.58,16.7

In [4668]:
unmatched_matches(37)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
911,Calle Rosen,29,Sweden,186,6'1,LD,Left,6,0,1,...,2022-06-01,28,None,2,UFA,unrestricted,2024,762500,73,12.65
567,Isak Rosén,20,Sweden,156,5'11,RW,Left,7,0,0,...,2022-05-31,19,None,3,ELC,restricted,2026,1419167,71,8.58

In [4669]:
replace(37,567)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
567,Isak Rosen,20,Sweden,156,5'11,RW,Left,7,0,0,...,2022-05-31,19,None,3,ELC,restricted,2026,1419167,71,8.58

**Index 38**

In [4670]:
unmatched_name(38)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
426,Jonas Rondbjerg,VGK,VGK,L,R,20,1,2,3,2,...,0,0,0,0,0,0,25,4.0,11.28,0.0

In [4671]:
unmatched_matches(38)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
122,Jonas Brodin,29,Sweden,194,6'1,LD,Left,62,7,20,...,2020-09-15,27,NMC,7,UFA,unrestricted,2028,6000000,73,23.37
276,Jonas Siegenthaler,26,Other,210,6'3,LD,Left,57,1,8,...,2022-07-26,26,None,5,RFA,unrestricted,2028,3400000,75,19.33
888,Jonas Røndbjerg,24,Other,176,6'0,"LW, RW",Left,20,1,2,...,2022-07-13,23,None,3,RFA,restricted,2025,766667,72,11.27

In [4672]:
replace(38,888)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
888,Jonas Rondbjerg,24,Other,176,6'0,"LW, RW",Left,20,1,2,...,2022-07-13,23,None,3,RFA,restricted,2025,766667,72,11.27

**Index 39**

In [4673]:
unmatched_name(39)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
436,Adam Edstrom,NYR,NYR,L,C,11,2,0,2,2,...,0,0,0,0,0,0,7,28.6,8.42,0.0

In [4674]:
unmatched_matches(39)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
17,Adam Fox,25,United States,181,5'11,RD,Right,72,17,56,...,2021-11-01,24,None,7,RFA,unrestricted,2029,9500000,71,23.43
134,Adam Henrique,33,Canada,195,6'0,"LW, C",Left,82,24,27,...,2018-07-16,29,M-NTC,5,UFA,unrestricted,2024,5825000,72,16.83
139,Adam Pelech,28,Canada,218,6'3,LD,Left,58,1,15,...,2021-08-06,26,NTC,8,RFA,unrestricted,2029,5750000,75,20.27
252,Adam Larsson,30,Sweden,208,6'3,RD,Right,81,4,14,...,2021-07-21,28,M-NTC,4,UFA,unrestricted,2025,4000000,75,22.93
285,Adam Lowry,30,United States,210,6'5,C,Left,81,12,23,...,2021-04-16,28,M-NTC,5,UFA,unrestricted,2026,3250000,77,16.10
336,Adam Boqvist,22,Sweden,179,5'11,RD,Right,35,1,9,...,2022-07-06,21,None,3,RFA,restricted,2025,2600000,71,18.28
493,Adam Fantilli,18,Canada,195,6'2,C,Left,49,12,15,...,2023-07-01,18,None,3,ELC,restricted,2026,4150000,74,15.70
581,Adam Beckman,22,Canada,168,6'1,LW,Left,11,0,2,...,2020-03-23,19,None,3,ELC,restricted,2024,894167,73,9.40
588,Adam Ginning,23,Sweden,206,6'4,LD,Left,9,1,0,...,2022-05-17,22,None,2,ELC,restricted,2024,925000,76,14.15
660,Adam Raska,21,Other,178,5'10,"LW, RW",Right,5,0,0,...,2021-05-12,19,None,3,ELC,restricted,2024,900000,70,6.80
664,Adam Edström,22,Sweden,210,6'6,"C, LW",Left,11,2,0,...,2022-05-07,21,None,3,ELC,restricted,2025,846667,78,8.40
673,Adam Klapka,22,Other,245,6'8,"RW, C",Right,6,1,0,...,2022-05-16,21,None,2,ELC,restricted,2024,832500,80,6.75
765,Adam Erne,28,United States,212,6'1,"LW, RW",Left,24,1,1,...,2023-10-13,28,None,1,UFA,unrestricted,2024,775000,73,7.82
857,Adam Gaudette,26,United States,170,6'1,"C, RW",Right,2,0,0,...,2023-06-21,26,None,1,RFA,unrestricted,2024,775000,73,9.80
889,Adam Ruzicka,24,Other,220,6'4,"LW, C",Left,42,3,6,...,2022-09-21,23,None,2,RFA,restricted,2024,762500,76,10.02

In [4675]:
replace(39,664)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
664,Adam Edstrom,22,Sweden,210,6'6,"C, LW",Left,11,2,0,...,2022-05-07,21,None,3,ELC,restricted,2025,846667,78,8.4

**Index 40**

In [4676]:
unmatched_name(40)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
445,Danil Gushchin,SJS,SJS,L,L,4,1,1,2,-2,...,0,0,0,0,0,0,4,25.0,14.68,0.0

In [4677]:
unmatched_matches(40)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
677,Daniil Gushchin,21,Russia,165,5'8,LW,Left,4,1,1,...,2021-05-17,19,None,3,ELC,restricted,2025,902500,68,14.68

In [4678]:
replace(40,677)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
677,Danil Gushchin,21,Russia,165,5'8,LW,Left,4,1,1,...,2021-05-17,19,None,3,ELC,restricted,2025,902500,68,14.68

**Index 41**

In [4679]:
unmatched_name(41)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
446,Vasily Ponomarev,CAR,CAR,L,C,2,1,1,2,1,...,0,0,0,0,0,0,1,100.0,9.68,55.6

In [4680]:
unmatched_matches(41)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
740,Vasili Ponomarev,21,Russia,180,5'10,C,Left,2,1,1,...,2020-10-13,18,None,3,ELC,restricted,2025,830000,70,9.67
530,Vasily Podkolzin,22,Russia,190,6'1,"RW, LW",Left,19,0,2,...,2021-05-30,20,None,3,ELC,restricted,2024,1775000,73,10.80

In [4681]:
replace(41,740)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
740,Vasily Ponomarev,21,Russia,180,5'10,C,Left,2,1,1,...,2020-10-13,18,None,3,ELC,restricted,2025,830000,70,9.67

**Index 42**

In [4682]:
unmatched_name(42)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
449,Liam Ohgren,MIN,MIN,L,L,4,1,1,2,0,...,0,0,0,0,0,1,8,12.5,14.52,0.0

In [4683]:
unmatched_matches(42)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
540,Liam Öhgren,19,Sweden,201,6'1,LW,Left,4,1,1,...,2022-07-16,18,None,3,ELC,restricted,2027,1410000,73,14.50
885,Liam O'Brien,28,Canada,215,6'1,"LW, RW",Left,75,5,9,...,2022-03-06,27,None,2,UFA,unrestricted,2024,775000,73,9.72
909,Liam Foudy,23,Canada,174,6'0,"LW, C",Left,13,0,3,...,2022-06-17,22,None,2,RFA,unrestricted,2024,762500,72,9.97

In [4684]:
replace(42,540)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
540,Liam Ohgren,19,Sweden,201,6'1,LW,Left,4,1,1,...,2022-07-16,18,None,3,ELC,restricted,2027,1410000,73,14.5

**Index 43**

In [4685]:
unmatched_name(43)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
452,Matt Benning,SJS,SJS,R,D,14,0,2,2,-5,...,0,0,0,0,0,0,13,0.0,18.48,0.0

In [4686]:
unmatched_matches(43)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
442,Matthew Benning,29,Canada,203,6'1,RD,Right,14,0,2,...,2022-07-14,28,None,4,UFA,unrestricted,2026,1250000,73,18.47
3,Auston Matthews,25,United States,215,6'3,C,Left,81,69,38,...,2019-02-05,21,NMC,5,RFA,unrestricted,2024,11640250,75,20.95
16,Matthew Tkachuk,25,United States,202,6'2,RW,Left,80,26,62,...,2022-07-22,24,NMC,8,RFA,unrestricted,2030,9500000,74,18.63
87,Matthew Boldy,22,United States,196,6'2,"RW, LW",Left,75,29,40,...,2023-01-16,22,None,7,RFA,unrestricted,2030,7000000,74,18.90
110,Mattias Ekholm,33,Sweden,215,6'4,LD/RD,Left,79,11,34,...,2021-10-13,32,None,4,UFA,unrestricted,2026,6250000,76,21.03
226,Mattias Samuelsson,23,United States,218,6'4,LD,Left,41,1,6,...,2022-10-12,23,None,7,RFA,unrestricted,2030,4285714,76,20.50
255,Matt Dumba,28,Canada,180,6'0,RD,Right,76,4,8,...,2023-08-06,28,None,1,UFA,unrestricted,2024,3900000,72,19.73
261,Matt Grzelcyk,29,United States,174,5'9,LD,Left,63,2,9,...,2020-10-17,26,None,4,RFA,unrestricted,2024,3687500,69,17.58
293,Matt Roy,28,United States,200,6'1,RD,Right,81,5,20,...,2021-03-21,26,None,3,RFA,unrestricted,2024,3150000,73,20.88
300,Matt Duchene,32,Canada,195,5'11,"RW, C",Left,80,25,40,...,2023-07-01,32,None,1,UFA,unrestricted,2024,3000000,71,16.75
418,Matt Martin,34,Canada,220,6'3,"LW, RW",Left,57,4,4,...,2021-01-11,31,None,4,UFA,unrestricted,2024,1500000,75,9.30
442,Matthew Benning,29,Canada,203,6'1,RD,Right,14,0,2,...,2022-07-14,28,None,4,UFA,unrestricted,2026,1250000,73,18.47
477,Mattias Janmark,30,Sweden,195,6'1,"LW, RW",Left,71,4,8,...,2023-06-30,30,None,1,UFA,unrestricted,2024,1000000,73,11.88
508,Matthew Knies,20,United States,217,6'3,"LW, RW",Left,80,15,20,...,2023-04-09,19,None,3,ELC,restricted,2025,925000,75,13.67
511,Matthew Coronato,20,United States,183,5'10,RW,Right,34,3,6,...,2023-03-26,19,None,3,ELC,restricted,2025,1491667,70,12.60
542,Matthew Savoie,19,Canada,175,5'9,C,Right,1,0,0,...,2022-07-15,18,None,3,ELC,restricted,2027,1918333,69,3.92
558,Matt Nieto,30,United States,185,5'11,"LW, RW",Left,22,1,3,...,2023-07-01,30,None,2,UFA,unrestricted,2025,900000,71,11.60
563,Matty Beniers,20,United States,175,6'2,C,Left,77,15,22,...,2022-04-10,18,None,3,ELC,restricted,2024,1850000,74,17.95
589,Matthew Kessel,23,United States,205,6'2,RD,Right,39,1,6,...,2022-03-27,22,None,2,ELC,restricted,2024,925000,74,16.78
598,Matthew Poitras,19,Canada,177,5'11,C,Right,33,5,10,...,2023-05-05,19,None,3,ELC,restricted,2026,950000,71,13.38
695,Matt Rempe,21,Canada,205,6'8,"C, RW",Right,17,1,1,...,2021-11-04,19,None,3,ELC,restricted,2025,820000,80,5.62
807,Matthew Phillips,25,Canada,140,5'7,"RW, C",Right,31,1,4,...,2023-07-02,25,None,1,UFA,unrestricted,2024,775000,67,10.17
837,Matthew Highmore,27,Canada,188,5'11,"LW, RW",Left,7,0,2,...,2023-07-01,27,None,1,UFA,unrestricted,2024,775000,71,7.70

In [4687]:
replace(43,442)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
442,Matt Benning,29,Canada,203,6'1,RD,Right,14,0,2,...,2022-07-14,28,None,4,UFA,unrestricted,2026,1250000,73,18.47

**Index 44**

In [4688]:
unmatched_name(44)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
454,Nic Petan,MIN,MIN,L,C,6,0,2,2,-2,...,0,1,0,0,0,0,11,0.0,10.83,40.0

In [4689]:
unmatched_matches(44)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
897,Nicolas Petan,28,Canada,175,5'9,"C, LW, RW",Left,6,0,2,...,2022-07-13,27,None,2,UFA,unrestricted,2024,762500,69,10.83
27,Nicklas Bäckström,35,Sweden,206,6'1,C,Left,8,0,1,...,2020-01-14,32,M-NTC,5,UFA,unrestricted,2025,9200000,73,14.55
66,Nick Suzuki,23,Canada,212,5'11,C,Right,82,33,44,...,2021-10-12,22,None,8,RFA,unrestricted,2030,7875000,71,21.25
80,Nico Hischier,24,Other,175,6'1,C,Left,71,27,40,...,2019-10-18,21,None,7,RFA,unrestricted,2027,7250000,73,19.47
114,Valeri Nichushkin,28,Russia,210,6'4,"RW, LW",Left,54,28,25,...,2022-07-11,27,NMC,8,UFA,unrestricted,2030,6125000,76,21.35
133,Nick Schmaltz,27,United States,177,6'0,"RW, C",Right,79,22,39,...,2019-03-30,23,M-NTC,7,RFA,unrestricted,2026,5850000,72,19.17
238,Nick Jensen,32,United States,196,6'1,RD,Right,78,1,13,...,2023-02-28,32,None,3,UFA,unrestricted,2026,4050000,73,19.62
243,Nick Foligno,35,United States,208,6'0,"LW, C, RW",Left,74,17,20,...,2023-06-27,35,None,1,UFA,unrestricted,2024,4000000,72,17.75
247,Nick Leddy,32,United States,207,6'0,LD,Left,82,3,25,...,2022-07-13,31,NTC,4,UFA,unrestricted,2026,4000000,72,22.35
292,Nicholas Paul,28,Canada,219,6'3,"C, LW",Left,82,24,22,...,2022-07-01,27,NTC,7,UFA,unrestricted,2029,3150000,75,17.25
305,Nicolas Roy,26,Canada,200,6'4,"C, RW",Right,70,13,28,...,2022-08-08,25,None,5,RFA,unrestricted,2027,3000000,76,15.45
363,Nicolas Hague,24,Canada,221,6'6,LD,Left,73,2,10,...,2022-10-10,23,None,3,RFA,restricted,2025,2294150,78,18.55
370,Nick Bjugstad,30,United States,215,6'6,"C, RW",Right,76,22,23,...,2023-07-01,30,None,2,UFA,unrestricted,2025,2100000,78,17.43
386,Nico Sturm,28,Other,207,6'3,C,Left,63,5,8,...,2022-07-13,27,None,3,UFA,unrestricted,2025,2000000,75,14.65
398,Nicolas Deslauriers,32,Canada,219,6'3,"LW, RW",Left,60,1,3,...,2022-07-13,31,M-NTC,4,UFA,unrestricted,2026,1750000,75,8.13
436,Nic Dowd,33,United States,195,6'1,C,Right,64,12,10,...,2021-11-14,32,None,3,UFA,unrestricted,2025,1300000,73,15.20
443,Nicolas Aube-Kubel,27,Canada,187,5'11,RW,Right,60,6,10,...,2023-03-03,27,None,1,UFA,unrestricted,2024,1225000,71,12.20
448,Nick Perbix,25,United States,200,6'4,RD,Right,77,2,22,...,2023-01-02,25,None,2,RFA,unrestricted,2025,1125000,76,17.07
460,Nick Cousins,29,Canada,183,5'11,"LW, C",Left,69,7,8,...,2022-07-13,28,None,2,UFA,unrestricted,2024,1100000,71,12.18
690,Nick Blankenburg,25,United States,175,5'9,LD/RD,Right,12,1,0,...,2022-07-15,24,None,2,RFA,unrestricted,2024,825000,69,16.20
717,Nick Bonino,35,United States,196,6'1,"C, LW",Left,45,1,4,...,2023-07-01,35,None,1,UFA,unrestricted,2024,800000,73,12.25
739,Nicholas Robertson,21,United States,178,5'9,"LW, RW",Left,56,14,13,...,2019-09-19,17,None,3,ELC,restricted,2024,796667,69,11.37
883,Nick Seeler,30,United States,201,6'2,LD/RD,Left,71,1,12,...,2022-05-19,29,None,2,UFA,unrestricted,2024,775000,74,16.93
896,Nick DeSimone,28,United States,190,6'2,RD,Right,34,2,5,...,2022-07-13,27,None,2,UFA,unrestricted,2024,762500,74,13.47
897,Nicolas Petan,28,Canada,175,5'9,"C, LW, RW",Left,6,0,2,...,2022-07-13,27,None,2,UFA,unrestricted,2024,762500,69,10.83

In [4690]:
replace(44,897)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
897,Nic Petan,28,Canada,175,5'9,"C, LW, RW",Left,6,0,2,...,2022-07-13,27,None,2,UFA,unrestricted,2024,762500,69,10.83

**Index 45**

In [4691]:
unmatched_name(45)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
458,Bo Groulx,ANA,ANA,L,C,45,0,2,2,-9,...,0,0,0,0,0,0,32,0.0,12.18,44.0

In [4692]:
unmatched_matches(45)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
781,Benoit-Olivier Groulx,23,Other,198,6'2,C,Left,45,0,2,...,2023-07-14,23,None,1,RFA,unrestricted,2024,775000,74,12.18
40,Bo Horvat,28,Canada,215,6'0,C,Left,81,33,35,...,2023-02-05,28,NTC,8,UFA,unrestricted,2031,8500000,72,19.68
87,Matthew Boldy,22,United States,196,6'2,"RW, LW",Left,75,29,40,...,2023-01-16,22,None,7,RFA,unrestricted,2030,7000000,74,18.90
94,Brock Boeser,26,United States,208,6'1,RW,Right,81,40,33,...,2022-07-01,25,None,3,RFA,unrestricted,2025,6650000,73,18.60
254,Evan Bouchard,23,Canada,194,6'3,RD,Right,81,18,64,...,2023-08-24,23,None,2,RFA,restricted,2025,3900000,75,22.98
258,Bowen Byram,22,Canada,195,6'0,LD/RD,Left,73,11,18,...,2023-07-01,22,None,2,RFA,restricted,2025,3850000,72,20.33
260,Boone Jenner,30,Canada,208,6'2,"C, LW",Left,58,22,13,...,2021-07-28,29,M-NTC,4,UFA,unrestricted,2026,3750000,74,20.08
329,William Borgen,26,United States,196,6'3,RD,Right,82,3,22,...,2023-07-07,26,None,2,RFA,unrestricted,2025,2700000,75,17.58
336,Adam Boqvist,22,Sweden,179,5'11,RD,Right,35,1,9,...,2022-07-06,21,None,3,RFA,restricted,2025,2600000,71,18.28
400,Travis Boyd,29,United States,190,6'0,"C, RW",Right,16,2,6,...,2022-03-05,28,None,2,UFA,unrestricted,2024,1750000,72,9.62
498,Robert Bortuzzo,34,Canada,216,6'4,RD,Right,27,0,0,...,2022-02-08,33,None,2,UFA,unrestricted,2024,950000,76,13.72
519,Bobby Brink,21,United States,165,5'8,RW,Right,57,11,12,...,2022-04-10,19,None,3,ELC,restricted,2024,1137500,68,13.78
550,Thomas Bordeleau,21,United States,175,5'10,"C, LW",Left,27,6,5,...,2022-04-16,19,None,3,ELC,restricted,2024,925000,70,15.02
575,Mavrik Bourque,21,Canada,178,5'10,C,Right,1,0,0,...,2021-03-01,19,None,3,ELC,restricted,2025,894167,70,10.93
608,Zachary Bolduc,20,Canada,175,6'1,LW,Left,25,5,4,...,2021-08-24,18,None,3,ELC,restricted,2026,1275833,73,12.00
659,Zach Bogosian,32,United States,226,6'3,RD,Right,65,3,11,...,2021-07-28,30,M-NTC,3,UFA,unrestricted,2024,850000,75,17.88
717,Nick Bonino,35,United States,196,6'1,"C, LW",Left,45,1,4,...,2023-07-01,35,None,1,UFA,unrestricted,2024,800000,73,12.25
724,Samuel Bolduc,22,Canada,210,6'4,LD,Left,34,2,3,...,2023-06-20,22,None,2,RFA,restricted,2025,800000,76,13.13
787,Jesper Boqvist,24,Sweden,180,6'0,"C, LW",Left,47,6,8,...,2023-07-12,24,None,1,UFA,unrestricted,2024,775000,72,11.15
838,Bokondji Imama,26,Canada,214,6'1,LW,Left,6,0,0,...,2023-07-01,26,None,1,UFA,unrestricted,2024,775000,73,5.58
849,Shane Bowers,23,Canada,170,6'0,C,Left,8,0,0,...,2023-06-29,23,None,1,RFA,restricted,2024,775000,72,9.45
914,Bobby McMann,27,Canada,220,6'2,"RW, LW",Left,56,15,9,...,2022-04-29,26,None,2,UFA,unrestricted,2024,762500,74,11.55
920,Boris Katchouk,25,Canada,179,6'1,LW,Left,59,7,6,...,2021-07-31,23,None,3,RFA,unrestricted,2024,758333,73,11.47
922,Alex Barré-Boulet,26,Canada,168,5'9,"RW, LW",Left,36,6,3,...,2021-07-30,24,None,3,RFA,unrestricted,2024,758333,69,11.18

In [4693]:
replace(45,781)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
781,Bo Groulx,23,Other,198,6'2,C,Left,45,0,2,...,2023-07-14,23,None,1,RFA,unrestricted,2024,775000,74,12.18

**Index 46**

In [4694]:
unmatched_name(46)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
470,Mikael Pyyhtia,CBJ,CBJ,L,L,17,0,2,2,-5,...,0,0,0,0,0,0,22,0.0,13.15,25.0

In [4695]:
unmatched_matches(46)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
156,Mikael Backlund,34,Sweden,200,6'0,C,Left,82,15,24,...,2018-02-16,29,NMC,6,UFA,unrestricted,2024,5350000,72,19.23
183,Mikael Granlund,31,Finland,185,5'10,"C, RW",Left,69,12,48,...,2021-07-28,29,None,4,UFA,unrestricted,2025,5000000,70,20.95
561,Mikael Pyyhtiä,21,Finland,174,5'11,C,Left,17,0,2,...,2022-05-05,20,None,3,ELC,restricted,2025,925000,71,13.15

In [4696]:
replace(46,561)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
561,Mikael Pyyhtia,21,Finland,174,5'11,C,Left,17,0,2,...,2022-05-05,20,None,3,ELC,restricted,2025,925000,71,13.15

**Index 47**

In [4697]:
unmatched_name(47)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
472,Collin Graf,SJS,SJS,R,R,7,0,2,2,-4,...,0,1,0,0,0,0,7,0.0,16.6,0.0

In [4698]:
unmatched_matches(47)

Empty DataFrame
Columns: [PLAYER, AGE, COUNTRY, WEIGHT, HEIGHT, POS, HANDED, GP, G, A, P, P/GP, +/-, Sh, Sh%, TOI, ixG, iSh, iCF, iFF, ixG60, iSh60, iCF60, iFF60, SF, SA, SF%, CF, CA, CF%, FF, FA, FF%, xGF, xGA, xGF%, SIGNING TEAM, EXTENSION, SIGNING DATE, SIGNING AGE, CLAUSE, LENGTH, SIGNING, EXPIRY, EXP. YEAR, AAV, HEIGHT_in, TOI_min]
Index: []

[0 rows x 48 columns]

there are no matches for 'Collin Graf' in capfriendly

In [4699]:
nhl_follow_up.append({'collin graf missing':'missing from capfriendly - unmatched index 47'})

**Index 48**

In [4700]:
unmatched_name(48)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
494,Waltteri Merela,TBL,TBL,R,C,19,1,0,1,2,...,0,0,0,0,0,0,17,5.9,9.82,25.0

In [4701]:
unmatched_matches(48)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
597,Waltteri Merelä,24,Finland,196,6'2,RW,Right,19,1,0,...,2023-06-05,24,None,1,ELC,restricted,2024,950000,74,9.8

In [4702]:
replace(48,597)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
597,Waltteri Merela,24,Finland,196,6'2,RW,Right,19,1,0,...,2023-06-05,24,None,1,ELC,restricted,2024,950000,74,9.8

**Index 49**

In [4703]:
unmatched_name(49)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
495,Nicklas Backstrom,WSH,WSH,L,C,8,0,1,1,-3,...,0,0,0,0,0,0,12,0.0,14.57,52.4

In [4704]:
unmatched_matches(49)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
27,Nicklas Bäckström,35,Sweden,206,6'1,C,Left,8,0,1,...,2020-01-14,32,M-NTC,5,UFA,unrestricted,2025,9200000,73,14.55

In [4705]:
replace(49,27)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
27,Nicklas Backstrom,35,Sweden,206,6'1,C,Left,8,0,1,...,2020-01-14,32,M-NTC,5,UFA,unrestricted,2025,9200000,73,14.55

**Index 50**

In [4706]:
unmatched_name(50)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
531,Simon Holmstrom,NYI,NYI,L,R,75,15,10,25,2,...,0,0,5,7,0,3,72,20.8,13.32,31.6

In [4707]:
unmatched_matches(50)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
544,Simon Nemec,19,Other,190,6'0,RD,Right,60,3,16,...,2022-07-14,18,None,3,ELC,restricted,2026,4168333,72,19.85
568,Simon Edvinsson,20,Sweden,198,6'4,LD,Left,16,1,1,...,2022-04-24,19,None,3,ELC,restricted,2026,1744167,76,18.25
625,Simon Holmström,22,Sweden,193,6'0,RW,Left,75,15,10,...,2019-07-15,18,None,3,ELC,restricted,2024,863333,72,13.32
774,Simon Benoit,24,Canada,208,6'3,LD,Left,64,1,4,...,2023-08-28,24,None,1,UFA,restricted,2024,775000,75,17.22
896,Nick DeSimone,28,United States,190,6'2,RD,Right,34,2,5,...,2022-07-13,27,None,2,UFA,unrestricted,2024,762500,74,13.47

In [4708]:
replace(50,625)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
625,Simon Holmstrom,22,Sweden,193,6'0,RW,Left,75,15,10,...,2019-07-15,18,None,3,ELC,restricted,2024,863333,72,13.32

**Index 51**

In [4709]:
unmatched_name(51)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
543,Will Borgen,SEA,SEA,R,D,82,3,22,25,-5,...,0,0,0,0,0,0,97,3.1,17.58,0.0

In [4710]:
unmatched_matches(51)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
329,William Borgen,26,United States,196,6'3,RD,Right,82,3,22,...,2023-07-07,26,None,2,RFA,unrestricted,2025,2700000,75,17.58
91,William Nylander,27,Canada,202,6'0,RW,Right,82,40,58,...,2018-12-01,22,NMC,6,RFA,unrestricted,2024,6962366,72,19.90
129,William Karlsson,30,Sweden,195,6'0,C,Left,70,30,30,...,2019-06-24,26,M-NTC,8,RFA,unrestricted,2027,5900000,72,17.60
329,William Borgen,26,United States,196,6'3,RD,Right,82,3,22,...,2023-07-07,26,None,2,RFA,unrestricted,2025,2700000,75,17.58
430,William Carrier,28,Canada,218,6'2,LW,Left,39,6,2,...,2020-02-27,25,None,4,RFA,unrestricted,2024,1400000,74,11.17
609,William Eklund,20,Sweden,176,5'10,LW,Left,80,16,29,...,2021-08-14,18,None,3,ELC,restricted,2026,1713333,70,18.65
679,Will Cuylle,21,Canada,204,6'3,LW,Left,81,13,8,...,2021-04-19,19,None,3,ELC,restricted,2025,902500,75,11.12
769,Max Willman,28,United States,198,6'1,LW,Left,18,3,1,...,2023-10-07,28,None,1,UFA,unrestricted,2024,775000,73,8.32
811,William Lockwood,25,United States,172,5'11,RW,Right,26,0,1,...,2023-07-02,25,None,2,UFA,unrestricted,2025,775000,71,8.18
824,William Lagesson,27,Sweden,196,6'2,LD/RD,Left,40,0,4,...,2023-07-01,27,None,1,UFA,unrestricted,2024,775000,74,14.78

In [4711]:
replace(51,329)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
329,Will Borgen,26,United States,196,6'3,RD,Right,82,3,22,...,2023-07-07,26,None,2,RFA,unrestricted,2025,2700000,75,17.58

**Index 52**

In [4712]:
unmatched_name(52)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
560,Evgenii Dadonov,DAL,DAL,L,R,51,12,11,23,-6,...,1,2,0,0,0,3,67,17.9,13.18,0.0

In [4713]:
unmatched_matches(52)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
366,Evgeni Dadonov,34,Russia,189,5'11,"RW, LW",Left,51,12,11,...,2023-06-27,34,M-NTC,2,UFA,unrestricted,2025,2250000,71,13.17

In [4714]:
replace(52,366)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
366,Evgenii Dadonov,34,Russia,189,5'11,"RW, LW",Left,51,12,11,...,2023-06-27,34,M-NTC,2,UFA,unrestricted,2025,2250000,71,13.17

**Index 53**

In [4715]:
unmatched_name(53)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
585,Calle Jarnkrok,TOR,TOR,R,C,52,10,11,21,16,...,0,1,1,2,1,3,92,10.9,15.27,49.2

In [4716]:
unmatched_matches(53)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
373,Calle Järnkrok,31,Sweden,190,6'0,"RW, C, LW",Right,52,10,11,...,2022-07-15,30,M-NTC,4,UFA,unrestricted,2026,2100000,72,15.25
911,Calle Rosen,29,Sweden,186,6'1,LD,Left,6,0,1,...,2022-06-01,28,None,2,UFA,unrestricted,2024,762500,73,12.65

In [4717]:
replace(53,373)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
373,Calle Jarnkrok,31,Sweden,190,6'0,"RW, C, LW",Right,52,10,11,...,2022-07-15,30,M-NTC,4,UFA,unrestricted,2026,2100000,72,15.25

**Index 54**

In [4718]:
unmatched_name(54)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
590,Egor Zamula,PHI,PHI,L,D,66,5,16,21,3,...,2,9,0,1,0,1,61,8.2,16.05,0.0

In [4719]:
unmatched_matches(54)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
867,Yegor Zamula,23,Russia,170,6'3,LD/RD,Left,66,5,16,...,2023-05-02,23,None,1,RFA,restricted,2024,775000,75,16.05
744,Egor Afanasyev,22,Russia,204,6'2,"C, LW",Left,2,0,0,...,2019-10-19,18,None,3,ELC,restricted,2024,896667,74,12.98

In [4720]:
replace(54,867)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
867,Egor Zamula,23,Russia,170,6'3,LD/RD,Left,66,5,16,...,2023-05-02,23,None,1,RFA,restricted,2024,775000,75,16.05

**Index 55**

In [4721]:
unmatched_name(55)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
600,Zac Jones,NYR,NYR,L,D,31,2,7,9,1,...,0,0,0,0,0,1,42,4.8,14.63,0.0

In [4722]:
unmatched_matches(55)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
21,Seth Jones,28,United States,209,6'4,RD,Right,67,8,23,...,2021-07-23,27,NMC,8,UFA,unrestricted,2030,9500000,76,25.48
437,Max Jones,25,United States,220,6'3,"LW, RW",Left,52,5,10,...,2021-08-09,23,None,3,RFA,unrestricted,2024,1295000,75,12.05
704,Zachary Jones,22,United States,175,5'11,LD,Left,31,2,7,...,2023-06-16,22,None,2,RFA,restricted,2025,812500,71,14.62
775,Caleb Jones,26,United States,194,6'1,LD/RD,Left,25,0,5,...,2023-08-10,26,None,1,UFA,unrestricted,2024,775000,73,12.20
15,Zach Werenski,25,United States,212,6'2,LD,Left,70,11,46,...,2021-07-29,24,NMC,6,RFA,unrestricted,2028,9583333,74,24.45
150,Zach Hyman,31,Canada,211,6'1,"RW, LW",Right,80,54,23,...,2021-07-28,29,NMC,7,UFA,unrestricted,2028,5500000,73,19.50
196,Pavel Zacha,26,Other,210,6'3,"C, LW",Left,78,21,38,...,2023-01-14,26,M-NTC,4,UFA,unrestricted,2027,4750000,75,18.10
325,Zach Whitecloud,26,Canada,209,6'2,RD,Right,61,2,12,...,2021-10-28,25,None,6,RFA,unrestricted,2028,2750000,74,17.58
489,Zach Benson,18,Canada,170,5'10,LW,Left,71,11,19,...,2023-07-28,18,None,3,ELC,restricted,2026,1600000,70,14.52
608,Zachary Bolduc,20,Canada,175,6'1,LW,Left,25,5,4,...,2021-08-24,18,None,3,ELC,restricted,2026,1275833,73,12.00
643,Zach Dean,20,Canada,176,6'0,C,Left,9,0,0,...,2021-12-02,18,None,3,ELC,restricted,2026,863333,72,10.55
659,Zach Bogosian,32,United States,226,6'3,RD,Right,65,3,11,...,2021-07-28,30,M-NTC,3,UFA,unrestricted,2024,850000,75,17.88
681,Zach Parise,38,United States,195,5'11,LW,Left,30,5,5,...,2024-01-26,38,None,1,UFA,unrestricted,2024,825000,71,12.97
694,Zack Ostapchuk,20,Canada,203,6'4,C,Left,7,0,0,...,2021-09-29,18,None,3,ELC,restricted,2026,880000,76,10.48
704,Zachary Jones,22,United States,175,5'11,LD,Left,31,2,7,...,2023-06-16,22,None,2,RFA,restricted,2025,812500,71,14.62
712,Zachary Sanford,28,United States,207,6'4,"LW, RW",Left,29,0,6,...,2023-07-14,28,None,1,UFA,unrestricted,2024,800000,76,10.83
767,Zach Aston-Reese,28,United States,204,6'0,"LW, RW",Left,3,0,0,...,2023-10-08,28,None,1,UFA,unrestricted,2024,775000,72,5.15
797,Zack MacEwen,26,Canada,205,6'3,"RW, C",Right,30,2,1,...,2023-07-06,26,None,3,UFA,unrestricted,2026,775000,75,6.38

In [4723]:
replace(55,704)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
704,Zac Jones,22,United States,175,5'11,LD,Left,31,2,7,...,2023-06-16,22,None,2,RFA,restricted,2025,812500,71,14.62

**Index 56**

In [4724]:
unmatched_name(56)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
626,Pierre-Edouard Bellemare,SEA,SEA,L,L,40,4,3,7,4,...,0,0,1,1,0,0,36,11.1,9.83,53.5

In [4725]:
unmatched_matches(56)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
795,Pierre-Édouard Bellemare,38,Other,198,6'0,"C, LW",Left,40,4,3,...,2023-07-07,38,None,1,UFA,unrestricted,2024,775000,72,9.83

In [4726]:
replace(56,795)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
795,Pierre-Edouard Bellemare,38,Other,198,6'0,"C, LW",Left,40,4,3,...,2023-07-07,38,None,1,UFA,unrestricted,2024,775000,72,9.83

**Index 57**

In [4727]:
unmatched_name(57)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
630,Dillon Dube,CGY,CGY,L,C,43,3,4,7,-13,...,1,1,0,0,0,0,42,7.1,11.17,53.1

In [4728]:
unmatched_matches(57)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
256,Brenden Dillon,32,Canada,225,6'4,LD,Left,77,8,12,...,2020-10-06,29,None,4,UFA,unrestricted,2024,3900000,76,18.73
362,Dillon Dubé,24,Canada,187,5'11,"LW, RW, C",Left,43,3,4,...,2021-08-26,22,None,3,RFA,unrestricted,2024,2300000,71,11.15

In [4729]:
replace(57,362)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
362,Dillon Dube,24,Canada,187,5'11,"LW, RW, C",Left,43,3,4,...,2021-08-26,22,None,3,RFA,unrestricted,2024,2300000,71,11.15

**Index 58**

In [4730]:
unmatched_name(58)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
632,Nils Aman,VAN,VAN,L,C,43,3,4,7,-3,...,0,0,0,0,0,0,28,10.7,10.33,45.6

In [4731]:
unmatched_matches(58)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
451,Nils Hoglander,22,Sweden,185,5'9,"LW, RW",Left,80,24,12,...,2023-07-09,22,None,2,RFA,restricted,2025,1100000,69,12.10
529,Nils Lundkvist,22,Sweden,187,5'11,RD,Right,59,2,17,...,2021-06-03,20,None,3,ELC,unrestricted,2024,1775000,71,14.10
586,Nils Åman,23,Sweden,179,6'2,C,Left,43,3,4,...,2022-06-07,22,None,2,ELC,restricted,2024,925000,74,10.33

In [4732]:
replace(58,586)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
586,Nils Aman,23,Sweden,179,6'2,C,Left,43,3,4,...,2022-06-07,22,None,2,ELC,restricted,2024,925000,74,10.33

**Index 59**

In [4733]:
unmatched_name(59)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
640,Sammy Blais,STL,STL,L,L,53,1,6,7,-11,...,0,0,0,0,0,0,33,3.0,9.68,22.2

In [4734]:
unmatched_matches(59)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
478,Samuel Blais,27,Canada,205,6'2,"LW, RW",Left,53,1,6,...,2023-03-02,27,None,1,UFA,unrestricted,2024,1000000,74,9.68
639,Sammy Walker,24,United States,180,5'11,"RW, LW",Right,4,0,0,...,2022-08-18,23,None,2,ELC,restricted,2024,925000,71,9.35

In [4735]:
replace(59,478)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
478,Sammy Blais,27,Canada,205,6'2,"LW, RW",Left,53,1,6,...,2023-03-02,27,None,1,UFA,unrestricted,2024,1000000,74,9.68

**Index 60**

In [4736]:
unmatched_name(60)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
654,Jakub Vrana,STL,STL,L,L,21,2,4,6,-7,...,0,0,0,0,0,0,42,4.8,12.13,0.0

In [4737]:
unmatched_matches(60)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
159,Jakub Vrána,27,Other,195,6'0,LW,Left,21,2,4,...,2021-08-10,25,None,3,RFA,unrestricted,2024,5250000,72,12.12
748,Jakub Lauko,23,Other,179,6'0,"LW, RW",Left,60,2,8,...,2023-07-05,23,None,2,RFA,restricted,2025,787500,72,9.82

In [4738]:
replace(60,159)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
159,Jakub Vrana,27,Other,195,6'0,LW,Left,21,2,4,...,2021-08-10,25,None,3,RFA,unrestricted,2024,5250000,72,12.12

**Index 61**

In [4739]:
unmatched_name(61)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
666,Axel Jonsson-Fjallby,WPG,WPG,L,L,26,2,3,5,6,...,0,0,0,0,0,1,23,8.7,8.12,50.0

In [4740]:
unmatched_matches(61)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
804,Axel Jonsson-Fjällby,25,Sweden,170,6'0,LW,Left,26,2,3,...,2023-07-03,25,None,2,UFA,unrestricted,2025,775000,72,8.1

In [4741]:
replace(61,804)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
804,Axel Jonsson-Fjallby,25,Sweden,170,6'0,LW,Left,26,2,3,...,2023-07-03,25,None,2,UFA,unrestricted,2025,775000,72,8.1

**Index 62**

In [4742]:
unmatched_name(62)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
683,Emil Lilleberg,TBL,TBL,L,D,37,0,5,5,-15,...,0,0,0,0,0,0,31,0.0,16.2,0.0

In [4743]:
unmatched_matches(62)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
596,Emil Martinsen Lilleberg,22,Other,185,6'2,LD,Left,37,0,5,...,2023-06-05,22,None,2,ELC,restricted,2025,950000,74,16.20
556,Emil Andrae,21,Sweden,181,5'9,LD,Left,4,0,0,...,2023-03-27,21,None,3,ELC,restricted,2026,925000,69,13.00
560,Emil Bemstrom,24,Sweden,190,6'0,"RW, LW",Right,56,8,8,...,2022-08-03,23,None,2,RFA,unrestricted,2024,900000,72,11.13
564,Emil Heineman,21,Sweden,185,6'1,"LW, RW",Left,4,0,0,...,2022-04-04,20,None,3,ELC,restricted,2025,925000,73,9.95
596,Emil Martinsen Lilleberg,22,Other,185,6'2,LD,Left,37,0,5,...,2023-06-05,22,None,2,ELC,restricted,2025,950000,74,16.20

In [4744]:
replace(62,596)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
596,Emil Lilleberg,22,Other,185,6'2,LD,Left,37,0,5,...,2023-06-05,22,None,2,ELC,restricted,2025,950000,74,16.2

**Index 63**

In [4745]:
unmatched_name(63)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
686,Jesse Puljujarvi,PIT,PIT,R,R,22,3,1,4,2,...,0,0,0,0,0,0,29,10.3,9.18,16.7

In [4746]:
unmatched_matches(63)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
709,Jesse Puljujärvi,25,Sweden,201,6'4,RW,Right,22,3,1,...,2024-02-04,25,None,2,UFA,unrestricted,2025,800000,76,9.18
777,Jesse Ylönen,23,United States,201,6'1,"RW, LW",Right,59,4,4,...,2023-07-31,23,None,1,RFA,unrestricted,2024,775000,73,10.23

In [4747]:
replace(63,709)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
709,Jesse Puljujarvi,25,Sweden,201,6'4,RW,Right,22,3,1,...,2024-02-04,25,None,2,UFA,unrestricted,2025,800000,76,9.18

**Index 64**

In [4748]:
unmatched_name(64)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
692,Louie Belpedio,PHI,PHI,R,D,12,2,2,4,6,...,0,0,0,0,0,1,12,16.7,13.2,0.0

In [4749]:
unmatched_matches(64)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
853,Louis Belpedio,27,United States,196,5'11,RD,Right,12,2,2,...,2023-06-24,27,None,2,UFA,unrestricted,2025,775000,71,13.2

In [4750]:
replace(64,853)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
853,Louie Belpedio,27,United States,196,5'11,RD,Right,12,2,2,...,2023-06-24,27,None,2,UFA,unrestricted,2025,775000,71,13.2

**Index 65**

In [4751]:
unmatched_name(65)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
724,Carl Grundstrom,LAK,LAK,L,R,50,8,4,12,-2,...,1,1,1,1,0,1,95,8.4,10.93,20.0

In [4752]:
unmatched_matches(65)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
59,John Carlson,33,United States,217,6'3,RD,Right,82,10,42,...,2018-06-25,28,M-NTC,8,UFA,unrestricted,2026,8000000,75,25.88
236,Brandon Carlo,26,United States,212,6'5,RD,Right,76,4,10,...,2021-07-14,24,M-NTC,6,RFA,unrestricted,2027,4100000,77,19.90
435,Carl Grundström,25,Sweden,201,6'0,"LW, RW",Left,50,8,4,...,2022-07-11,24,None,2,RFA,restricted,2024,1300000,72,10.93
492,Leo Carlsson,18,Sweden,193,6'3,C,Left,55,12,17,...,2023-07-12,18,None,3,ELC,restricted,2026,4200000,75,18.10
642,Declan Carlile,23,United States,190,6'1,LD,Left,1,0,0,...,2022-03-16,22,None,2,ELC,restricted,2024,925000,73,11.45

In [4753]:
replace(65,435)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
435,Carl Grundstrom,25,Sweden,201,6'0,"LW, RW",Left,50,8,4,...,2022-07-11,24,None,2,RFA,restricted,2024,1300000,72,10.93

**Index 66**

In [4754]:
unmatched_name(66)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
725,Juuso Parssinen,NSH,NSH,L,C,44,8,4,12,-6,...,2,3,0,0,0,0,54,14.8,14.6,37.5

In [4755]:
unmatched_matches(66)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
479,Juuso Valimaki,24,Finland,212,6'2,LD,Left,68,2,15,...,2023-01-24,24,None,1,RFA,restricted,2024,1000000,74,19.08
645,Juuso Pärssinen,22,Finland,203,6'2,C,Left,44,8,4,...,2021-05-28,20,None,3,ELC,restricted,2024,925000,74,14.58

In [4756]:
replace(66,645)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
645,Juuso Parssinen,22,Finland,203,6'2,C,Left,44,8,4,...,2021-05-28,20,None,3,ELC,restricted,2024,925000,74,14.58

**Index 67**

In [4757]:
unmatched_name(67)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
726,Marc-Edouard Vlasic,SJS,SJS,L,D,57,6,6,12,-27,...,0,0,0,0,0,1,72,8.3,16.28,0.0

In [4758]:
unmatched_matches(67)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
90,Marc-Édouard Vlasic,36,Canada,205,6'1,LD/RD,Left,57,6,6,...,2017-07-01,31,M-NTC,8,UFA,unrestricted,2026,7000000,73,16.27
552,Alex Vlasic,22,United States,200,6'6,LD,Left,76,2,14,...,2022-03-15,20,None,3,ELC,restricted,2024,1491667,78,21.47

In [4759]:
replace(67,90)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
90,Marc-Edouard Vlasic,36,Canada,205,6'1,LD/RD,Left,57,6,6,...,2017-07-01,31,M-NTC,8,UFA,unrestricted,2026,7000000,73,16.27

**Index 68**

In [4760]:
unmatched_name(68)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
727,A.J. Greer,CGY,CGY,L,L,59,6,6,12,-7,...,1,1,0,0,0,0,57,10.5,8.83,50.0

In [4761]:
unmatched_matches(68)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
900,AJ Greer,26,Canada,210,6'3,"RW, LW",Left,59,6,6,...,2022-07-13,25,None,2,UFA,unrestricted,2024,762500,75,8.82

In [4762]:
replace(68,900)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
900,A.J. Greer,26,Canada,210,6'3,"RW, LW",Left,59,6,6,...,2022-07-13,25,None,2,UFA,unrestricted,2024,762500,75,8.82

**Index 69**

In [4763]:
unmatched_name(69)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
734,Mathew Dumba,ARI,TBL,R,D,76,4,8,12,-18,...,0,0,0,0,0,0,86,4.7,19.73,0.0

In [4764]:
unmatched_matches(69)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
255,Matt Dumba,28,Canada,180,6'0,RD,Right,76,4,8,...,2023-08-06,28,None,1,UFA,unrestricted,2024,3900000,72,19.73
28,Mathew Barzal,26,Canada,187,6'0,"C, RW",Right,80,23,57,...,2022-10-04,26,None,8,RFA,unrestricted,2031,9150000,72,20.12

In [4765]:
replace(69,255)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
255,Mathew Dumba,28,Canada,180,6'0,RD,Right,76,4,8,...,2023-08-06,28,None,1,UFA,unrestricted,2024,3900000,72,19.73

**Index 70**

In [4766]:
unmatched_name(70)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
743,MacKenzie Entwistle,CHI,CHI,R,R,67,5,6,11,-29,...,0,0,0,0,0,1,66,7.6,11.38,43.8

In [4767]:
unmatched_matches(70)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
737,Mackenzie Entwistle,23,Canada,181,6'3,"LW, C",Right,67,5,6,...,2021-08-18,22,None,2,RFA,unrestricted,2024,800000,75,11.38
108,MacKenzie Weegar,29,Canada,200,6'0,LD/RD,Right,82,20,32,...,2022-10-07,29,NTC,8,UFA,unrestricted,2031,6250000,72,22.92

In [4768]:
replace(70,737)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
737,MacKenzie Entwistle,23,Canada,181,6'3,"LW, C",Right,67,5,6,...,2021-08-18,22,None,2,RFA,unrestricted,2024,800000,75,11.38

**Index 71**

In [4769]:
unmatched_name(71)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
744,Isac Lundestrom,ANA,ANA,L,C,46,5,6,11,-1,...,0,1,1,1,0,0,38,13.2,14.33,44.0

In [4770]:
unmatched_matches(71)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
395,Isac Lundeström,23,Sweden,191,6'0,"C, LW",Left,46,5,6,...,2022-07-25,22,None,2,RFA,restricted,2024,1800000,72,14.33

In [4771]:
replace(71,395)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
395,Isac Lundestrom,23,Sweden,191,6'0,"C, LW",Left,46,5,6,...,2022-07-25,22,None,2,RFA,restricted,2024,1800000,72,14.33

**Index 72**

In [4772]:
unmatched_name(72)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
746,Tony DeAngelo,CAR,CAR,R,D,31,3,8,11,-7,...,2,6,0,0,0,0,44,6.8,14.33,0.0

In [4773]:
unmatched_matches(72)

Empty DataFrame
Columns: [PLAYER, AGE, COUNTRY, WEIGHT, HEIGHT, POS, HANDED, GP, G, A, P, P/GP, +/-, Sh, Sh%, TOI, ixG, iSh, iCF, iFF, ixG60, iSh60, iCF60, iFF60, SF, SA, SF%, CF, CA, CF%, FF, FA, FF%, xGF, xGA, xGF%, SIGNING TEAM, EXTENSION, SIGNING DATE, SIGNING AGE, CLAUSE, LENGTH, SIGNING, EXPIRY, EXP. YEAR, AAV, HEIGHT_in, TOI_min]
Index: []

[0 rows x 48 columns]

In [4774]:
nhl_follow_up.append({'Tony DeAngelo':'no match - unmatched index 72'})

**Index 73**

In [4775]:
unmatched_name(73)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
758,Calvin de Haan,TBL,TBL,L,D,59,3,7,10,-9,...,0,0,0,0,0,0,56,5.4,16.63,0.0

In [4776]:
unmatched_matches(73)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
806,Calvin De Haan,32,Canada,195,6'1,LD/RD,Left,59,3,7,...,2023-07-02,32,None,1,UFA,unrestricted,2024,775000,73,16.62
806,Calvin De Haan,32,Canada,195,6'1,LD/RD,Left,59,3,7,...,2023-07-02,32,None,1,UFA,unrestricted,2024,775000,73,16.62

In [4777]:
replace(73,806)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
806,Calvin de Haan,32,Canada,195,6'1,LD/RD,Left,59,3,7,...,2023-07-02,32,None,1,UFA,unrestricted,2024,775000,73,16.62

**Index 74**

In [4778]:
unmatched_name(74)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
759,Josh Brown,ARI,ARI,R,D,51,3,7,10,2,...,0,0,0,0,0,1,44,6.8,14.75,0.0

In [4779]:
unmatched_matches(74)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
438,Joshua Brown,29,Canada,217,6'5,RD,Right,51,3,7,...,2022-07-13,28,None,2,UFA,unrestricted,2024,1275000,77,14.75
718,Patrick Brown,31,United States,214,5'11,"C, RW",Right,11,0,1,...,2023-07-01,31,None,2,UFA,unrestricted,2025,800000,71,8.82
843,Connor Brown,29,Canada,186,6'0,"RW, LW",Right,71,4,8,...,2023-07-01,29,None,1,UFA,unrestricted,2024,4000000,72,12.78
62,Josh Norris,24,United States,199,6'1,C,Left,50,16,14,...,2022-07-14,23,None,8,RFA,unrestricted,2030,7950000,73,17.63
112,Joshua Morrissey,28,Canada,195,6'0,LD,Left,81,10,59,...,2019-09-12,25,NMC,8,RFA,unrestricted,2028,6250000,72,24.17
151,Josh Anderson,29,Canada,227,6'3,"RW, LW",Right,78,9,11,...,2020-10-08,26,M-NTC,7,RFA,unrestricted,2027,5500000,75,15.45
212,Josh Manson,31,United States,218,6'3,RD,Right,76,8,17,...,2022-07-13,30,NTC,4,UFA,unrestricted,2026,4500000,75,17.77
438,Joshua Brown,29,Canada,217,6'5,RD,Right,51,3,7,...,2022-07-13,28,None,2,UFA,unrestricted,2024,1275000,77,14.75
512,Josh Doan,21,United States,183,6'1,RW,Right,11,5,4,...,2023-03-16,21,None,3,ELC,restricted,2026,925000,73,12.30
514,Josh Mahura,25,Canada,190,6'0,LD/RD,Left,30,0,9,...,2023-02-10,25,None,1,RFA,unrestricted,2024,925000,72,12.58
671,Joshua Roy,19,Canada,190,6'0,"LW, RW",Left,23,4,5,...,2022-03-30,18,None,3,ELC,restricted,2026,881667,72,12.13
691,Dakota Joshua,27,United States,183,6'2,LW,Left,63,18,14,...,2022-07-13,26,None,2,UFA,unrestricted,2024,825000,74,14.38

In [4780]:
replace(74,438)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
438,Josh Brown,29,Canada,217,6'5,RD,Right,51,3,7,...,2022-07-13,28,None,2,UFA,unrestricted,2024,1275000,77,14.75

**Index 75**

In [4781]:
unmatched_name(75)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
760,Gustav Lindstrom,MTL,ANA,R,D,46,3,7,10,12,...,0,0,0,0,0,0,29,10.3,15.4,0.0

In [4782]:
unmatched_matches(75)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
289,Gustav Nyquist,33,Sweden,179,5'11,"LW, RW",Left,81,23,52,...,2023-07-01,33,None,2,UFA,unrestricted,2025,3185000,71,17.73
331,Gustav Forsling,27,Sweden,186,6'0,LD,Left,79,10,29,...,2021-07-15,25,None,3,RFA,unrestricted,2024,2666667,72,22.13
494,Gustav Lindström,24,Sweden,194,6'2,RD,Right,46,3,7,...,2023-07-01,24,None,1,UFA,unrestricted,2024,950000,74,15.40
851,Gustav Olofsson,28,Sweden,200,6'2,LD,Left,1,0,0,...,2023-06-27,28,None,2,UFA,unrestricted,2025,775000,74,14.95

In [4783]:
replace(75,494)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
494,Gustav Lindstrom,24,Sweden,194,6'2,RD,Right,46,3,7,...,2023-07-01,24,None,1,UFA,unrestricted,2024,950000,74,15.4

**Index 76**

In [4784]:
unmatched_name(76)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
769,Rafael Harvey-Pinard,MTL,MTL,L,L,45,2,8,10,-2,...,0,0,0,1,0,0,26,7.7,12.63,31.7

In [4785]:
unmatched_matches(76)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
453,Rafaël Harvey-Pinard,24,Canada,184,5'9,"LW, RW",Left,45,2,8,...,2023-07-03,24,None,2,RFA,restricted,2025,1100000,69,12.63

In [4786]:
replace(76,453)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
453,Rafael Harvey-Pinard,24,Canada,184,5'9,"LW, RW",Left,45,2,8,...,2023-07-03,24,None,2,RFA,restricted,2025,1100000,69,12.63

**Index 77**

In [4787]:
unmatched_name(77)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
786,Zack Bolduc,STL,STL,L,C,25,5,4,9,0,...,0,0,0,0,0,0,38,13.2,12.02,50.0

In [4788]:
unmatched_matches(77)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
608,Zachary Bolduc,20,Canada,175,6'1,LW,Left,25,5,4,...,2021-08-24,18,None,3,ELC,restricted,2026,1275833,73,12.00
724,Samuel Bolduc,22,Canada,210,6'4,LD,Left,34,2,3,...,2023-06-20,22,None,2,RFA,restricted,2025,800000,76,13.13
694,Zack Ostapchuk,20,Canada,203,6'4,C,Left,7,0,0,...,2021-09-29,18,None,3,ELC,restricted,2026,880000,76,10.48
797,Zack MacEwen,26,Canada,205,6'3,"RW, C",Right,30,2,1,...,2023-07-06,26,None,3,UFA,unrestricted,2026,775000,75,6.38

In [4789]:
replace(77,608)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
608,Zack Bolduc,20,Canada,175,6'1,LW,Left,25,5,4,...,2021-08-24,18,None,3,ELC,restricted,2026,1275833,73,12.0

**Index 78**

In [4790]:
unmatched_name(78)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
795,Matt Coronato,CGY,CGY,R,R,34,3,6,9,-15,...,1,1,0,0,0,0,58,5.2,12.62,26.3

In [4791]:
unmatched_matches(78)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
511,Matthew Coronato,20,United States,183,5'10,RW,Right,34,3,6,...,2023-03-26,19,None,3,ELC,restricted,2025,1491667,70,12.60
3,Auston Matthews,25,United States,215,6'3,C,Left,81,69,38,...,2019-02-05,21,NMC,5,RFA,unrestricted,2024,11640250,75,20.95
16,Matthew Tkachuk,25,United States,202,6'2,RW,Left,80,26,62,...,2022-07-22,24,NMC,8,RFA,unrestricted,2030,9500000,74,18.63
87,Matthew Boldy,22,United States,196,6'2,"RW, LW",Left,75,29,40,...,2023-01-16,22,None,7,RFA,unrestricted,2030,7000000,74,18.90
110,Mattias Ekholm,33,Sweden,215,6'4,LD/RD,Left,79,11,34,...,2021-10-13,32,None,4,UFA,unrestricted,2026,6250000,76,21.03
226,Mattias Samuelsson,23,United States,218,6'4,LD,Left,41,1,6,...,2022-10-12,23,None,7,RFA,unrestricted,2030,4285714,76,20.50
261,Matt Grzelcyk,29,United States,174,5'9,LD,Left,63,2,9,...,2020-10-17,26,None,4,RFA,unrestricted,2024,3687500,69,17.58
293,Matt Roy,28,United States,200,6'1,RD,Right,81,5,20,...,2021-03-21,26,None,3,RFA,unrestricted,2024,3150000,73,20.88
300,Matt Duchene,32,Canada,195,5'11,"RW, C",Left,80,25,40,...,2023-07-01,32,None,1,UFA,unrestricted,2024,3000000,71,16.75
418,Matt Martin,34,Canada,220,6'3,"LW, RW",Left,57,4,4,...,2021-01-11,31,None,4,UFA,unrestricted,2024,1500000,75,9.30
442,Matt Benning,29,Canada,203,6'1,RD,Right,14,0,2,...,2022-07-14,28,None,4,UFA,unrestricted,2026,1250000,73,18.47
477,Mattias Janmark,30,Sweden,195,6'1,"LW, RW",Left,71,4,8,...,2023-06-30,30,None,1,UFA,unrestricted,2024,1000000,73,11.88
508,Matthew Knies,20,United States,217,6'3,"LW, RW",Left,80,15,20,...,2023-04-09,19,None,3,ELC,restricted,2025,925000,75,13.67
511,Matthew Coronato,20,United States,183,5'10,RW,Right,34,3,6,...,2023-03-26,19,None,3,ELC,restricted,2025,1491667,70,12.60
542,Matthew Savoie,19,Canada,175,5'9,C,Right,1,0,0,...,2022-07-15,18,None,3,ELC,restricted,2027,1918333,69,3.92
558,Matt Nieto,30,United States,185,5'11,"LW, RW",Left,22,1,3,...,2023-07-01,30,None,2,UFA,unrestricted,2025,900000,71,11.60
563,Matty Beniers,20,United States,175,6'2,C,Left,77,15,22,...,2022-04-10,18,None,3,ELC,restricted,2024,1850000,74,17.95
589,Matthew Kessel,23,United States,205,6'2,RD,Right,39,1,6,...,2022-03-27,22,None,2,ELC,restricted,2024,925000,74,16.78
598,Matthew Poitras,19,Canada,177,5'11,C,Right,33,5,10,...,2023-05-05,19,None,3,ELC,restricted,2026,950000,71,13.38
695,Matt Rempe,21,Canada,205,6'8,"C, RW",Right,17,1,1,...,2021-11-04,19,None,3,ELC,restricted,2025,820000,80,5.62
807,Matthew Phillips,25,Canada,140,5'7,"RW, C",Right,31,1,4,...,2023-07-02,25,None,1,UFA,unrestricted,2024,775000,67,10.17
837,Matthew Highmore,27,Canada,188,5'11,"LW, RW",Left,7,0,2,...,2023-07-01,27,None,1,UFA,unrestricted,2024,775000,71,7.70

In [4792]:
replace(78,511)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
511,Matt Coronato,20,United States,183,5'10,RW,Right,34,3,6,...,2023-03-26,19,None,3,ELC,restricted,2025,1491667,70,12.6

**Index 79**

In [4793]:
unmatched_name(79)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
821,Mitch Marner,TOR,TOR,R,R,69,26,59,85,21,...,8,27,1,1,0,2,158,16.5,21.28,25.0

In [4794]:
unmatched_matches(79)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
8,Mitchell Marner,26,Canada,180,6'0,RW,Right,69,26,59,...,2019-09-13,22,NMC,6,RFA,unrestricted,2025,10903000,72,21.27
8,Mitchell Marner,26,Canada,180,6'0,RW,Right,69,26,59,...,2019-09-13,22,NMC,6,RFA,unrestricted,2025,10903000,72,21.27
790,Ian Mitchell,24,Canada,175,5'11,RD,Right,13,0,2,...,2023-07-10,24,None,1,RFA,restricted,2024,775000,71,15.30
800,Mitchell Stephens,26,Canada,193,5'11,C,Right,23,2,1,...,2023-07-04,26,None,1,RFA,unrestricted,2024,775000,71,9.05
820,Mitchell Chaffee,25,United States,207,6'0,RW,Right,30,4,3,...,2023-07-01,25,None,1,UFA,unrestricted,2024,775000,72,11.28

In [4795]:
replace(79,8)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
8,Mitch Marner,26,Canada,180,6'0,RW,Right,69,26,59,...,2019-09-13,22,NMC,6,RFA,unrestricted,2025,10903000,72,21.27

**Index 80**

In [4796]:
unmatched_name(80)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
855,Matt Boldy,MIN,MIN,L,L,75,29,40,69,5,...,10,25,0,0,1,7,227,12.8,18.92,42.1

In [4797]:
unmatched_matches(80)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
87,Matthew Boldy,22,United States,196,6'2,"RW, LW",Left,75,29,40,...,2023-01-16,22,None,7,RFA,unrestricted,2030,7000000,74,18.90
3,Auston Matthews,25,United States,215,6'3,C,Left,81,69,38,...,2019-02-05,21,NMC,5,RFA,unrestricted,2024,11640250,75,20.95
16,Matthew Tkachuk,25,United States,202,6'2,RW,Left,80,26,62,...,2022-07-22,24,NMC,8,RFA,unrestricted,2030,9500000,74,18.63
87,Matthew Boldy,22,United States,196,6'2,"RW, LW",Left,75,29,40,...,2023-01-16,22,None,7,RFA,unrestricted,2030,7000000,74,18.90
110,Mattias Ekholm,33,Sweden,215,6'4,LD/RD,Left,79,11,34,...,2021-10-13,32,None,4,UFA,unrestricted,2026,6250000,76,21.03
226,Mattias Samuelsson,23,United States,218,6'4,LD,Left,41,1,6,...,2022-10-12,23,None,7,RFA,unrestricted,2030,4285714,76,20.50
261,Matt Grzelcyk,29,United States,174,5'9,LD,Left,63,2,9,...,2020-10-17,26,None,4,RFA,unrestricted,2024,3687500,69,17.58
293,Matt Roy,28,United States,200,6'1,RD,Right,81,5,20,...,2021-03-21,26,None,3,RFA,unrestricted,2024,3150000,73,20.88
300,Matt Duchene,32,Canada,195,5'11,"RW, C",Left,80,25,40,...,2023-07-01,32,None,1,UFA,unrestricted,2024,3000000,71,16.75
418,Matt Martin,34,Canada,220,6'3,"LW, RW",Left,57,4,4,...,2021-01-11,31,None,4,UFA,unrestricted,2024,1500000,75,9.30
442,Matt Benning,29,Canada,203,6'1,RD,Right,14,0,2,...,2022-07-14,28,None,4,UFA,unrestricted,2026,1250000,73,18.47
477,Mattias Janmark,30,Sweden,195,6'1,"LW, RW",Left,71,4,8,...,2023-06-30,30,None,1,UFA,unrestricted,2024,1000000,73,11.88
508,Matthew Knies,20,United States,217,6'3,"LW, RW",Left,80,15,20,...,2023-04-09,19,None,3,ELC,restricted,2025,925000,75,13.67
511,Matt Coronato,20,United States,183,5'10,RW,Right,34,3,6,...,2023-03-26,19,None,3,ELC,restricted,2025,1491667,70,12.60
542,Matthew Savoie,19,Canada,175,5'9,C,Right,1,0,0,...,2022-07-15,18,None,3,ELC,restricted,2027,1918333,69,3.92
558,Matt Nieto,30,United States,185,5'11,"LW, RW",Left,22,1,3,...,2023-07-01,30,None,2,UFA,unrestricted,2025,900000,71,11.60
563,Matty Beniers,20,United States,175,6'2,C,Left,77,15,22,...,2022-04-10,18,None,3,ELC,restricted,2024,1850000,74,17.95
589,Matthew Kessel,23,United States,205,6'2,RD,Right,39,1,6,...,2022-03-27,22,None,2,ELC,restricted,2024,925000,74,16.78
598,Matthew Poitras,19,Canada,177,5'11,C,Right,33,5,10,...,2023-05-05,19,None,3,ELC,restricted,2026,950000,71,13.38
695,Matt Rempe,21,Canada,205,6'8,"C, RW",Right,17,1,1,...,2021-11-04,19,None,3,ELC,restricted,2025,820000,80,5.62
807,Matthew Phillips,25,Canada,140,5'7,"RW, C",Right,31,1,4,...,2023-07-02,25,None,1,UFA,unrestricted,2024,775000,67,10.17
837,Matthew Highmore,27,Canada,188,5'11,"LW, RW",Left,7,0,2,...,2023-07-01,27,None,1,UFA,unrestricted,2024,775000,71,7.70

In [4798]:
replace(80,87)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
87,Matt Boldy,22,United States,196,6'2,"RW, LW",Left,75,29,40,...,2023-01-16,22,None,7,RFA,unrestricted,2030,7000000,74,18.9

**Index 81**

In [4799]:
unmatched_name(81)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
857,Josh Morrissey,WPG,WPG,L,D,81,10,59,69,34,...,2,19,0,0,0,1,196,5.1,24.18,0.0

In [4800]:
unmatched_matches(81)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
112,Joshua Morrissey,28,Canada,195,6'0,LD,Left,81,10,59,...,2019-09-12,25,NMC,8,RFA,unrestricted,2028,6250000,72,24.17
62,Josh Norris,24,United States,199,6'1,C,Left,50,16,14,...,2022-07-14,23,None,8,RFA,unrestricted,2030,7950000,73,17.63
112,Joshua Morrissey,28,Canada,195,6'0,LD,Left,81,10,59,...,2019-09-12,25,NMC,8,RFA,unrestricted,2028,6250000,72,24.17
151,Josh Anderson,29,Canada,227,6'3,"RW, LW",Right,78,9,11,...,2020-10-08,26,M-NTC,7,RFA,unrestricted,2027,5500000,75,15.45
212,Josh Manson,31,United States,218,6'3,RD,Right,76,8,17,...,2022-07-13,30,NTC,4,UFA,unrestricted,2026,4500000,75,17.77
438,Josh Brown,29,Canada,217,6'5,RD,Right,51,3,7,...,2022-07-13,28,None,2,UFA,unrestricted,2024,1275000,77,14.75
512,Josh Doan,21,United States,183,6'1,RW,Right,11,5,4,...,2023-03-16,21,None,3,ELC,restricted,2026,925000,73,12.30
514,Josh Mahura,25,Canada,190,6'0,LD/RD,Left,30,0,9,...,2023-02-10,25,None,1,RFA,unrestricted,2024,925000,72,12.58
671,Joshua Roy,19,Canada,190,6'0,"LW, RW",Left,23,4,5,...,2022-03-30,18,None,3,ELC,restricted,2026,881667,72,12.13
691,Dakota Joshua,27,United States,183,6'2,LW,Left,63,18,14,...,2022-07-13,26,None,2,UFA,unrestricted,2024,825000,74,14.38

In [4801]:
replace(81,112)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
112,Josh Morrissey,28,Canada,195,6'0,LD,Left,81,10,59,...,2019-09-12,25,NMC,8,RFA,unrestricted,2028,6250000,72,24.17

**Index 82**

In [4802]:
unmatched_name(82)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
882,Mike Matheson,MTL,MTL,L,D,82,11,51,62,-24,...,5,28,2,2,0,0,187,5.9,25.55,0.0

In [4803]:
unmatched_matches(82)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
193,Michael Matheson,29,Canada,196,6'2,LD,Left,82,11,51,...,2017-10-07,24,M-NTC,8,RFA,unrestricted,2026,4875000,74,25.55
214,Mike Hoffman,33,Canada,190,6'0,LW,Left,66,10,13,...,2021-07-28,31,None,3,UFA,unrestricted,2024,4500000,72,13.72
235,Mikey Anderson,24,United States,194,5'11,LD,Left,74,2,16,...,2023-02-15,24,None,8,RFA,unrestricted,2031,4125000,71,20.62
473,Mike Reilly,29,United States,200,6'1,LD,Left,61,6,18,...,2023-07-01,29,None,1,UFA,unrestricted,2024,1000000,73,17.15

In [4804]:
replace(82,193)

/Users/ness/anaconda3/lib/python3.11/site-packages/IPython/core/displayhook.py:281: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
193,Mike Matheson,29,Canada,196,6'2,LD,Left,82,11,51,...,2017-10-07,24,M-NTC,8,RFA,unrestricted,2026,4875000,74,25.55

**Index 83**

In [4805]:
unmatched_name(83)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
908,Matt Savoie,BUF,BUF,R,C,1,0,0,0,0,...,0,0,0,0,0,0,0,0.0,3.92,0.0

In [4806]:
unmatched_matches(83)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
542,Matthew Savoie,19,Canada,175,5'9,C,Right,1,0,0,...,2022-07-15,18,None,3,ELC,restricted,2027,1918333,69,3.92
3,Auston Matthews,25,United States,215,6'3,C,Left,81,69,38,...,2019-02-05,21,NMC,5,RFA,unrestricted,2024,11640250,75,20.95
16,Matthew Tkachuk,25,United States,202,6'2,RW,Left,80,26,62,...,2022-07-22,24,NMC,8,RFA,unrestricted,2030,9500000,74,18.63
87,Matt Boldy,22,United States,196,6'2,"RW, LW",Left,75,29,40,...,2023-01-16,22,None,7,RFA,unrestricted,2030,7000000,74,18.90
110,Mattias Ekholm,33,Sweden,215,6'4,LD/RD,Left,79,11,34,...,2021-10-13,32,None,4,UFA,unrestricted,2026,6250000,76,21.03
226,Mattias Samuelsson,23,United States,218,6'4,LD,Left,41,1,6,...,2022-10-12,23,None,7,RFA,unrestricted,2030,4285714,76,20.50
261,Matt Grzelcyk,29,United States,174,5'9,LD,Left,63,2,9,...,2020-10-17,26,None,4,RFA,unrestricted,2024,3687500,69,17.58
293,Matt Roy,28,United States,200,6'1,RD,Right,81,5,20,...,2021-03-21,26,None,3,RFA,unrestricted,2024,3150000,73,20.88
300,Matt Duchene,32,Canada,195,5'11,"RW, C",Left,80,25,40,...,2023-07-01,32,None,1,UFA,unrestricted,2024,3000000,71,16.75
418,Matt Martin,34,Canada,220,6'3,"LW, RW",Left,57,4,4,...,2021-01-11,31,None,4,UFA,unrestricted,2024,1500000,75,9.30
442,Matt Benning,29,Canada,203,6'1,RD,Right,14,0,2,...,2022-07-14,28,None,4,UFA,unrestricted,2026,1250000,73,18.47
477,Mattias Janmark,30,Sweden,195,6'1,"LW, RW",Left,71,4,8,...,2023-06-30,30,None,1,UFA,unrestricted,2024,1000000,73,11.88
508,Matthew Knies,20,United States,217,6'3,"LW, RW",Left,80,15,20,...,2023-04-09,19,None,3,ELC,restricted,2025,925000,75,13.67
511,Matt Coronato,20,United States,183,5'10,RW,Right,34,3,6,...,2023-03-26,19,None,3,ELC,restricted,2025,1491667,70,12.60
542,Matthew Savoie,19,Canada,175,5'9,C,Right,1,0,0,...,2022-07-15,18,None,3,ELC,restricted,2027,1918333,69,3.92
558,Matt Nieto,30,United States,185,5'11,"LW, RW",Left,22,1,3,...,2023-07-01,30,None,2,UFA,unrestricted,2025,900000,71,11.60
563,Matty Beniers,20,United States,175,6'2,C,Left,77,15,22,...,2022-04-10,18,None,3,ELC,restricted,2024,1850000,74,17.95
589,Matthew Kessel,23,United States,205,6'2,RD,Right,39,1,6,...,2022-03-27,22,None,2,ELC,restricted,2024,925000,74,16.78
598,Matthew Poitras,19,Canada,177,5'11,C,Right,33,5,10,...,2023-05-05,19,None,3,ELC,restricted,2026,950000,71,13.38
695,Matt Rempe,21,Canada,205,6'8,"C, RW",Right,17,1,1,...,2021-11-04,19,None,3,ELC,restricted,2025,820000,80,5.62
807,Matthew Phillips,25,Canada,140,5'7,"RW, C",Right,31,1,4,...,2023-07-02,25,None,1,UFA,unrestricted,2024,775000,67,10.17
837,Matthew Highmore,27,Canada,188,5'11,"LW, RW",Left,7,0,2,...,2023-07-01,27,None,1,UFA,unrestricted,2024,775000,71,7.70

In [4807]:
replace(83,542)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
542,Matt Savoie,19,Canada,175,5'9,C,Right,1,0,0,...,2022-07-15,18,None,3,ELC,restricted,2027,1918333,69,3.92

**Index 84**

In [4808]:
unmatched_name(84)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
912,Georgii Merkulov,BOS,BOS,L,C,4,0,0,0,1,...,0,0,0,0,0,0,3,0.0,10.58,21.4

In [4809]:
unmatched_matches(84)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
520,Georgi Merkulov,22,Russia,181,5'11,LW,Left,4,0,0,...,2022-04-09,21,None,3,ELC,restricted,2025,925000,71,10.57

In [4810]:
replace(84,520)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
520,Georgii Merkulov,22,Russia,181,5'11,LW,Left,4,0,0,...,2022-04-09,21,None,3,ELC,restricted,2025,925000,71,10.57

**Index 85**

In [4811]:
unmatched_name(85)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
916,Pierrick Dube,WSH,WSH,R,R,3,0,0,0,1,...,0,0,0,0,0,0,3,0.0,9.33,0.0

In [4812]:
unmatched_matches(85)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
362,Dillon Dube,24,Canada,187,5'11,"LW, RW, C",Left,43,3,4,...,2021-08-26,22,None,3,RFA,unrestricted,2024,2300000,71,11.15
595,Pierrick Dubé,22,Other,170,5'9,RW,Right,3,0,0,...,2023-07-01,22,None,2,ELC,restricted,2025,950000,69,9.32

In [4813]:
replace(85,595)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
595,Pierrick Dube,22,Other,170,5'9,RW,Right,3,0,0,...,2023-07-01,22,None,2,ELC,restricted,2025,950000,69,9.32

<H3> Check remaining mismatched names

In [4814]:
#find remaining unmatched players from nhl_cleaned
nhl_cleaned[~nhl_players.isin(capfriendly['PLAYER'])]

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
472,Collin Graf,SJS,SJS,R,R,7,0,2,2,-4,...,0,1,0,0,0,0,7,0.0,16.60,0.0
746,Tony DeAngelo,CAR,CAR,R,D,31,3,8,11,-7,...,2,6,0,0,0,0,44,6.8,14.33,0.0

In [4815]:
#find index number from nhl_follow_up
nhl_follow_up

[{'Player': 'ensure change to Sebastian Aho (C) or Sebastian Aho (D)'},
 {'collin graf missing': 'missing from capfriendly - unmatched index 47'},
 {'Tony DeAngelo': 'no match - unmatched index 72'}]

**Re-examine: unmatched index 47 for partial matches for Collin Graf**

In [4816]:
#name in nhl_cleaned
unmatched_name(47)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
472,Collin Graf,SJS,SJS,R,R,7,0,2,2,-4,...,0,1,0,0,0,0,7,0.0,16.6,0.0

In [4817]:
# use partial matches of names to find matches in capfriendly - to_list() returned too many for df to show

#potential partiel matches tried:
#capfriendly[capfriendly.PLAYER.str.contains('Col')]
#capfriendly[capfriendly.PLAYER.str.contains('ol')]
#capfriendly[capfriendly.PLAYER.str.contains('in')]['PLAYER'].to_list()
#capfriendly[capfriendly.PLAYER.str.contains('Gr')]
#capfriendly[capfriendly.PLAYER.str.contains('af')]
#capfriendly[capfriendly.PLAYER.str.contains('ra')]['PLAYER'].to_list()

'capfreindly does not have data for "Collin Graf"'

'capfreindly does not have data for "Collin Graf"'

In [4818]:
#drop row for collin Graf at index
nhl_cleaned = nhl_cleaned.drop(index=472, axis=0)

In [4819]:
#confirm droppend index
nhl_cleaned.shape

(923, 24)

In [4820]:
#reset index for nhl_cleaned
nhl_cleaned = nhl_cleaned.reset_index(drop=True)

In [4821]:
#confirm index reset
nhl_cleaned.iloc[[472]]

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
472,Justin Dowling,NJD,NJD,L,C,2,1,0,1,-2,...,0,0,0,0,0,0,3,33.3,10.53,30.8

In [4822]:
#remove colin graph follow up from nhl_follow_up
nhl_follow_up.pop(1)

#confirm
nhl_follow_up

[{'Player': 'ensure change to Sebastian Aho (C) or Sebastian Aho (D)'},
 {'Tony DeAngelo': 'no match - unmatched index 72'}]

**Re-examine: unmatched index 77 for partial matches for Tony DeAngelo**

In [4823]:
#name in nhl_cleaned
unmatched_name(72)

,Player,Team_start,Team_end,Shoots,Pos,GP,G,A,P,+/-,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI_min,FOW%
746,Tony DeAngelo,CAR,CAR,R,D,31,3,8,11,-7,...,2,6,0,0,0,0,44,6.8,14.33,0.0

In [4824]:
# use partial matches of names to find matches in capfriendly
capfriendly[capfriendly.PLAYER.str.contains('gel')]

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
35,Alex Pietrangelo,33,Canada,210,6'3,RD,Right,64,4,29,...,2020-10-12,30,NMC,7,UFA,unrestricted,2027,8800000,75,23.55
326,Warren Foegele,27,Canada,198,6'2,"LW, RW",Left,82,20,21,...,2021-07-31,25,None,3,RFA,unrestricted,2024,2750000,74,13.97
405,Anthony Deangelo,27,United States,180,5'11,RD,Right,31,3,8,...,2023-07-24,27,None,1,UFA,unrestricted,2024,1675000,71,14.33
416,Brandon Hagel,24,Canada,175,6'0,LW,Left,82,26,49,...,2021-08-06,22,None,3,RFA,restricted,2024,1500000,72,19.25
499,Sam Colangelo,21,United States,205,6'2,RW,Right,3,1,0,...,2024-04-11,21,None,2,ELC,restricted,2025,1300000,74,12.55
738,Luke Evangelista,21,Canada,166,5'11,RW,Right,80,16,23,...,2020-11-09,18,None,3,ELC,restricted,2025,896667,71,13.95

In [4825]:
# replace name name founf from parial match for Tony DeAngelo
replace(72,405)

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
405,Tony DeAngelo,27,United States,180,5'11,RD,Right,31,3,8,...,2023-07-24,27,None,1,UFA,unrestricted,2024,1675000,71,14.33

In [4826]:
#remove Tony DeAngelo follow up from nhl_follow_up
nhl_follow_up.pop(1)

#confirm
nhl_follow_up

[{'Player': 'ensure change to Sebastian Aho (C) or Sebastian Aho (D)'}]

**Confirm no more mismatched Player names**

In [4827]:
nhl_cleaned[~nhl_cleaned.Player.isin(capfriendly['PLAYER'])]

Empty DataFrame
Columns: [Player, Team_start, Team_end, Shoots, Pos, GP, G, A, P, +/-, PIM, P/GP, EVG, EVP, PPG, PPP, SHG, SHP, OTG, GWG, S, S%, TOI_min, FOW%]
Index: []

[0 rows x 24 columns]

**Since Sebastian Aho (C) or Sebastian Aho (D) did not appear in 'mismatched_nhl' they were successfully changed in both dataframes and can be removed form capfriendly_follow_up**

In [4828]:
#remove Sebastian Aho changes from nhl_follow_up
nhl_follow_up.pop(0)

#confirm
nhl_follow_up

[]

<h3>Explore remining follow up items from capfriendly_follow_up

In [4829]:
capfriendly_follow_up

[{'POS': 'drop after join?  too many positions'},
 {'PLAYER': 'revisit to change player names after cleaning NHL official data'},
 {'capfriendly_clean_columns': 'create cleaned df after fixing player data to match nhl data'}]

In [4830]:
#capfriendly_follow_up[1] 'PLAYER' has already been addressed 
#with previous player name matching and therefor can be removed from capfriendly_follow_up
capfriendly_follow_up.pop(1)

#confirm
capfriendly_follow_up

[{'POS': 'drop after join?  too many positions'},
 {'capfriendly_clean_columns': 'create cleaned df after fixing player data to match nhl data'}]

<h4>Change capfriendly['POS'] to categorical varriable

nhl_cleaned['Pos'] has the official position but capfriendly['POS'] can be used to represent if they play multiple positions.

In [4831]:
#review unique values
capfriendly['POS'].value_counts()

POS
RD           127
LD           119
LW, RW       106
C            105
RW            76
RW, LW        69
LD/RD         66
LW            65
C, LW         56
C, RW         38
LW, C         34
RW, C         28
C, LW, RW     13
LW, C, RW      7
RW, C, LW      4
LD/RD, LW      3
LW, RW, C      3
C, RW, LW      2
D              1
RW, LW, C      1
Name: count, dtype: int64

In [4832]:
#list of single positions
single_pos = ['RD', 'LD', 'D', 'LW', 'RW', 'C']

In [4833]:
#capfriendly before change
capfriendly

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
0,Nathan MacKinnon,27,Canada,200,6'0,C,Right,82,51,89,...,2022-09-20,27,NMC,8,UFA,unrestricted,2031,12600000,72,22.80
1,Connor McDavid,26,Canada,193,6'1,C,Left,76,32,100,...,2017-07-05,21,NMC,8,RFA,unrestricted,2026,12500000,73,21.35
2,Artemi Panarin,31,Russia,170,5'11,LW,Right,82,49,71,...,2019-07-01,27,NMC,7,UFA,unrestricted,2026,11642857,71,20.12
3,Auston Matthews,25,United States,215,6'3,C,Left,81,69,38,...,2019-02-05,21,NMC,5,RFA,unrestricted,2024,11640250,75,20.95
4,Erik Karlsson,33,Sweden,190,6'0,RD,Right,82,11,45,...,2019-06-17,29,NMC,8,UFA,unrestricted,2027,11500000,72,24.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,Jalen Chatfield,27,United States,188,6'1,RD,Right,72,8,14,...,2022-01-21,26,None,2,RFA,unrestricted,2024,762500,73,15.18
919,Parker Kelly,24,Canada,188,6'0,LW,Left,80,8,10,...,2021-10-12,23,None,2,RFA,unrestricted,2024,762500,72,11.70
920,Boris Katchouk,25,Canada,179,6'1,LW,Left,59,7,6,...,2021-07-31,23,None,3,RFA,unrestricted,2024,758333,73,11.47
921,Taylor Raddysh,25,Canada,198,6'2,RW,Right,73,5,9,...,2021-07-30,23,None,3,RFA,unrestricted,2024,758333,74,15.87
922,Alex Barré-Boulet,26,Canada,168,5'9,"RW, LW",Left,36,6,3,...,2021-07-30,24,None,3,RFA,unrestricted,2024,758333,69,11.18

In [4834]:
#change position in single positions list to True
capfriendly.loc[~capfriendly['POS'].isin(single_pos), 'POS'] = True

#change position not in single positions list to False
capfriendly.loc[capfriendly['POS'].isin(single_pos), 'POS'] = False

In [4835]:
#confirm
capfriendly['POS'].unique()

array([False, True], dtype=object)

In [4836]:
#rename column ['POS'] to ['POS_multi']
capfriendly = capfriendly.rename(columns={'POS':'POS_multi'})

#confirm all ['POS'] changes
capfriendly

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT,POS_multi,HANDED,GP,G,A,...,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV,HEIGHT_in,TOI_min
0,Nathan MacKinnon,27,Canada,200,6'0,False,Right,82,51,89,...,2022-09-20,27,NMC,8,UFA,unrestricted,2031,12600000,72,22.80
1,Connor McDavid,26,Canada,193,6'1,False,Left,76,32,100,...,2017-07-05,21,NMC,8,RFA,unrestricted,2026,12500000,73,21.35
2,Artemi Panarin,31,Russia,170,5'11,False,Right,82,49,71,...,2019-07-01,27,NMC,7,UFA,unrestricted,2026,11642857,71,20.12
3,Auston Matthews,25,United States,215,6'3,False,Left,81,69,38,...,2019-02-05,21,NMC,5,RFA,unrestricted,2024,11640250,75,20.95
4,Erik Karlsson,33,Sweden,190,6'0,False,Right,82,11,45,...,2019-06-17,29,NMC,8,UFA,unrestricted,2027,11500000,72,24.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,Jalen Chatfield,27,United States,188,6'1,False,Right,72,8,14,...,2022-01-21,26,None,2,RFA,unrestricted,2024,762500,73,15.18
919,Parker Kelly,24,Canada,188,6'0,False,Left,80,8,10,...,2021-10-12,23,None,2,RFA,unrestricted,2024,762500,72,11.70
920,Boris Katchouk,25,Canada,179,6'1,False,Left,59,7,6,...,2021-07-31,23,None,3,RFA,unrestricted,2024,758333,73,11.47
921,Taylor Raddysh,25,Canada,198,6'2,False,Right,73,5,9,...,2021-07-30,23,None,3,RFA,unrestricted,2024,758333,74,15.87
922,Alex Barré-Boulet,26,Canada,168,5'9,True,Left,36,6,3,...,2021-07-30,24,None,3,RFA,unrestricted,2024,758333,69,11.18

In [4837]:
#review capfriendly_follow_up
capfriendly_follow_up

[{'POS': 'drop after join?  too many positions'},
 {'capfriendly_clean_columns': 'create cleaned df after fixing player data to match nhl data'}]

In [4838]:
#remove 'POS' capfriendly_follow_up
capfriendly_follow_up.pop(0)

#confirm
capfriendly_follow_up

[{'capfriendly_clean_columns': 'create cleaned df after fixing player data to match nhl data'}]

**Update capfriendly_clean_columns after POS_multi change**

In [4839]:
#identify index of 'POS'
capfriendly_clean_columns.index('POS')

5

In [4840]:
#replace 'POS' with 'POS_multi' in capfriendly_clean_columns
capfriendly_clean_columns[5] = 'POS_multi'

#confirm
capfriendly_clean_columns

['PLAYER',
 'AGE',
 'COUNTRY',
 'WEIGHT',
 'HEIGHT_in',
 'POS_multi',
 'HANDED',
 'GP',
 'G',
 'A',
 'P',
 'P/GP',
 '+/-',
 'Sh',
 'Sh%',
 'TOI_min',
 'ixG',
 'iSh',
 'iCF',
 'iFF',
 'ixG60',
 'iSh60',
 'iCF60',
 'iFF60',
 'SF',
 'SA',
 'SF%',
 'CF',
 'CA',
 'CF%',
 'FF',
 'FA',
 'FF%',
 'xGF',
 'xGA',
 'xGF%',
 'SIGNING TEAM',
 'EXTENSION',
 'SIGNING DATE',
 'SIGNING AGE',
 'CLAUSE',
 'LENGTH',
 'SIGNING',
 'EXPIRY',
 'EXP. YEAR',
 'AAV']

<h3>Create capfriendly_cleaned and save as .csv

In [4841]:
capfriendly_cleaned = capfriendly[capfriendly_clean_columns]

#confirm
capfriendly_cleaned

,PLAYER,AGE,COUNTRY,WEIGHT,HEIGHT_in,POS_multi,HANDED,GP,G,A,...,SIGNING TEAM,EXTENSION,SIGNING DATE,SIGNING AGE,CLAUSE,LENGTH,SIGNING,EXPIRY,EXP. YEAR,AAV
0,Nathan MacKinnon,27,Canada,200,72,False,Right,82,51,89,...,COL,True,2022-09-20,27,NMC,8,UFA,unrestricted,2031,12600000
1,Connor McDavid,26,Canada,193,73,False,Left,76,32,100,...,EDM,True,2017-07-05,21,NMC,8,RFA,unrestricted,2026,12500000
2,Artemi Panarin,31,Russia,170,71,False,Right,82,49,71,...,NYR,False,2019-07-01,27,NMC,7,UFA,unrestricted,2026,11642857
3,Auston Matthews,25,United States,215,75,False,Left,81,69,38,...,TOR,True,2019-02-05,21,NMC,5,RFA,unrestricted,2024,11640250
4,Erik Karlsson,33,Sweden,190,72,False,Right,82,11,45,...,SJS,True,2019-06-17,29,NMC,8,UFA,unrestricted,2027,11500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,Jalen Chatfield,27,United States,188,73,False,Right,72,8,14,...,CAR,True,2022-01-21,26,None,2,RFA,unrestricted,2024,762500
919,Parker Kelly,24,Canada,188,72,False,Left,80,8,10,...,OTT,True,2021-10-12,23,None,2,RFA,unrestricted,2024,762500
920,Boris Katchouk,25,Canada,179,73,False,Left,59,7,6,...,TBL,False,2021-07-31,23,None,3,RFA,unrestricted,2024,758333
921,Taylor Raddysh,25,Canada,198,74,False,Right,73,5,9,...,TBL,False,2021-07-30,23,None,3,RFA,unrestricted,2024,758333
922,Alex Barré-Boulet,26,Canada,168,69,True,Left,36,6,3,...,TBL,False,2021-07-30,24,None,3,RFA,unrestricted,2024,758333

<h4> Export cleaned capfrienly df to .csv

In [4842]:
#Save capfriendly_cleaned to capfriendly_cleaned.csv
#comment out after saving to not save multiples

#create path
cap_cleaned_path = "/Users/ness/Desktop/Springboard/Projects/-Capstone 2/NHL Salaries/clean_data/capfriendly_cleaned.csv"

#save
#capfriendly_cleaned.to_csv(cap_cleaned_path, index=False)

<h2> Merge capfriendly_cleaned with nhl_cleaned

In [4843]:
f'capfriendly_cleaned shape: {capfriendly_cleaned.shape} and nhl_cleaned shape: {nhl_cleaned.shape}'

'capfriendly_cleaned shape: (923, 46) and nhl_cleaned shape: (923, 24)'

In [4844]:
#Merge on shared columns
nhl_salaries = pd.merge(nhl_cleaned, capfriendly_cleaned, left_on=['Player','GP', 'G', 'A', 'P'],
                     right_on=['PLAYER', 'GP', 'G', 'A', 'P'])

Player names are all the same.  If 'GP', 'G', 'A', 'P' are the same fpr each player in both df the length of the merged df dhould be 923

In [4845]:
nhl_salaries.shape

(923, 66)

In [4846]:
nhl_salaries.columns

Index(['Player', 'Team_start', 'Team_end', 'Shoots', 'Pos', 'GP', 'G', 'A',
       'P', '+/-_x', 'PIM', 'P/GP_x', 'EVG', 'EVP', 'PPG', 'PPP', 'SHG', 'SHP',
       'OTG', 'GWG', 'S', 'S%', 'TOI_min_x', 'FOW%', 'PLAYER', 'AGE',
       'COUNTRY', 'WEIGHT', 'HEIGHT_in', 'POS_multi', 'HANDED', 'P/GP_y',
       '+/-_y', 'Sh', 'Sh%', 'TOI_min_y', 'ixG', 'iSh', 'iCF', 'iFF', 'ixG60',
       'iSh60', 'iCF60', 'iFF60', 'SF', 'SA', 'SF%', 'CF', 'CA', 'CF%', 'FF',
       'FA', 'FF%', 'xGF', 'xGA', 'xGF%', 'SIGNING TEAM', 'EXTENSION',
       'SIGNING DATE', 'SIGNING AGE', 'CLAUSE', 'LENGTH', 'SIGNING', 'EXPIRY',
       'EXP. YEAR', 'AAV'],
      dtype='object')

<h3> Explore duplicate columns and their differnece

<h4> Explore duplicate columns with same names

In [4847]:
#list of duplicate columns
dup = ['+/-_x', '+/-_y','P/GP_x', 'P/GP_y', 'TOI_min_x', 'TOI_min_y']

These columns should have the same values but when i tried to merge on them they df was not the correct length so there aresome calues that are different.

**difference in '+/-'**

In [4848]:
#find difference in '+/-'
nhl_salaries[nhl_salaries['+/-_x']!= nhl_salaries['+/-_y']]

Empty DataFrame
Columns: [Player, Team_start, Team_end, Shoots, Pos, GP, G, A, P, +/-_x, PIM, P/GP_x, EVG, EVP, PPG, PPP, SHG, SHP, OTG, GWG, S, S%, TOI_min_x, FOW%, PLAYER, AGE, COUNTRY, WEIGHT, HEIGHT_in, POS_multi, HANDED, P/GP_y, +/-_y, Sh, Sh%, TOI_min_y, ixG, iSh, iCF, iFF, ixG60, iSh60, iCF60, iFF60, SF, SA, SF%, CF, CA, CF%, FF, FA, FF%, xGF, xGA, xGF%, SIGNING TEAM, EXTENSION, SIGNING DATE, SIGNING AGE, CLAUSE, LENGTH, SIGNING, EXPIRY, EXP. YEAR, AAV]
Index: []

[0 rows x 66 columns]

**difference in 'P/GP'**

In [4849]:
#find difference in 'P/GP'
nhl_salaries[nhl_salaries['P/GP_x']!= nhl_salaries['P/GP_y']]

Empty DataFrame
Columns: [Player, Team_start, Team_end, Shoots, Pos, GP, G, A, P, +/-_x, PIM, P/GP_x, EVG, EVP, PPG, PPP, SHG, SHP, OTG, GWG, S, S%, TOI_min_x, FOW%, PLAYER, AGE, COUNTRY, WEIGHT, HEIGHT_in, POS_multi, HANDED, P/GP_y, +/-_y, Sh, Sh%, TOI_min_y, ixG, iSh, iCF, iFF, ixG60, iSh60, iCF60, iFF60, SF, SA, SF%, CF, CA, CF%, FF, FA, FF%, xGF, xGA, xGF%, SIGNING TEAM, EXTENSION, SIGNING DATE, SIGNING AGE, CLAUSE, LENGTH, SIGNING, EXPIRY, EXP. YEAR, AAV]
Index: []

[0 rows x 66 columns]

In [4850]:
#find difference in 'TOI_min'
nhl_salaries[nhl_salaries['TOI_min_x']!= nhl_salaries['TOI_min_y']][['TOI_min_x','TOI_min_y']]

     TOI_min_x  TOI_min_y
3        22.15      22.13
4        23.83      23.82
6        21.97      21.95
14       17.77      17.75
15       16.52      16.50
..         ...        ...
909      11.67      11.65
911      10.58      10.57
912      14.73      14.72
913      11.57      11.55
915       9.33       9.32

[413 rows x 2 columns]

Values are similar but slightly different likely due to rounding. I will keep the offical TOI_min from nhl_cleaned (TOI_min_x) and drop TOI_min from capfriendly_cleaned (TOI_min_y) at a later step.

**Initiate list of duplicate columns to drop later**

In [4851]:
#Creat a list of duplicate columns to drop later 
merged_drop = ['TOI_min_y']

**Update shared columns and Re-merge**

In [4852]:
#update shared columns and Re-merge
nhl_salaries = pd.merge(nhl_cleaned, capfriendly_cleaned, left_on=['Player','GP', 'G', 'A', 'P','+/-','P/GP'],
                     right_on=['PLAYER', 'GP', 'G', 'A', 'P','+/-','P/GP'])

In [4853]:
nhl_salaries.columns

Index(['Player', 'Team_start', 'Team_end', 'Shoots', 'Pos', 'GP', 'G', 'A',
       'P', '+/-', 'PIM', 'P/GP', 'EVG', 'EVP', 'PPG', 'PPP', 'SHG', 'SHP',
       'OTG', 'GWG', 'S', 'S%', 'TOI_min_x', 'FOW%', 'PLAYER', 'AGE',
       'COUNTRY', 'WEIGHT', 'HEIGHT_in', 'POS_multi', 'HANDED', 'Sh', 'Sh%',
       'TOI_min_y', 'ixG', 'iSh', 'iCF', 'iFF', 'ixG60', 'iSh60', 'iCF60',
       'iFF60', 'SF', 'SA', 'SF%', 'CF', 'CA', 'CF%', 'FF', 'FA', 'FF%', 'xGF',
       'xGA', 'xGF%', 'SIGNING TEAM', 'EXTENSION', 'SIGNING DATE',
       'SIGNING AGE', 'CLAUSE', 'LENGTH', 'SIGNING', 'EXPIRY', 'EXP. YEAR',
       'AAV'],
      dtype='object')

<h4> Explore duplicate columns with different names

**'Player' and 'PLAYER' both represet 'player name'**

In [4854]:
#add 'PLAYER' to drop list
merged_drop.append('PLAYER')

**'S' and 'Sh' both represet 'shots taken'**

In [4855]:
#explore differences in shots
nhl_salaries[nhl_salaries['S']!= nhl_salaries['Sh']]

Empty DataFrame
Columns: [Player, Team_start, Team_end, Shoots, Pos, GP, G, A, P, +/-, PIM, P/GP, EVG, EVP, PPG, PPP, SHG, SHP, OTG, GWG, S, S%, TOI_min_x, FOW%, PLAYER, AGE, COUNTRY, WEIGHT, HEIGHT_in, POS_multi, HANDED, Sh, Sh%, TOI_min_y, ixG, iSh, iCF, iFF, ixG60, iSh60, iCF60, iFF60, SF, SA, SF%, CF, CA, CF%, FF, FA, FF%, xGF, xGA, xGF%, SIGNING TEAM, EXTENSION, SIGNING DATE, SIGNING AGE, CLAUSE, LENGTH, SIGNING, EXPIRY, EXP. YEAR, AAV]
Index: []

[0 rows x 64 columns]

The values are all the same.  I will keep the offical shot count from nhl_cleaned (S) and drop the shot count from capfriendly_cleaned (Sh) at a later step.

In [4856]:
#append 'Sh' to merged_drop
merged_drop.append('Sh')

**'S%' and 'Sh%' both represet 'shots percentage' which is the percent of shots that resulted in a goal**

In [4857]:
#explore differences in shots
nhl_salaries[nhl_salaries['S%']!= nhl_salaries['Sh%']][['S%','Sh%']]

       S%   Sh%
0     7.2  0.07
1     7.8  0.08
2     6.5  0.06
3     6.3  0.06
4     5.7  0.06
..    ...   ...
894  11.5  0.11
895  14.2  0.14
896  10.8  0.11
897   8.5  0.09
898   4.1  0.04

[748 rows x 2 columns]

The values are equal but are formatted differenly.  I will keep the offical shot percent from nhl_cleaned (S%) and drop shot percent from capfriendly_cleaned (Sh%) at a later step.

In [4858]:
#append 'Sh' to merged_drop
merged_drop.append('Sh%')

<h4>Drop duplicate columns: 'TOI_min_y', 'Sh', 'Sh%'

In [4859]:
#view columns to drop
merged_drop

['TOI_min_y', 'PLAYER', 'Sh', 'Sh%']

In [4860]:
#drop columns and save df
nhl_salaries = nhl_salaries.drop(columns=merged_drop)

<h2> Format and arrange columns to final format

Numeric columns that represent in season stats with stay capitalized, all other columns will change to lower case

In [4861]:
nhl_salaries.columns

Index(['Player', 'Team_start', 'Team_end', 'Shoots', 'Pos', 'GP', 'G', 'A',
       'P', '+/-', 'PIM', 'P/GP', 'EVG', 'EVP', 'PPG', 'PPP', 'SHG', 'SHP',
       'OTG', 'GWG', 'S', 'S%', 'TOI_min_x', 'FOW%', 'AGE', 'COUNTRY',
       'WEIGHT', 'HEIGHT_in', 'POS_multi', 'HANDED', 'ixG', 'iSh', 'iCF',
       'iFF', 'ixG60', 'iSh60', 'iCF60', 'iFF60', 'SF', 'SA', 'SF%', 'CF',
       'CA', 'CF%', 'FF', 'FA', 'FF%', 'xGF', 'xGA', 'xGF%', 'SIGNING TEAM',
       'EXTENSION', 'SIGNING DATE', 'SIGNING AGE', 'CLAUSE', 'LENGTH',
       'SIGNING', 'EXPIRY', 'EXP. YEAR', 'AAV'],
      dtype='object')

In [4862]:
basic_stats = ['GP', 'G', 'A', 'P', '+/-', 'PIM', 'P/GP', 'EVG', 'EVP', 'PPG', 'PPP', 'SHG', 'SHP', 'OTG', 'GWG', 'S', 'S%','TOI_min_x', 'FOW%']

In [4863]:
advanced_stats = ['ixG', 'iSh', 'iCF', 'iFF', 'ixG60', 'iSh60', 'iCF60', 'iFF60', 'SF', 'SA', 'SF%', 'CF', 'CA', 'CF%', 'FF', 'FA', 'FF%', 'xGF', 'xGA', 'xGF%']

In [4864]:
player_details = ['Player', 'Team_start', 'Team_end', 'Shoots', 'Pos', 'AGE', 'COUNTRY', 'WEIGHT', 'HEIGHT_in', 'POS_multi', 'HANDED', 'SIGNING TEAM', 'EXTENSION', 'SIGNING DATE', 'SIGNING AGE', 'CLAUSE', 'LENGTH', 'SIGNING', 'EXPIRY', 'EXP. YEAR', 'AAV']

**Convert 'player_details' columns to lowercase**

In [4865]:
#convert player_details columns to lowercase and replace spaces with underscore
nhl_salaries.columns = [col.lower().replace(' ', '_') if col in player_details else col for col in nhl_salaries.columns]

In [4866]:
#confirm lowecase changes
nhl_salaries.columns

Index(['player', 'team_start', 'team_end', 'shoots', 'pos', 'GP', 'G', 'A',
       'P', '+/-', 'PIM', 'P/GP', 'EVG', 'EVP', 'PPG', 'PPP', 'SHG', 'SHP',
       'OTG', 'GWG', 'S', 'S%', 'TOI_min_x', 'FOW%', 'age', 'country',
       'weight', 'height_in', 'pos_multi', 'handed', 'ixG', 'iSh', 'iCF',
       'iFF', 'ixG60', 'iSh60', 'iCF60', 'iFF60', 'SF', 'SA', 'SF%', 'CF',
       'CA', 'CF%', 'FF', 'FA', 'FF%', 'xGF', 'xGA', 'xGF%', 'signing_team',
       'extension', 'signing_date', 'signing_age', 'clause', 'length',
       'signing', 'expiry', 'exp._year', 'aav'],
      dtype='object')

**Rename 'TOI_min_x' and 'exp._year' to remove unwanted characters**

In [4867]:
#rename 'TOI_min_x' to 'TOI_min' and 'exp._year' to 'exp_year'
nhl_salaries = nhl_salaries.rename(columns = {'TOI_min_x':'TOI_min', 'exp._year':'exp_year'})

In [4868]:
nhl_salaries.columns

Index(['player', 'team_start', 'team_end', 'shoots', 'pos', 'GP', 'G', 'A',
       'P', '+/-', 'PIM', 'P/GP', 'EVG', 'EVP', 'PPG', 'PPP', 'SHG', 'SHP',
       'OTG', 'GWG', 'S', 'S%', 'TOI_min', 'FOW%', 'age', 'country', 'weight',
       'height_in', 'pos_multi', 'handed', 'ixG', 'iSh', 'iCF', 'iFF', 'ixG60',
       'iSh60', 'iCF60', 'iFF60', 'SF', 'SA', 'SF%', 'CF', 'CA', 'CF%', 'FF',
       'FA', 'FF%', 'xGF', 'xGA', 'xGF%', 'signing_team', 'extension',
       'signing_date', 'signing_age', 'clause', 'length', 'signing', 'expiry',
       'exp_year', 'aav'],
      dtype='object')

**Update basic_stats to reflect column name changes**

In [4869]:
#copy basic_stats to create basic_stats_updated
basic_stats_updated = basic_stats.copy()

#find index of TOI_min_x and replace 'TOI_min_x' with 'TOI_min' at index 
basic_stats_updated[basic_stats_updated.index('TOI_min_x')] = 'TOI_min'

#confirm changes
basic_stats_updated

['GP',
 'G',
 'A',
 'P',
 '+/-',
 'PIM',
 'P/GP',
 'EVG',
 'EVP',
 'PPG',
 'PPP',
 'SHG',
 'SHP',
 'OTG',
 'GWG',
 'S',
 'S%',
 'TOI_min',
 'FOW%']

**Update player_details to reflect column name changes**

In [4870]:
#update player_details
player_details_updated = ['player', 'team_start', 'team_end', 'shoots', 'pos', 'age', 'country', 'weight', 
                          'height_in', 'pos_multi', 'handed', 'signing_team', 'extension', 'signing_date', 
                          'signing_age', 'clause', 'length', 'signing', 'expiry', 'exp_year', 'aav']

**Create list of columns in their final order**

In [4871]:
#initiate list with 'player' names first in list
final_layout=['player']

#extend list with basic_stats
final_layout.extend(basic_stats_updated)

#extend list with advanced_stats
final_layout.extend(advanced_stats)

#extend list with player_details excluding 'player' names at index 0
final_layout.extend(player_details_updated[1:])


final_layout

['player',
 'GP',
 'G',
 'A',
 'P',
 '+/-',
 'PIM',
 'P/GP',
 'EVG',
 'EVP',
 'PPG',
 'PPP',
 'SHG',
 'SHP',
 'OTG',
 'GWG',
 'S',
 'S%',
 'TOI_min',
 'FOW%',
 'ixG',
 'iSh',
 'iCF',
 'iFF',
 'ixG60',
 'iSh60',
 'iCF60',
 'iFF60',
 'SF',
 'SA',
 'SF%',
 'CF',
 'CA',
 'CF%',
 'FF',
 'FA',
 'FF%',
 'xGF',
 'xGA',
 'xGF%',
 'team_start',
 'team_end',
 'shoots',
 'pos',
 'age',
 'country',
 'weight',
 'height_in',
 'pos_multi',
 'handed',
 'signing_team',
 'extension',
 'signing_date',
 'signing_age',
 'clause',
 'length',
 'signing',
 'expiry',
 'exp_year',
 'aav']

In [4872]:
#confirm all columns included in final_layout
len(final_layout)==len(nhl_salaries.columns)

True

In [4873]:
nhl_salaries[final_layout].head()

,player,GP,G,A,P,+/-,PIM,P/GP,EVG,EVP,...,signing_team,extension,signing_date,signing_age,clause,length,signing,expiry,exp_year,aav
0,Mikael Backlund,82,15,24,39,-4,24,0.48,12,34,...,CGY,True,2018-02-16,29,NMC,6,UFA,unrestricted,2024,5350000
1,Scott Laughton,82,13,26,39,-9,69,0.48,10,26,...,PHI,True,2021-04-12,27,None,5,UFA,unrestricted,2026,3000000
2,Evan Rodrigues,80,12,27,39,26,34,0.49,9,29,...,FLA,False,2023-07-02,29,None,4,UFA,unrestricted,2027,3000000
3,Gustav Forsling,79,10,29,39,56,43,0.49,9,37,...,FLA,True,2021-07-15,25,None,3,RFA,unrestricted,2024,2666667
4,Rasmus Andersson,78,9,30,39,-11,47,0.50,8,30,...,CGY,True,2020-01-08,23,None,6,RFA,unrestricted,2026,4550000

<h2>Create nhl_salaries_cleaned

In [4874]:
#create final df
nhl_salaries_cleaned = nhl_salaries[final_layout]

In [4875]:
nhl_salaries_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 60 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player        923 non-null    object
 1   GP            923 non-null    int64
 2   G             923 non-null    int64
 3   A             923 non-null    int64
 4   P             923 non-null    int64
 5   +/-           923 non-null    int64
 6   PIM           923 non-null    int64
 7   P/GP          923 non-null    float64
 8   EVG           923 non-null    int64
 9   EVP           923 non-null    int64
 10  PPG           923 non-null    int64
 11  PPP           923 non-null    int64
 12  SHG           923 non-null    int64
 13  SHP           923 non-null    int64
 14  OTG           923 non-null    int64
 15  GWG           923 non-null    int64
 16  S             923 non-null    int64
 17  S%            923 non-null    float64
 18  TOI_min       923 non-null    float64
 19  FOW%          923 non-null    float64
 20  ixG           923 non-null    float64
 21  iSh           923 non-null    int64
 22  iCF           923 non-null    int64
 23  iFF           923 non-null    int64
 24  ixG60         923 non-null    float64
 25  iSh60         923 non-null    float64
 26  iCF60         923 non-null    float64
 27  iFF60         923 non-null    float64
 28  SF            923 non-null    int64
 29  SA            923 non-null    int64
 30  SF%           923 non-null    float64
 31  CF            923 non-null    int64
 32  CA            923 non-null    int64
 33  CF%           923 non-null    float64
 34  FF            923 non-null    int64
 35  FA            923 non-null    int64
 36  FF%           923 non-null    float64
 37  xGF           923 non-null    float64
 38  xGA           923 non-null    float64
 39  xGF%          923 non-null    float64
 40  team_start    923 non-null    category
 41  team_end      923 non-null    category
 42  shoots        923 non-null    category
 43  pos           923 non-null    category
 44  age           923 non-null    int64
 45  country       923 non-null    category
 46  weight        923 non-null    int64
 47  height_in     923 non-null    int64
 48  pos_multi     923 non-null    object
 49  handed        923 non-null    category
 50  signing_team  923 non-null    category
 51  extension     923 non-null    object
 52  signing_date  923 non-null    datetime64[ns]
 53  signing_age   923 non-null    int64
 54  clause        923 non-null    category
 55  length        923 non-null    int64
 56  signing       923 non-null    category
 57  expiry        923 non-null    category
 58  exp_year      923 non-null    int64
 59  aav           923 non-null    int64
dtypes: category(10), datetime64[ns](1), float64(15), int64(31), object(3)
memory usage: 374.7+ KB

**Save to .csv**

In [4876]:
#create path
salaries_cleaned_path = "/Users/ness/Desktop/Springboard/Projects/-Capstone 2/NHL Salaries/clean_data/nhl_salaries_cleaned.csv"

#save
nhl_cleaned.to_csv(salaries_cleaned_path, index=False)

<h2> Follow up:

* below are two functions to show df without outliers and to show df with only outliers. I briefly elplored outliers here but felt it was more appropriate for the EDA phase.

<h4>Define function to calculate IQR and outliers

In [ ]:
def subset_by_iqr(df, column, whisker_width=1.5):
    """Remove outliers from a dataframe by column, including optional 
    #  whiskers, removing rows for which the column value are 
    #   less than Q1-1.5IQR or greater than Q3+1.5IQR.
    Args:
        df (`:obj:pd.DataFrame`): A pandas dataframe to subset
        column (str): Name of the column to calculate the subset from.
        whisker_width (float): Optional, loosen the IQR filter by a
                               factor of `whisker_width` * IQR.
    Returns:
        (`:obj:pd.DataFrame`): Filtered dataframe
    """
    # Calculate Q1, Q2 and IQR
    q1 = df[column].quantile(0.25)                 
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    print(f"q1 = {q1}, q3 = {q3}, and IQR = {iqr}")
    # Apply filter with respect to IQR, including optional whiskers
   
    filter = (df[column] >= q1 - whisker_width*iqr) & (df[column] <= q3 + whisker_width*iqr)
    return df.loc[filter]

In [ ]:
def outliers(df, column, whisker_width=1.5):
    '''shows outliers'''
    """... from a dataframe by column, including optional 
    #  whiskers, removing rows for which the column value are 
    #   less than Q1-1.5IQR or greater than Q3+1.5IQR.
    Args:
        df (`:obj:pd.DataFrame`): A pandas dataframe to subset
        column (str): Name of the column to calculate the subset from.
        whisker_width (float): Optional, loosen the IQR filter by a
                               factor of `whisker_width` * IQR.
    Returns:
        (`:obj:pd.DataFrame`): Filtered dataframe
    """
    # Calculate Q1, Q2 and IQR
    q1 = df[column].quantile(0.25)                 
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    print(f"q1 = {q1}, q3 = {q3}, and IQR = {q1 - whisker_width*iqr} to {q3 + whisker_width*iqr}")
    # Apply filter with respect to IQR, including optional whiskers
    filter = (df[column] >= q1 - whisker_width*iqr) & (df[column] <= q3 + whisker_width*iqr)
    return df.loc[~filter]