<h2>NOTE FOR GRADER<h2>  SQL code for questions 11 and 13 work in the PHPMyadmin server but  I can't figure out how to convert to make them work here.  Guidance would be appreciated.

/* PART 2: SQLite
/* We now want you to jump over to a local instance of the database on your machine. 

Copy and paste the LocalSQLConnection.py script into an empty Jupyter notebook, and run it. 

Make sure that the SQLFiles folder containing thes files is in your working directory, and
that you haven't changed the name of the .db file from 'sqlite\db\pythonsqlite'.

You should see the output from the initial query 'SELECT * FROM FACILITIES'.

Complete the remaining tasks in the Jupyter interface. If you struggle, feel free to go back
to the PHPMyAdmin interface as and when you need to. 

You'll need to paste your query into value of the 'query1' variable and run the code block again to get an output.
 
QUESTIONS:
/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */


/* Q12: Find the facilities with their usage by member, but not guests */


/* Q13: Find the facilities usage by month, but not guests */

In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

__/* Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members! */__

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        with cte AS(
            SELECT f.name AS facility_name,
            b.memid,
            b.facid AS facid,
            b.slots,
            f.membercost,
            f.guestcost,
            CASE WHEN m.memid = 0 THEN (b.slots* f.guestcost)
                when m.memid <> 0 THEN (b.slots * f.membercost) END AS revenue
        FROM Bookings b 
        LEFT JOIN Facilities f
        USING(facid)
        LEFT JOIN Members m 
        USING(memid))
    SELECT facility_name, SUM(revenue) as total_revenue
    FROM cte
    GROUP BY facid
    HAVING SUM(revenue) < 1000
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks for Q10")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks for Q10
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

__/* Q11: Produce a report of members and who recommended them in alphabetic surname, firstname order */__

In [4]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT CONCAT_WS(", ", m.surname, m.firstname) AS member_name, 
                CASE when m.recommendedby <> 0  then CONCAT_WS(", ", r.surname, r.firstname) 
                    when m.recommendedby = 0  then null end AS recommender_name
        FROM Members as m 
        INNER JOIN Members as r 
        ON m.recommendedby = r.memid
        Order By member_name
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks for Q10")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks for Q10

OperationalError: no such function: CONCAT_WS

__Note on Q11: I've tried CONCAT_WS() and CONCAT() and neither are working__

__/* Q12: Find the facilities with their usage by member, but not guests */__

In [5]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.facid, 
            f.name AS facility_name,
            b.memid,
            COUNT(b.memid) AS member_usage
        FROM Bookings b 
        LEFT JOIN Facilities f
        USING(facid)
        LEFT JOIN Members m 
        USING(memid)
        Group by b.memid, f.name 
        HAVING b.memid <> 0
        ORDER BY f.facid, m.memid
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks for ")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks for
(0, 'Tennis Court 1', 2, 30)
(0, 'Tennis Court 1', 3, 6)
(0, 'Tennis Court 1', 4, 19)
(0, 'Tennis Court 1', 5, 57)
(0, 'Tennis Court 1', 6, 31)
(0, 'Tennis Court 1', 7, 25)
(0, 'Tennis Court 1', 8, 4)
(0, 'Tennis Court 1', 9, 1)
(0, 'Tennis Court 1', 10, 17)
(0, 'Tennis Court 1', 11, 25)
(0, 'Tennis Court 1', 12, 6)
(0, 'Tennis Court 1', 13, 1)
(0, 'Tennis Court 1', 14, 22)
(0, 'Tennis Court 1', 15, 1)
(0, 'Tennis Court 1', 16, 14)
(0, 'Tennis Court 1', 17, 16)
(0, 'Tennis Court 1', 20, 1)
(0, 'Tennis Court 1', 22, 7)
(0, 'Tennis Court 1', 24, 5)
(0, 'Tennis Court 1', 26, 9)
(0, 'Tennis Court 1', 28, 6)
(0, 'Tennis Court 1', 35, 4)
(0, 'Tennis Court 1', 36, 1)
(1, 'Tennis Court 2', 1, 19)
(1, 'Tennis Court 2', 2, 2)
(1, 'Tennis Court 2', 3, 6)
(1, 'Tennis Court 2', 4, 8)
(1, 'Tennis Court 2', 5, 3)
(1, 'Tennis Court 2', 6, 3)
(1, 'Tennis Court 2', 7, 11)
(1, 'Tennis Court 2', 8, 52)
(1, 'Tennis Court 2', 9, 31)
(1, 'Tennis Court 2', 10, 41)
(1, 'Tennis Court 2', 11, 30)
(1, 'Tennis Court 2', 12, 35)
(1, 'Tennis Court 2', 13, 1)
(1, 'Tennis Court 2', 14, 1)
(1, 'Tennis Court 2', 15, 8)
(1, 'Tennis Court 2', 16, 7)
(1, 'Tennis Court 2', 24, 11)
(1, 'Tennis Court 2', 27, 1)
(1, 'Tennis Court 2', 28, 1)
(1, 'Tennis Court 2', 30, 1)
(1, 'Tennis Court 2', 35, 4)
(2, 'Badminton Court', 1, 132)
(2, 'Badminton Court', 2, 32)
(2, 'Badminton Court', 3, 4)
(2, 'Badminton Court', 5, 20)
(2, 'Badminton Court', 6, 2)
(2, 'Badminton Court', 7, 10)
(2, 'Badminton Court', 8, 12)
(2, 'Badminton Court', 9, 16)
(2, 'Badminton Court', 10, 6)
(2, 'Badminton Court', 11, 8)
(2, 'Badminton Court', 12, 10)
(2, 'Badminton Court', 13, 7)
(2, 'Badminton Court', 14, 12)
(2, 'Badminton Court', 15, 9)
(2, 'Badminton Court', 16, 7)
(2, 'Badminton Court', 17, 7)
(2, 'Badminton Court', 21, 30)
(2, 'Badminton Court', 24, 7)
(2, 'Badminton Court', 26, 2)
(2, 'Badminton Court', 29, 4)
(2, 'Badminton Court', 30, 2)
(2, 'Badminton Court', 33, 1)
(2, 'Badminton Court', 35, 2)
(2, 'Badminton Court', 36, 2)
(3, 'Table Tennis', 1, 28)
(3, 'Table Tennis', 2, 28)
(3, 'Table Tennis', 3, 69)
(3, 'Table Tennis', 4, 9)
(3, 'Table Tennis', 5, 1)
(3, 'Table Tennis', 6, 24)
(3, 'Table Tennis', 7, 5)
(3, 'Table Tennis', 8, 4)
(3, 'Table Tennis', 9, 3)
(3, 'Table Tennis', 10, 24)
(3, 'Table Tennis', 11, 11)
(3, 'Table Tennis', 12, 1)
(3, 'Table Tennis', 13, 12)
(3, 'Table Tennis', 14, 5)
(3, 'Table Tennis', 15, 42)
(3, 'Table Tennis', 16, 24)
(3, 'Table Tennis', 17, 17)
(3, 'Table Tennis', 20, 26)
(3, 'Table Tennis', 21, 16)
(3, 'Table Tennis', 22, 21)
(3, 'Table Tennis', 24, 3)
(3, 'Table Tennis', 29, 3)
(3, 'Table Tennis', 30, 6)
(3, 'Table Tennis', 35, 1)
(3, 'Table Tennis', 36, 2)
(4, 'Massage Room 1', 1, 28)
(4, 'Massage Room 1', 2, 6)
(4, 'Massage Room 1', 3, 80)
(4, 'Massage Room 1', 4, 12)
(4, 'Massage Room 1', 5, 32)
(4, 'Massage Room 1', 6, 31)
(4, 'Massage Room 1', 7, 19)
(4, 'Massage Room 1', 8, 36)
(4, 'Massage Room 1', 9, 19)
(4, 'Massage Room 1', 10, 11)
(4, 'Massage Room 1', 11, 19)
(4, 'Massage Room 1', 12, 3)
(4, 'Massage Room 1', 13, 29)
(4, 'Massage Room 1', 14, 27)
(4, 'Massage Room 1', 16, 24)
(4, 'Massage Room 1', 17, 3)
(4, 'Massage Room 1', 20, 25)
(4, 'Massage Room 1', 21, 1)
(4, 'Massage Room 1', 22, 1)
(4, 'Massage Room 1', 24, 8)
(4, 'Massage Room 1', 29, 1)
(4, 'Massage Room 1', 33, 1)
(4, 'Massage Room 1', 35, 3)
(4, 'Massage Room 1', 36, 2)
(5, 'Massage Room 2', 3, 2)
(5, 'Massage Room 2', 4, 2)
(5, 'Massage Room 2', 5, 1)
(5, 'Massage Room 2', 7, 5)
(5, 'Massage Room 2', 10, 2)
(5, 'Massage Room 2', 11, 4)
(5, 'Massage Room 2', 12, 2)
(5, 'Massage Room 2', 14, 1)
(5, 'Massage Room 2', 15, 2)
(5, 'Massage Room 2', 20, 1)
(5, 'Massage Room 2', 22, 2)
(5, 'Massage Room 2', 24, 3)
(6, 'Squash Court', 1, 14)
(6, 'Squash Court', 2, 6)
(6, 'Squash Court', 4, 14)
(6, 'Squash Court', 5, 9)
(6, 'Squash Court', 6, 35)
(6, 'Squash Court', 8, 12)
(6, 'Squash Court', 9, 2)
(6, 'Squash Court', 10, 7)
(6, 'Squash Court', 11, 8)
(6, 'Squash Court', 12, 49)
(6, 'Squash Court', 13, 8)
(6, 'Squash Court', 14, 9)
(6, 'Squash Court', 15, 2)
(6, 'Squash Court', 16, 5)
(6, 'Squash Court', 17, 3)
(6, 'Squash Court', 21, 2)
(6, 'Squash Court', 22, 1)
(6, 'Squash Court', 24, 2)
(6, 'Squash Court', 26, 1)
(6, 'Squash Court', 27, 2)
(6, 'Squash Court', 28, 1)
(6, 'Squash Court', 30, 1)
(6, 'Squash Court', 33, 1)
(6, 'Squash Court', 35, 1)
(7, 'Snooker Table', 1, 12)
(7, 'Snooker Table', 2, 45)
(7, 'Snooker Table', 4, 68)
(7, 'Snooker Table', 5, 34)
(7, 'Snooker Table', 6, 20)
(7, 'Snooker Table', 7, 23)
(7, 'Snooker Table', 8, 43)
(7, 'Snooker Table', 9, 20)
(7, 'Snooker Table', 10, 22)
(7, 'Snooker Table', 11, 2)
(7, 'Snooker Table', 13, 21)
(7, 'Snooker Table', 14, 5)
(7, 'Snooker Table', 15, 33)
(7, 'Snooker Table', 17, 16)
(7, 'Snooker Table', 20, 1)
(7, 'Snooker Table', 21, 7)
(7, 'Snooker Table', 22, 10)
(7, 'Snooker Table', 24, 18)
(7, 'Snooker Table', 27, 14)
(7, 'Snooker Table', 28, 1)
(7, 'Snooker Table', 30, 1)
(7, 'Snooker Table', 33, 5)
(8, 'Pool Table', 1, 28)
(8, 'Pool Table', 2, 61)
(8, 'Pool Table', 3, 241)
(8, 'Pool Table', 4, 27)
(8, 'Pool Table', 5, 6)
(8, 'Pool Table', 6, 30)
(8, 'Pool Table', 7, 19)
(8, 'Pool Table', 8, 25)
(8, 'Pool Table', 9, 12)
(8, 'Pool Table', 10, 1)
(8, 'Pool Table', 11, 8)
(8, 'Pool Table', 12, 12)
(8, 'Pool Table', 13, 1)
(8, 'Pool Table', 14, 7)
(8, 'Pool Table', 15, 23)
(8, 'Pool Table', 16, 85)
(8, 'Pool Table', 17, 9)
(8, 'Pool Table', 20, 18)
(8, 'Pool Table', 21, 70)
(8, 'Pool Table', 22, 11)
(8, 'Pool Table', 24, 13)
(8, 'Pool Table', 26, 2)
(8, 'Pool Table', 27, 3)
(8, 'Pool Table', 28, 25)
(8, 'Pool Table', 29, 33)
(8, 'Pool Table', 30, 5)
(8, 'Pool Table', 33, 8)

__/* Q13: Find the facilities usage by month, but not guests */__

In [6]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT b.facid, 
            f.name AS facility_name,
            EXTRACT(MONTH FROM b.starttime) AS month,
            COUNT(EXTRACT(MONTH FROM b.starttime)) AS mo_usage
        FROM (SELECT *
              FROM Bookings 
              WHERE memid <> 0) AS b
        LEFT JOIN Facilities f
        ON b.facid = f.facid
        Group BY b.facid, EXTRACT(MONTH FROM starttime)
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

OperationalError: near "FROM": syntax error